Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

chore: add prefix to colors variables
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/color/_code-colors.scss
Labels: foundations

refactor: readded these contents again
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
  showcases/angular-showcase/src/app/components/form/form.component.html
Labels: documentation, components

refactor: aligning this with the input component
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

refactor: enabling children
  packages/components/scripts/post-build/components.js
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

docs: added react examples
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
Labels: none

chore: update from main
  package-lock.json
Labels: none

refactor: updated and tested with Angular and React
  packages/components/scripts/post-build/components.js
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
Labels: components

refactor: current state for Vue
  showcases/vue-showcase/src/components/form/Form.vue
Labels: none

fix: issue with link spacing
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  packages/components/src/components/link/link.scss
Labels: components

refactor: we need to prevent the textareas content from being prettyfied, as this would result in whitespace within the elements initial content
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

feat: added vues default values
  showcases/vue-showcase/src/components/form/Form.vue
Labels: none

docs: html
  packages/components/src/components/textarea/docs/HTML.md
Labels: documentation, components

docs: added correct HTML
  packages/components/src/components/textarea/index.html
Labels: components

Update navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

Update packages/components/src/components/main-navigation/docs/HTML.md
  packages/components/src/components/main-navigation/docs/HTML.md
Labels: documentation, components

fix: all colors in components to work with dark-mode
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/tag-components.scss
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/db-ui-foundations.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: foundations, components

chore: update tabs in color-placeholders-generator.js
  packages/foundations/scripts/color-placeholders-generator.js
Labels: foundations

fix: issue with component border
  packages/components/src/components/alert/alert.scss
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

fix: issue with card snapshots
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral-3.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral-4.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-secondary.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-0.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-1.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-3.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-4.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-secondary.png
  __snapshots__/card/component/mobile-safari/DBCard-should-match-screenshot-for-color-variant-neutral-3.png
  __snapshots__/card/component/mobile-safari/DBCard-should-match-screenshot-for-color-variant-neutral-4.png
  __snapshots__/card/component/mobile-safari/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/mobile-safari/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/mobile-safari/DBCard-should-match-screenshot-for-color-variant-secondary.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral-0.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral-1.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral-3.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral-4.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/webkit/DBCard-should-match-screenshot-for-color-variant-secondary.png
  packages/components/src/components/card/card.spec.tsx
Labels: components

fix: remaining issues with wrong colors
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
  showcases/patternhub/styles/globals.scss
Labels: components

fix: issue with jscpd not loading config for lint-staged
  .husky/pre-commit
  .lintstagedrc
Labels: none

chore: update snapshots
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Labels: none

fix: issue with empty meta-navigation and wrong screen overwrite
  packages/components/src/components/header/header.scss
Labels: components

fix: issue with transition duration for outline
  packages/foundations/scss/_init.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations

fix: issue from PR
  packages/foundations/scss/_init.scss
  packages/foundations/scss/db-ui-foundations.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: foundations

Update select.scss
  packages/components/src/components/select/select.scss
Labels: components

Update .jscpd.json
  .jscpd.json
Labels: none

Update link.scss
  packages/components/src/components/link/link.scss
Labels: components

chore: update snapshots
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/select/select.lite.tsx
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

feat: add emphasis for divider
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/model.ts
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/helpers/_functions.scss
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
Labels: foundations, components

refactor: cicd install process
  .github/actions/npm-cache/action.yml
  .github/scripts/cleanup-gh-pages.js
  .github/workflows/00-init.yml
Labels: cicd

fix: enabled bahmutov/npm-install as default
  .github/actions/npm-cache/action.yml
  .github/workflows/00-init.yml
Labels: cicd

fix: revert bahmutov/npm-install
  .github/actions/npm-cache/action.yml
Labels: cicd

fix: only use setup-node for install
  .github/actions/npm-cache/action.yml
Labels: cicd

fix: enable cache for node_modules
  .github/actions/npm-cache/action.yml
Labels: cicd

test: playwright cache
  .github/actions/playwright-cache/action.yml
  .github/workflows/00-init.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

chore: update textarea examples for showcases
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/shared/textarea.json
Labels: components

fix: issues with wrong cache
  .github/actions/playwright-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

chore: update nav-item.tsx
  showcases/patternhub/components/navigation/nav-item.tsx
Labels: none

test: install playwright dependencies
  .github/actions/playwright-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
