Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

Update button.spec.tsx
  packages/components/src/components/button/button.spec.tsx
Labels: components

fix: issue with cicd release.yml
  .github/workflows/release.yml
  README.md
Labels: cicd, documentation

fix: issue with build-outputs
  output/react/tsconfig.json
Labels: none

feat: unified showcases
  .xo-config.json
  packages/components/src/components/header/header.scss
  packages/components/src/components/page/page.scss
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.component.ts
  showcases/angular-current-showcase/src/main.ts
  showcases/angular-lts-showcase/src/app/app.component.html
  showcases/angular-lts-showcase/src/app/app.component.ts
  showcases/angular-lts-showcase/src/app/app.module.ts
  showcases/angular-lts-showcase/src/main.ts
  showcases/angular-showcase/README.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/app.routing.module.ts
  showcases/angular-showcase/src/app/components/form/form.component.css
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/angular-showcase/tsconfig.json
Labels: documentation, components

chore: update section logic
  packages/components/src/components/page/page.scss
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/foundations/style-dictionary.js
  packages/foundations/tokens/screens.json
  showcases/react-showcase/src/app.tsx
Labels: foundations, components

chore: update angular-showcase
  .xo-config.json
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/header/header.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/utils/index.ts
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-lts-showcase/src/styles.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/app.routing.module.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/button/button.component.scss
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.scss
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.scss
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
Labels: components

fix: error for angular using color classes
  packages/components/src/components/page/page.scss
  showcases/angular-current-showcase/angular.json
  showcases/angular-lts-showcase/angular.json
Labels: components

fix: issue with page main
  packages/components/src/components/page/page.scss
Labels: components

chore: update react showcase
  package-lock.json
  packages/components/src/shared/constants.ts
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/index.html
  showcases/react-showcase/package.json
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/button/index.scss
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/form/index.scss
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/input/index.scss
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/index.scss
  showcases/react-showcase/src/main.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: components

fix: input variant style angular
  packages/components/src/components/input/input.scss
Labels: components

fix: icon position for iconAfter
  packages/components/src/components/input/input.scss
Labels: components

chore: update from main
  package-lock.json
Labels: none

chore: update vue showcase
  package-lock.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/index.html
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/button/index.scss
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/index.scss
  showcases/vue-showcase/src/components/input/Input.vue
  showcases/vue-showcase/src/components/input/index.scss
  showcases/vue-showcase/src/index.scss
  showcases/vue-showcase/src/main.ts
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: none

chore: update vanilla showcase
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/model.ts
  packages/components/src/components/page/page.scss
  showcases/vanilla-showcase/index.html
  showcases/vanilla-showcase/main.js
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/button/index.css
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vanilla-showcase/src/components/form/index.css
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.css
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vanilla-showcase/src/index.css
  showcases/vanilla-showcase/src/main.js
  showcases/vanilla-showcase/src/utils/navigation-items.js
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: components

chore: update vanilla showcase
  packages/components/_templates/mitosis/new/css.ejs.t
  packages/components/_templates/mitosis/new/scss.ejs.t
  packages/components/scripts/post-build/wc.js
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/helpers/_shadow-dom.scss
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/react-showcase/src/components/button/index.tsx
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/button/index.css
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.css
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vanilla-showcase/src/main.js
  showcases/vanilla-showcase/src/utils/get-query-params.js
  showcases/vue-showcase/src/components/button/Button.vue
Labels: foundations, components

Update constants.ts
  packages/components/src/shared/constants.ts
Labels: components

chore: fix link
  package-lock.json
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/model.ts
Labels: components

test: 💍 Add npm run script for screenshot regeneration
  package.json
Labels: none

chore: Update README.md
  README.md
Labels: documentation

feat: add docker-compose to run e2e tests and regenerate screenshots
  .gitignore
  README.md
  e2e/.env
  e2e/Dockerfile
  e2e/docker-compose.regenerate.yml
  e2e/docker-compose.yml
  e2e/package-lock.json
  e2e/package.json
  output/react/package.json
  packages/components/test/playwright/config.ts
Labels: documentation, components

fix: issue with reactwind
  showcases/reactwind-showcase/package.json
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: none

fix: issue with icons
  packages/components/scripts/post-build/components.js
  packages/components/src/components/icon/icon-wc.scss
  packages/components/src/components/icon/icon.scss
  showcases/patternhub/styles/globals.scss
  showcases/vanilla-showcase/package.json
Labels: components

fix: issue with cleanup gh-pages
  .github/scripts/cleanup-gh-pages.js
  README.md
Labels: cicd, documentation

Update .github/scripts/cleanup-gh-pages.js
  .github/scripts/cleanup-gh-pages.js
Labels: cicd

feat: add deployment for web-components and vanilla showcase
  .github/scripts/publish-npm.sh
  .github/workflows/03-deploy-gh-pages.yml
  .gitignore
  README.md
  output/webcomponent/README.md
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/scripts/post-build/wc.js
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/showcases/vanilla/index.tsx
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/vite.config.js
Labels: cicd, documentation, components

fix: issues from PR
  README.md
  e2e/README.md
  e2e/docker-compose.regenerate.yml
  e2e/package.json
  output/react/package.json
Labels: documentation

fix: issues with button tests
  packages/components/src/components/button/button.spec.tsx
Labels: components

feat: add husky hooks for auto-install
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Labels: none

feat: add update pr for push to main
  .github/scripts/update-prs.js
  .github/workflows/update-prs.yml
Labels: cicd

feat: add package.json sorting
  examples/angular-example/package.json
  examples/react-example/package.json
  examples/vue-example/package.json
  output/angular/package.json
  output/react/package.json
  output/vue/vue3/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/eslint/package.json
  packages/foundations/package.json
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/reactwind-showcase/package.json
  showcases/svelte-showcase/package.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/package.json
Labels: foundations, components, examples

fix: issue with order in package.json
  package.json
Labels: none

fix: issue with order in package.json
  packages/foundations/package.json
Labels: foundations

fix: issue from PR
  package.json
Labels: none

fix: issue with sorting in package.json
  showcases/react-showcase/package.json
  showcases/reactwind-showcase/package.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/package.json
Labels: none

fix: issue from PR
  .github/scripts/update-prs.js
  .github/workflows/update-prs.yml
Labels: cicd

feat: add new linters
  .github/scripts/build-gh-page.sh
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .husky/post-checkout
  .prettierrc.json
  CODEOWNERS
  package-lock.json
  package.json
Labels: cicd

feat: add jscpd as linter
  .jscpd.json
  package-lock.json
  package.json
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
Labels: components

fix: issue with update prs
  .github/workflows/update-prs.yml
  package-lock.json
Labels: cicd

fix: issue with jscpd config
  .jscpd.json
Labels: none

fix: issue from PR
  .jscpd.json
Labels: none

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
