Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

chore: update snapshots and documentation
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  package-lock.json
  packages/components/src/components/navigation-item/docs/Angular.md
  packages/components/src/components/navigation-item/docs/HTML.md
  packages/components/src/components/navigation-item/docs/React.md
  packages/components/src/components/navigation-item/docs/Vue.md
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  showcases/angular-showcase/src/app/components/main-navigation/main-navigation.component.html
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Labels: documentation, components

chore: update package-lock.json
  package-lock.json
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: none

fix: add fixedHeight for navigation-item tests
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  showcases/e2e/default.ts
  showcases/e2e/fixtures/viewport.ts
  showcases/e2e/navigation-item/showcase-navigation-item.spec.ts
Labels: none

fix: add custom escape key for drawer to close it with/without backdrop
  packages/components/src/components/drawer/drawer.lite.tsx
Labels: components

fix: issue with prettier async
  showcases/patternhub/scripts/get-code-files.js
Labels: none

feat: add script to resolve external badges as svg to reduce calls on external sites
  .husky/pre-commit
  README.md
  docs/images/download/Contributor Covenant-2.0-4baaaa.licence
  docs/images/download/Contributor Covenant-2.0-4baaaa.svg
  docs/images/download/Conventional Commits-1.0.0-yellow.licence
  docs/images/download/Conventional Commits-1.0.0-yellow.svg
  docs/images/download/License-Apache_2.0-blue.licence
  docs/images/download/License-Apache_2.0-blue.svg
  docs/images/download/PRs-welcome-brightgreen.licence
  docs/images/download/PRs-welcome-brightgreen.svg
  docs/images/download/Part of-DB UX Design System Core-d7dce1.licence
  docs/images/download/Part of-DB UX Design System Core-d7dce1.svg
  docs/images/download/code_style-XO-5ed9c7.licence
  docs/images/download/code_style-XO-5ed9c7.svg
  docs/images/download/code_style-prettier-ff69b4.licence
  docs/images/download/code_style-prettier-ff69b4.svg
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  output/webcomponent/README.md
  package-lock.json
  package.json
  packages/components/README.md
  packages/foundations/README.md
  scripts/md-resolve-svg.js
Labels: documentation, foundations, components

chore: update package-lock.json
  package-lock.json
Labels: none

Update package.json
  package.json
Labels: none

Update .husky/pre-commit
  .husky/pre-commit
Labels: none

fix: enabled keyboard navigation for navigation
  package-lock.json
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: components

chore: use correct aria for disabled
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

refactor: rename showSubNavigation property
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
Labels: components

chore: rename data-variant=ia to interactive
  packages/foundations/scripts/color-classes-generator.js
  packages/foundations/scripts/color-placeholders-generator.js
Labels: foundations

feat: add stylelint-use-logical to support all languages
  .stylelintrc.json
  package-lock.json
  package.json
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/section/section.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_dialog-init.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/helpers/_a11y.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: foundations, components

refactor: removed withText from DBIcon, use DBInfotext instead
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/model.ts
Labels: components

fix: styling issues with alert
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  showcases/e2e/alert/showcase-alert.spec.ts
  showcases/shared/alert.json
Labels: components

fix: issues with alert for angular
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  packages/components/src/components/alert/alert.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/shared/alert.json
Labels: components

fix: issues with alert for mobile showcases
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  packages/components/src/components/alert/alert.scss
  showcases/shared/alert.json
Labels: components

Update input.scss
  packages/components/src/components/input/input.scss
Labels: components

Update packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.scss
Labels: components

Update packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.scss
Labels: components

fix: navigation for patternhub
  showcases/patternhub/components/navigation/index.tsx
Labels: none

fix: navigation for patternhub
  showcases/patternhub/components/navigation/index.tsx
Labels: none

fix: issues with main-navigation.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
Labels: components

feat: add screen mixin to control "force-mobile" for header
  .stylelintrc.json
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/styles/db-puls.scss
  packages/components/src/utils/index.ts
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

fix: issue with documentation
  packages/components/src/components/header/model.ts
Labels: components

fix: issue with navigation chevron
  README.md
  package-lock.json
  packages/components/src/components/main-navigation/main-navigation.scss
  showcases/patternhub/components/navigation/nav-item.tsx
Labels: documentation, components

fix: issue with navigation for patternhub
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/generate-docs-mdx.js
Labels: none

fix: issue with md files resolving images
  README.md
  docs/images/download/Contributor_Covenant-2.0-4baaaa.licence
  docs/images/download/Contributor_Covenant-2.0-4baaaa.svg
  docs/images/download/Conventional_Commits-1.0.0-yellow.licence
  docs/images/download/Conventional_Commits-1.0.0-yellow.svg
  docs/images/download/Part_of-DB_UX_Design_System_Core-d7dce1.licence
  docs/images/download/Part_of-DB_UX_Design_System_Core-d7dce1.svg
  docs/images/download/npm-ed1c24.licence
  docs/images/download/npm-ed1c24.svg
  output/README.md
  packages/components/README.md
  packages/foundations/README.md
  scripts/md-resolve-svg.js
  showcases/patternhub/.gitignore
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
Labels: documentation, foundations, components

fix: issue with md files resolving images
  README.md
  output/README.md
Labels: documentation

fix: issue with md files resolving images
  README.md
  output/README.md
Labels: documentation

fix: issue navigation for patternhub
  showcases/patternhub/components/navigation/index.tsx
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/package.json
Labels: none

fix: issue with scripts order
  showcases/patternhub/package.json
Labels: none

chore: update snapshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  showcases/e2e/alert/showcase-alert.spec.ts
Labels: none

fix: issue with non local images
  showcases/patternhub/pages/_app.tsx
Labels: none

fix: issue with non local images
  showcases/patternhub/pages/_app.tsx
Labels: none

refactor: prettyfied
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: cicd

fix: reduce deleted files for npm run dev
  output/react/package.json
  package-lock.json
  package.json
Labels: none

refactor: rename tag type to emphasis
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
