Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

fix: issue with angular build for textarea
  packages/components/scripts/post-build/components.js
Labels: components

test: playwright cache
  .github/actions/npm-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

test: playwright cache
  .github/workflows/02-e2e.yml
Labels: cicd

chore: update snapshots
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
Labels: none

test: sharding for playwright
  .github/actions/npm-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-e2e-merge-reports.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Labels: cicd, components

fix: colors for tag to work with dark-mode
  packages/components/src/styles/tag-components.scss
Labels: components

fix: issue with blob report
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

chore: shorten playwright job names
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with showcase blob report
  .github/workflows/02-e2e-showcases.yml
  showcases/playwright.config.ts
Labels: cicd

fix: number of sharding for showcases
  .github/workflows/02-e2e-showcases.yml
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Labels: cicd, components

chore: update snapshots
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
Labels: components

fix: issue with drawer header not aligned correctly
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
Labels: components

fix: tag colors for strong emphasis
  packages/components/src/styles/tag-components.scss
Labels: components

fix: tag colors for strong emphasis
  packages/components/src/styles/tag-components.scss
Labels: components

feat: add accordion behaviour for angular an react
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tab-bar/model.ts
  packages/components/src/components/tag/tag.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/form-components.scss
  packages/foundations/scss/animation/_animations.scss
  packages/foundations/scss/color/_color-variants.scss
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.html
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
  showcases/vue-showcase/src/components/accordion/Accordion.vue
Labels: foundations, components

refactor: next export is deprecated
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
Labels: none

refactor: icon variants
  .jscpd.json
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/index.html
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/index.html
  packages/components/src/components/button/model.ts
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/index.html
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/index.html
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/index.html
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/form-components.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: foundations, components

fix: issue with element color for infotext
  .github/workflows/03-e2e-merge-reports.yml
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-safari/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/webkit/DBSelect-should-match-screenshot.png
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/infotext/infotext.scss
Labels: cicd, components

fix: issue with building showcase
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: made merge-reports an always job
  .github/workflows/default.yml
  .github/workflows/release.yml
Labels: cicd

chore: removed always from merge-reports
  .github/workflows/03-e2e-merge-reports.yml
Labels: cicd

fix: issue with wrong active router link
  showcases/patternhub/components/navigation/nav-item.tsx
Labels: none

fix: content break for link
  packages/components/src/components/link/link.scss
Labels: components

fix: issue with uuid inside node context
  packages/components/src/utils/index.ts
Labels: components

fix: review feedback
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/foundations/scss/db-ui-foundations.scss
Labels: foundations, components

fix: issue with wrong tonality icons
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations, components

fix: issue with foundations for color transitions and tonality icons
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/db-ui-foundations.scss
Labels: foundations

chore: update snapshots
  __snapshots__/accordion-item/component/mobile-safari/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/component/webkit/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-chrome/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-safari/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/component/mobile-safari/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/component/webkit/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
Labels: none

fix: issues from PR
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/form-components.scss
  packages/foundations/scss/icon/_icons.helpers.scss
Labels: foundations, components

fix: issues with wrong import
  packages/components/src/components/button/button.scss
Labels: components

fix: db font-family for power apps
  packages/foundations/scss/_tonality.scss
Labels: foundations

fix: issues with message icon and update snapshots
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/select/select.scss
  packages/components/src/utils/index.ts
Labels: components

fix: min height for header with brand only
  packages/components/src/components/header/header.scss
Labels: components

fix: issue with justify-content: end because it has mixed support
  packages/components/src/components/header/header.scss
Labels: components

fix: issues with mobile header
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
Labels: components

fix: add missing id for components to use them from DOM or e2e tests
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Labels: components

fix: issue with mobile header wrong padding and not hidden on desktop
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
Labels: components

chore: update from main
  packages/components/src/components/accordion/index.html
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/textarea/textarea.scss
Labels: components

chore: update textarea props and screenshots
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/radio/model.ts
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/textarea/docs/HTML.md
  packages/components/src/components/textarea/docs/Migration.md
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
  showcases/shared/textarea.json
  showcases/vue-showcase/src/components/accordion/Accordion.vue
  showcases/vue-showcase/src/components/textarea/Textarea.vue
Labels: documentation, components

fix: issue with docs
  packages/components/src/components/textarea/model.ts
Labels: components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
