Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: issue four build process
  build-power-apps/DBUI/DBUI.cdsproj
Labels: none

fix: issues for eslint when generating new components
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
Labels: components

refactor: combine adaptive variants to reduce copy paste
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/shared/model.ts
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

refactor: changed adaptive colors to map
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/foundations/scss/color/_color-variants.scss
Labels: foundations, components

chore: update from main
  packages/components/src/shared/model.ts
Labels: components

Update packages/components/src/components/select/model.ts
  packages/components/src/components/select/model.ts
Labels: components

chore: update docs for select
  packages/components/src/components/select/docs/Angular.md
  packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/select/docs/React.md
  packages/components/src/components/select/docs/Vue.md
Labels: documentation, components

fix: issue with color variants
  packages/components/src/components/select/select.scss
Labels: components

chore: update screenshots
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-solid-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-text-1-webkit-linux.png
Labels: none

fix: issue with missing classnames
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/drawer.lite.tsx
Labels: components

chore: add description for versions
  README.md
Labels: documentation

fix: issue with old react showcase
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/docs/Migration.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
Labels: documentation, components

chore: add showcase for angular and vue
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/angular-showcase/src/app/components/drawer/drawer.component.ts
  showcases/angular-showcase/src/app/components/infotext/infotext.component.html
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/vue-showcase/src/components/drawer/Drawer.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: documentation, components

Update README.md
  README.md
Labels: documentation

chore: update documentation and enable it for patternhub
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/model.ts
  packages/components/src/shared/model.ts
  showcases/patternhub/components/data.ts
  showcases/patternhub/data/routes.ts
Labels: documentation, components

chore: update from main
  examples/vue-example/package-lock.json
Labels: examples

chore: update from main
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-solid-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-text-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-firefox-linux.png
Labels: none

refactor: size and spacing for drawer
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Labels: components

fix: issue with mitosis config path for development
  packages/components/package.json
Labels: components

chore: update cicd to test showcases
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  e2e/package.json
  package.json
Labels: cicd

chore: update cicd to test showcases
  .github/workflows/02-e2e-showcases.yml
  package.json
Labels: cicd

chore: update cicd to test showcases
  .github/workflows/02-e2e-showcases.yml
Labels: cicd

chore: update cicd to test showcases
  .github/workflows/02-e2e-showcases.yml
Labels: cicd

chore: update screenshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

fix: issue with HOME root
  .github/workflows/02-e2e-showcases.yml
Labels: cicd

fix: issue with snapshot scroll
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/Button-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Homepage-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/Infotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/Input-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/Link-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/Section-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  showcases/e2e/fixtures/viewport.ts
Labels: none

fix: issues from PR
  packages/components/src/components/input/input.scss
Labels: components

chore: update playwright.config.ts
  showcases/e2e/fixtures/viewport.ts
  showcases/playwright.config.ts
Labels: none

fix: issue with playwright in cicd
  .github/workflows/01-build-showcases.yml
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Labels: cicd

chore: update playwright configs
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Labels: components

chore: update from main
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  e2e/README.md
  e2e/docker-compose.components.yml
  e2e/docker-compose.showcases.yml
  package-lock.json
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/e2e/default.ts
  showcases/playwright.config.ts
  showcases/vue-showcase/src/components/form/Form.vue
Labels: documentation

chore: update from main
  package-lock.json
Labels: none

fix: issue with classname dependency for react and angular
  output/angular/package.json
  output/react/package.json
Labels: none

fix: add allowedNonPeerDependencies for angular
  output/angular/ng-package.json
Labels: none

fix: issue with input and link for angular
  packages/components/src/components/input/input.scss
  showcases/angular-showcase/src/app/components/link/link.component.html
Labels: components

fix: issue with vue output not generating types
  output/vue/vue3/package.json
Labels: none

chore: update from main
  package-lock.json
Labels: none

fix: issue with angular+webkit
  showcases/e2e/default.ts
  showcases/playwright.config.ts
Labels: none

fix: issue with checks-done
  .github/workflows/default.yml
Labels: cicd

chore: update playwright
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  output/vue/vue3/package.json
  package-lock.json
  package.json
Labels: cicd
