Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

fix: issue with power apps and test in ci
  .github/workflows/01-build-power-apps.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  build-power-apps/package-lock.json
  packages/components/src/components/card/card.lite.tsx
Labels: cicd, components

fix: issue with vue test
  packages/components/src/components/alert/alert.spec.tsx
Labels: components

chore: rename ci job
  .github/workflows/01-build-power-apps.yml
Labels: cicd

refactor: header to work with 3.0 navigation
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  showcases/react-showcase/src/app.tsx
  showcases/showcase-styles.css
Labels: components

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

Restore showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

fix: issues from PR
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
Labels: components

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

fix: issue with icon
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
Labels: components

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

chore: regenerated lock file
  package-lock.json
Labels: none

refactor(style): separate web components styles for shadow dom
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/web-components.js
  packages/components/src/components/brand/brand-web-component.scss
  packages/components/src/components/button/button-web-component.scss
  packages/components/src/components/card/card-web-component.scss
  packages/components/src/components/divider/divider-web-component.scss
  packages/components/src/components/header/header-web-component.scss
  packages/components/src/components/infotext/infotext-web-component.scss
  packages/components/src/components/input/input-web-component.scss
  packages/components/src/components/link/link-web-component.scss
  packages/components/src/components/page/page-web-component.scss
  packages/components/src/components/section/section-web-component.scss
  packages/components/src/components/tab-bar/tab-bar-web-component.scss
  packages/components/src/components/tab/tab-web-component.scss
Labels: components

chore: updated package-lock.json
  package-lock.json
Labels: none

refactor(post-build): remove obsolete defaultStylePath property
  packages/components/scripts/post-build/components.js
Labels: components

refactor: header and navigation to work for frameworks
  packages/components/_templates/mitosis/new/db-ui-components-angular.ejs.t
  packages/components/_templates/mitosis/new/db-ui-components-use.ejs.t
  packages/components/overrides/angular/src/components/drawer/index.ts
  packages/components/overrides/angular/src/components/header/action-bar.directive.ts
  packages/components/overrides/angular/src/components/header/meta-navigation.directive.ts
  packages/components/overrides/angular/src/components/header/navigation.directive.ts
  packages/components/package.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/README.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/index.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/App.vue
Labels: documentation, components

fix: issues for header and drawer in vanilla-showcase
  packages/components/mitosis.config.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/web-components.js
  packages/components/src/components/divider/divider-web-component.scss
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header-web-component.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_dialog-init.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/vanilla-showcase/src/action-bar.js
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/navigation.js
Labels: components

chore: update angular current
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: none

fix: issue with readmde
  packages/components/_templates/mitosis/new/readme.ejs.t
  packages/components/src/components/drawer/README.md
Labels: documentation, components

fix: issue with patternhub
  package-lock.json
  showcases/angular-current-showcase/package.json
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/get-example-file.js
Labels: none

test: npm ci
  .github/actions/npm-cache/action.yml
  .github/workflows/00-init.yml
  .github/workflows/02-e2e.yml
Labels: cicd

Revert "test: npm ci"
  .github/actions/npm-cache/action.yml
  .github/workflows/00-init.yml
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/01-build-outputs.yml
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/01-build-outputs.yml
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
