Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

refactor: include icon via SCSS mixin
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
Labels: components

Update packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.lite.tsx
Labels: components

docs: added ADR 04 / icons
  docs/adr-04-icons.md
Labels: documentation

chore: simplification
  showcases/shared/link.json
Labels: none

fix: incorrect nesting
  packages/components/src/components/input/input.scss
Labels: components

feat: add html generation for patternhub
  .jscpd.json
  package-lock.json
  showcases/patternhub/.gitignore
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
Labels: none

fix: issue with missing directory for generated files
  showcases/patternhub/scripts/generate-example-jsx.js
Labels: none

fix: centered layout for code blocks
  showcases/showcase-styles.css
Labels: none

fix: linting issues
  .xo-config.cjs
  examples/angular-example/src/app/app.module.ts
  examples/angular-example/src/main.ts
  output/vue/vue3/tsconfig.json
  packages/foundations/style-dictionary.js
  showcases/angular-current-showcase/src/main.ts
  showcases/angular-lts-showcase/src/main.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/main.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/main.ts
Labels: foundations, examples

chore: update package-lock.json
  package-lock.json
Labels: none

fix: icon size for variant small
  packages/components/src/components/link/link.scss
Labels: components

chore: update package-lock.json
  package-lock.json
Labels: none

feat: add datalist for input
  packages/components/scripts/post-build/components.js
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  showcases/patternhub/scripts/get-example-file.js
  showcases/react-showcase/src/components/form/index.tsx
Labels: components

fix: test if || for id caused the firefox issue
  packages/components/src/components/input/input.lite.tsx
Labels: components

feat: add generation from props
  package-lock.json
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/get-union-elements.js
  showcases/patternhub/scripts/utils.js
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
Labels: components

fix: issue with package-lock.json
  package-lock.json
Labels: none

chore: update from main
  package-lock.json
Labels: none

fix: issue with package-lock.json
  package-lock.json
Labels: none

chore: update showcases to work with new props
  .xo-config.cjs
  package-lock.json
  packages/components/_templates/mitosis/new/angular-showcase-component-html.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-component.ejs.t
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/link/link.component.html
  showcases/patternhub/components/data.ts
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/utils.js
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/card/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/default-component-data.ts
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/input/Input.vue
  showcases/vue-showcase/src/components/link/Link.vue
Labels: components

chore: update from main
  package-lock.json
Labels: none

chore: update docs for button
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/components/button/index.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
  showcases/shared/button.json
  showcases/vue-showcase/src/components/button/Button.vue
Labels: components

fix: issues from PR
  .xo-config.cjs
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vanilla-showcase/src/components/form/index.js
Labels: none

fix: issues with button & power-apps
  packages/components/src/components/button/button.lite.tsx
Labels: components

chore: update from main
  showcases/shared/button.json
Labels: none

chore: update migration guide for button
  docs/migration-template.md
  packages/components/README.md
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  packages/components/src/components/button/docs/Migration.md
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-migration-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/styles/globals.scss
Labels: documentation, components

feat: add migration route to patternhub and simplified routes
  docs/migration-template.md
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-migration-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/styles/globals.scss
Labels: documentation, components

chore: update tests
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-tablet-1-webkit-linux.png
  packages/components/src/components/button/button.spec.tsx
Labels: components

chore: update angular and vue-showcase with missing components
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/alert/alert.component.html
  showcases/angular-showcase/src/app/components/alert/alert.component.ts
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/angular-showcase/src/app/components/card/card.component.ts
  showcases/angular-showcase/src/app/components/infotext/infotext.component.html
  showcases/angular-showcase/src/app/components/infotext/infotext.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.html
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/components/alert/Alert.vue
  showcases/vue-showcase/src/components/card/Card.vue
  showcases/vue-showcase/src/components/infotext/Infotext.vue
  showcases/vue-showcase/src/components/radio/Radio.vue
  showcases/vue-showcase/src/components/section/Section.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: none

chore: update snapshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-tablet-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-desktop-DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-mobile-DBInfotext-should-match-screenshot-1-firefox-linux.png
Labels: none

Update README.md
  packages/components/README.md
Labels: documentation, components

docs: let's change the order depending on their priority
  showcases/patternhub/data/routes.ts
Labels: none

Update README.md
  packages/components/README.md
Labels: documentation, components

Update Migration.md
  packages/components/src/components/button/docs/Migration.md
Labels: documentation, components

Update Migration.md
  packages/components/src/components/button/docs/Migration.md
Labels: documentation, components

docs: let's change the order depending on their priority
  showcases/patternhub/data/routes.ts
Labels: none

chore: update defaults for foundations and document it
  packages/components/README.md
  packages/foundations/README.md
  packages/foundations/scss/db-ui-foundations.scss
Labels: documentation, foundations, components

Update packages/components/README.md
  packages/components/README.md
Labels: documentation, components

Update docs/migration-template.md
  docs/migration-template.md
Labels: documentation

fix: issue with icntxt
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/docs/Migration.md
  packages/components/src/components/button/model.ts
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/model.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/react-showcase/src/components/button/index.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/shared/button.json
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vue-showcase/src/components/button/Button.vue
Labels: documentation, components

fix: issue with power-apps
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/scripts/post-build/power-apps.js
Labels: components
