Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

chore: WIP24
  .github/workflows/e2e.yml
  output/react/package.json
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-chromium/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-firefox/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-webkit/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  package-lock.json
Labels: cicd

chore: WIP25
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP26
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP27
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP28
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP29
  .github/workflows/e2e.yml
  output/react/playwright.config.ts
Labels: cicd

chore: WIP30
  .github/workflows/e2e.yml
  output/react/package.json
  package-lock.json
Labels: cicd

chore: WIP31
  .github/workflows/default.yml
  .github/workflows/e2e.yml
Labels: cicd

fix: issue with dependabot and cancel-workflow
  .github/actions/cancel-workflow/action.yml
  .github/workflows/default.yml
Labels: cicd

Update examples/angular-example/.vscode/launch.json
  examples/angular-example/.vscode/launch.json
Labels: examples

Update examples/angular-example/.vscode/tasks.json
  examples/angular-example/.vscode/tasks.json
Labels: examples

Update examples/angular-example/tsconfig.app.json
  examples/angular-example/tsconfig.app.json
Labels: examples

chore: WIP32
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-chromium/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-firefox/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-webkit/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/tests/button.spec.tsx
  packages/components/src/components/button/button.lite.tsx
Labels: components

chore: WIP33
  package-lock.json
Labels: none

chore: WIP34
  package-lock.json
Labels: none

chore: WIP35
  .github/workflows/01-build-packages.yml
  .github/workflows/e2e.yml
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/playwright/index.ts
Labels: cicd

chore: WIP36
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP37
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-webkit-linux.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
Labels: none

chore: VUE WIP38
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/react/test-results/button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-darwin.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-darwin.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-darwin.png
  output/vue/vue3/package.json
  output/vue/vue3/playwright.config.ts
  output/vue/vue3/playwright/index.html
  output/vue/vue3/playwright/index.ts
  package-lock.json
  package.json
  packages/components/scripts/post-build/copy-files.js
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/button/button.spec.tsx
Labels: components

chore: VUE WIP39
  .github/workflows/e2e.yml
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-webkit-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-webkit-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-webkit-linux.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-chromium/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-firefox/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-webkit/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/button/button.spec.tsx
Labels: cicd, components

chore: VUE WIP40
  .github/workflows/e2e.yml
Labels: cicd

chore: VUE WIP41
  package-lock.json
Labels: none

chore: VUE WIP42
  output/vue/vue3/playwright/index.html
  output/vue/vue3/playwright/index.ts
  packages/components/scripts/post-build/copy-files.js
  packages/components/test/playwright/index.html
  packages/components/test/playwright/index.ts
Labels: components

chore: VUE WIP43
  .gitignore
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-chromium/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-firefox/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-match-screenshot-webkit/Button-block-desktop-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-chromium/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-firefox/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-desktop-Button-should-only-have-icon-webkit/Button-block-desktop-Button-should-only-have-icon-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-chromium/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-firefox/Button-block-mobile-Button-should-match-screenshot-1-actual.png
  output/vue/vue3/test-results/button-button.spec.tsx-Button-block-mobile-Button-should-match-screenshot-webkit/Button-block-mobile-Button-should-match-screenshot-1-actual.png
Labels: none

chore: VUE WIP44
  output/vue/vue3/playwright.config.ts
  packages/components/scripts/post-build/copy-files.js
  packages/components/scripts/post-build/vue.js
  packages/components/test/playwright/boilerplate/index.html
  packages/components/test/playwright/boilerplate/index.ts
  packages/components/test/playwright/config.ts
Labels: components

chore: VUE WIP45
  .gitignore
Labels: none

feat: add section component
  package.json
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/overrides/angular/src/components/section/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/section/index.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/react-showcase/src/app.tsx
Labels: components

chore: VUE WIP46
  packages/components/src/components/brand/brand.spec.tsx
Labels: components

chore: VUE WIP47
  packages/components/src/components/button/button.spec.tsx
Labels: components

feat: changed section styling
  packages/components/src/components/header/header.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/section/section.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/index.scss
Labels: components

chore: VUE WIP48
  packages/components/_templates/mitosis/new/spec.ejs.t
Labels: components

chore: VUE WIP49
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-darwin.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-darwin.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-darwin.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  output/vue/vue3/__snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
Labels: none

chore: VUE WIP50
  .github/workflows/e2e.yml
  .gitignore
Labels: cicd

chore: Update README
  README.md
Labels: documentation

chore: 🤖 Fix issues from review
  .github/workflows/01-build-packages.yml
  output/react/package.json
  output/vue/vue3/package.json
Labels: cicd

chore: 🤖 Fix a11y issue from review
  packages/components/src/components/button/button.lite.tsx
Labels: components

chore: 🤖 Remove unused code
  .github/workflows/default.yml
Labels: cicd

chore: 🤖 Remove old cypress stuff
  .github/workflows/00-install-cypress.yml
  .github/workflows/02-cypress.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Labels: cicd

Update spec.ejs.t
  packages/components/_templates/mitosis/new/spec.ejs.t
Labels: components

Update brand.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
Labels: components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
