Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: 🚢📀cicd, 📕documentation, 🏗foundations, 🏘components, 📺showcases

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
🚢📀cicd:
  - changed-files:
      - any-glob-to-any-file: [".github/*", ".github/**/*"]

# Add 'documentation' label to any file changes for the documentation files
📕documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

# Add 'foundations' label to any file changes for the foundations files
🏗foundations:
  - changed-files:
      - any-glob-to-any-file: "packages/foundations/**"

# Add 'components' label to any file changes for the components files
🏘components:
  - changed-files:
      - any-glob-to-any-file: "packages/components/**"

# Add 'showcases' label to any file changes for the showcases files
📺showcases:
  - changed-files:
      - any-glob-to-any-file: "showcases/**"

chore: update snapshots
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Labels: none

docs: update getting-started.md
  packages/components/docs/getting-started.md
Labels: 📕documentation, 🏘components

docs: update getting-started.md
  output/angular/README.md
  output/vue/vue3/README.md
  packages/components/README.md
  packages/components/docs/getStarted.adoc
  packages/components/docs/howto-angular.md
  packages/components/docs/howto-react.md
  packages/components/docs/howto-vue.md
Labels: 📕documentation, 🏘components

chore: update snapshots
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/firefox/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/brand/component/firefox/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/foundations/chromium/Colors-should-match-screenshot-1/Colors-should-match-screenshot.png
  __snapshots__/foundations/chromium/Fonts-should-match-screenshot-1/Fonts-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot.png
  __snapshots__/tag/component/firefox/DBTag-should-match-screenshot.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Labels: none

chore: update snapshots
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Labels: none

chore: update typo
  showcases/shared/tag.json
Labels: 📺showcases

fix: issue with accordion with single behaviour
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
Labels: 🏘components
