Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: disable auto update for playwright
  .github/dependabot.yml
Labels: cicd

chore: update from main
  package-lock.json
Labels: none

chore: update from main
  .github/workflows/02-e2e-showcases.yml
  e2e/package.json
  package-lock.json
  package.json
  showcases/angular-showcase/package.json
Labels: cicd

fix: auto update from dependabot
  .github/dependabot.yml
Labels: cicd

chore: update from main
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-chromium-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-firefox-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-mobile-chrome-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-mobile-safari-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-webkit-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-on-desktop-DBSelect-should-match-screenshot-1-chromium-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-on-desktop-DBSelect-should-match-screenshot-1-firefox-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-on-desktop-DBSelect-should-match-screenshot-1-webkit-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-on-mobile-DBSelect-should-match-screenshot-1-firefox-linux.png
  packages/components/src/components/select/select.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Labels: components

chore: update description for DBSelectOptionType
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Labels: components

fix: issue with array properties
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  showcases/patternhub/scripts/get-properties-file.js
Labels: components

chore: update screenshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

refactor: hygen generate component ask for showcase
  packages/components/_templates/mitosis/new/angular-showcase-module-declaration.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-module-import-module.ejs.t
  packages/components/_templates/mitosis/new/component/angular-overrides.ejs.t
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/db-ui-components-angular.ejs.t
  packages/components/_templates/mitosis/new/component/db-ui-components.ejs.t
  packages/components/_templates/mitosis/new/component/export.ejs.t
  packages/components/_templates/mitosis/new/component/index.ejs.t
  packages/components/_templates/mitosis/new/component/model.ejs.t
  packages/components/_templates/mitosis/new/component/scss.ejs.t
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/component/webcomponent-scss.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/prompt.js
  packages/components/_templates/mitosis/new/readmes/readme-angular.ejs.t
  packages/components/_templates/mitosis/new/readmes/readme-html.ejs.t
  packages/components/_templates/mitosis/new/readmes/readme-react.ejs.t
  packages/components/_templates/mitosis/new/readmes/readme-vue.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-component-html.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-module-declaration.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-module-import-component.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-module-import-module.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-module-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-router.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-switch.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-route.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-router.ejs.t
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router.ejs.t
Labels: components

chore: update snapshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-critical-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-informational-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-neutral-0-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-neutral-1-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-neutral-3-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-neutral-4-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-primary-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-secondary-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-successful-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-color-variant-warning-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-should-match-screenshot-for-variant-interactive-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/radio/radio.spec.tsx-snapshots/DBRadio-component-should-match-screenshot-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/select/select.spec.tsx-snapshots/DBSelect-component-DBSelect-should-match-screenshot-1-firefox-linux.png
Labels: none

Update packages/components/_templates/mitosis/new/prompt.js
  packages/components/_templates/mitosis/new/prompt.js
Labels: components

Update packages/components/_templates/mitosis/new/component/db-ui-components-angular.ejs.t
  packages/components/_templates/mitosis/new/component/db-ui-components-angular.ejs.t
Labels: components

chore: remove README.md
  packages/components/src/components/drawer/README.md
Labels: documentation, components

fix: issue from dependabot dependency update
  .husky/commit-msg
  .markdownlintignore
Labels: none

chore: update snapshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
Labels: none

fix: issue with headline links in showcases
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/react-showcase/src/components/index.tsx
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/DefaultComponent.vue
Labels: none

fix: try to fix showcase tests
  showcases/e2e/default.ts
Labels: none

fix: try to fix showcase tests
  showcases/e2e/default.ts
Labels: none

fix: issue with link height
  packages/components/src/components/link/link.scss
Labels: components

fix: issues with :has selector
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-outlined-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-solid-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-text-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
Labels: components

chore: add tonality examples for showcases for mapo
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
Labels: components

chore: add README.md for power apps
  build-power-apps/README.md
Labels: documentation

Update README.md
  build-power-apps/README.md
Labels: documentation

Update README.md
  build-power-apps/README.md
Labels: documentation

Update README.md
  build-power-apps/README.md
Labels: documentation

chore: add how to deploy to power apps readme
  build-power-apps/README.md
Labels: documentation

chore: update snapshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

Update README.md
  build-power-apps/README.md
Labels: documentation

Update README.md
  build-power-apps/README.md
Labels: documentation

chore: update naming
  .jscpd.json
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
Labels: components

chore: update screenshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

chore: fix issue with tests
  showcases/shared/input.json
Labels: none

Update README.md
  build-power-apps/README.md
Labels: documentation

Update README.md
  build-power-apps/README.md
Labels: documentation

Update config.ts
  packages/components/test/playwright/config.ts
Labels: components

Update playwright.config.ts
  showcases/playwright.config.ts
Labels: none

Update packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/alert.scss
Labels: components

Update packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.scss
Labels: components

Update packages/components/src/components/link/link.scss
  packages/components/src/components/link/link.scss
Labels: components

chore: update screenshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none
