Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

chore: update from main
  package-lock.json
Labels: none

chore: update dos for header and simplified directives
  package-lock.json
  packages/components/overrides/angular/src/components/header/action-bar.directive.ts
  packages/components/overrides/angular/src/components/header/meta-navigation.directive.ts
  packages/components/overrides/angular/src/components/header/navigation.directive.ts
  packages/components/overrides/angular/src/components/navigation-item/navigation-content.directive.ts
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.module.ts
Labels: documentation, components

chore: update package-lock.json
  package-lock.json
Labels: none

chore: update package-lock.json
  package-lock.json
Labels: none

chore: update snapshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
Labels: none

chore: update DBBadge title for angular-showcase
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Labels: none

refactor: changed strict .db-* classes to html tags (a,button)
  packages/components/src/components/tag/tag.scss
Labels: components

docs: added docs for react and pure html
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/docs/HTML.md
  packages/components/src/components/accordion-item/docs/React.md
Labels: documentation, components

fix: imports
  packages/components/src/components/accordion-item/model.ts
Labels: components

fix: resolve typeerror
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
Labels: components

refactor(tag): prevent the needed span element for static text
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/tag/tag.spec.tsx
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: documentation, components

refactor: reverted those again
  packages/components/src/components/tag/tag.scss
Labels: components

fix: we don't want an tabindex here
  packages/components/src/components/tag/tag.lite.tsx
Labels: components

refactor: still want our declarations on the outer tag
  packages/components/src/components/tag/tag.scss
Labels: components

Update tag.scss
  packages/components/src/components/tag/tag.scss
Labels: components

chore: add docs for how-to-develop-a-component
  docs/how-to-develop-a-component.md
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/model.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/power-app-solution.ejs.t
  packages/components/_templates/mitosis/new/prompt.js
  packages/foundations/scss/_variables.global.scss
Labels: documentation, foundations, components

chore: update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/model.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
Labels: documentation, components

fix: routes.ts for patternhub
  showcases/patternhub/data/routes.ts
Labels: none

Update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Labels: documentation

Update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Labels: documentation

Update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Labels: documentation

Update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Labels: documentation

feat: add controlling for power-apps canvas
  build-power-apps/button/DBButton/strings/DBButton.1031.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
Labels: components

Update how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Labels: documentation

Update prompt.js
  packages/components/_templates/mitosis/new/prompt.js
Labels: components

chore: prettyfied
  docs/how-to-develop-a-component.md
Labels: documentation

fix: pipeline
  packages/components/src/components/tag/tag.lite.tsx
Labels: components

refactor: scss restructuring
  packages/components/src/components/tag/tag.scss
Labels: components

test: updated screenshots
  __snapshots__/tag/showcase/chromium/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-0/DBTag-should-match-screenshot.png
Labels: none

refactor: adapted this selector as well
  packages/components/src/components/tag/tag.scss
Labels: components

refactor: simplified the icon usage
  packages/components/src/components/tag/tag.scss
  packages/foundations/scss/icon/_icons.attributes-mappings.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
  packages/foundations/scss/icon/icons.scss
Labels: foundations, components

fix: issues with sidebar for power-apps
  build-power-apps/button/DBButton/strings/DBButton.1031.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/utils.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/input/input.lite.tsx
Labels: components

refactor: further optimization by adding those declarations to the related pseudo definitions directly
  packages/components/src/components/tag/tag.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
  packages/foundations/scss/icon/icons.scss
Labels: foundations, components

refactor: let's prevent the disturbing whitespaces
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Labels: none

fix: added missing suffix
  packages/foundations/scss/icon/_icons.helpers.scss
Labels: foundations

fix: issues with power-apps components inside platform-layout components
  packages/components/_templates/power-apps/new/utils.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/src/components/alert/alert.lite.tsx
Labels: components

Update packages/components/src/components/badge/model.ts
  packages/components/src/components/badge/model.ts
Labels: components

fix: issues from PR
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-safari/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/webkit/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/docs/HTML.md
  packages/components/src/components/badge/index.html
  packages/components/src/styles/db-ui-components.scss
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/badge/Badge.vue
Labels: documentation, components

Update packages/components/src/components/badge/model.ts
  packages/components/src/components/badge/model.ts
Labels: components

refactor: removed noText property from db-badge
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/model.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Labels: components
