Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: xo rules and add comments for exceptions
  .xo-config.cjs
  examples/angular-example/src/app/app.component.spec.ts
  packages/foundations/scripts/zeplin-styleguide.js
  scripts/start.js
  showcases/react-showcase/src/app.tsx
Labels: foundations, examples

fix: revert new prettier config
  .prettierrc.json
Labels: none

fix: issue with icon before
  showcases/react-showcase/src/components/input/index.tsx
Labels: none

Update packages/foundations/scss/_init.scss
  packages/foundations/scss/_init.scss
Labels: foundations

chore: update code-docs for showcases
  .xo-config.json
  packages/components/_templates/mitosis/new/angular-showcase-component-html.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-component.ejs.t
  packages/components/src/components/button/button.scss
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/code-docs/model.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/utils/index.ts
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: components

chore: update from main
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/shared/alert.ts
Labels: none

fix: revert changes for linting in cicd
  .github/workflows/01-lint.yml
Labels: cicd

fix: inline alert
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/card/card.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

refactor: update drawer
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/README.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/styles/_dialog-init.scss
  packages/foundations/scss/animation/_animations.scss
  packages/foundations/scss/helpers/_component.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/drawer/index.tsx
Labels: documentation, foundations, components

feat: add drawer
  packages/components/_templates/mitosis/new/db-ui-components-use.ejs.t
  packages/components/overrides/angular/src/components/drawer/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/README.md
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/index.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/_dialog-init.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/animation/_animations.scss
  packages/foundations/scss/helpers/_component.scss
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: documentation, foundations, components

fix: linting issue
  .xo-config.cjs
Labels: none

Update packages/components/src/components/drawer/README.md
  packages/components/src/components/drawer/README.md
Labels: documentation, components

fix: issues from PR
  packages/components/src/components/drawer/drawer.lite.tsx
  showcases/patternhub/scripts/get-example-file.js
Labels: components

chore: update radio in showcases
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/shared/radio.ts
Labels: none

fix: issue with angular build
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
Labels: components

fix: issue with template generation
  packages/components/_templates/mitosis/new/db-ui-components.ejs.t
  packages/components/_templates/mitosis/new/scss.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-router.ejs.t
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio/radio.scss
Labels: components

fix: issue with template generation
  packages/components/_templates/mitosis/new/angular-showcase-component-html.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-module-declaration.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-module-import-component.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-module-import-module.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-module-import.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-switch.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  packages/components/_templates/mitosis/new/tsx.ejs.t
Labels: components

fix: issue with template generation
  showcases/patternhub/components/component-parser/data.ts
Labels: none

refactor: removed svelte build for now
  output/README.md
  package.json
  packages/components/mitosis.config.js
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/svelte.js
  scripts/base-foundation.js
  scripts/rename-db-ui-base.js
  showcases/next-showcase/.eslintrc.json
  showcases/next-showcase/.gitignore
  showcases/next-showcase/next.config.js
  showcases/next-showcase/package.json
  showcases/next-showcase/pages/_app.tsx
  showcases/next-showcase/pages/index.tsx
  showcases/next-showcase/public/favicon.ico
  showcases/next-showcase/styles/globals.scss
  showcases/next-showcase/tsconfig.json
  showcases/svelte-showcase/.gitignore
  showcases/svelte-showcase/README.md
  showcases/svelte-showcase/index.html
  showcases/svelte-showcase/jsconfig.json
  showcases/svelte-showcase/package.json
  showcases/svelte-showcase/src/App.svelte
  showcases/svelte-showcase/src/index.scss
  showcases/svelte-showcase/src/main.js
  showcases/svelte-showcase/vite.config.js
Labels: documentation, components

fix: issue with types
  showcases/shared/default-component-data.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
Labels: none

fix: issue with types
  showcases/shared/default-component-data.ts
Labels: none

fix: issue with types
  showcases/react-showcase/src/components/index.tsx
  showcases/shared/default-component-data.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
Labels: none

fix: issue with types
  showcases/shared/default-component-data.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
Labels: none

feat: add npm run dev for faster development process
  package.json
  packages/components/mitosis-angular.config.js
  packages/components/mitosis-react.config.js
  packages/components/mitosis-vue.config.js
  packages/components/package.json
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/vue.js
  scripts/dev.js
Labels: components

Update dev.js
  scripts/dev.js
Labels: none

Update dev.js
  scripts/dev.js
Labels: none

refactor: removed leftovers
  package.json
Labels: none

Update package.json
  packages/components/package.json
Labels: components

feat: add html-showcase
  .github/workflows/03-deploy-gh-pages.yml
  package-lock.json
  package.json
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/showcases/html/index.tsx
  showcases/react-showcase/index.html
  showcases/react-showcase/package.json
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/tsconfig.json
  showcases/react-showcase/vite.config.ts
Labels: cicd

fix: issue with copy showcases
  package.json
  showcases/react-showcase/package.json
Labels: none

fix: issue with copy showcases
  package.json
  showcases/react-showcase/package.json
Labels: none

fix: issue with copy showcases
  showcases/react-showcase/.gitignore
  showcases/react-showcase/package.json
  showcases/react-showcase/vite.config.ts
Labels: none

Update README.md
  packages/components/src/components/drawer/README.md
Labels: documentation, components

fix: issues from MR
  packages/components/scripts/post-build/components.js
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
Labels: components

fix: issues from MR
  packages/components/src/components/drawer/drawer.scss
Labels: components

Update showcases/react-showcase/package.json
  showcases/react-showcase/package.json
Labels: none

fix: issue with ref
  packages/components/src/components/drawer/drawer.lite.tsx
Labels: components

fix: issue with showcases
  showcases/react-showcase/src/components/drawer/index.tsx
Labels: none

fix: issue with angular builds
  packages/components/scripts/post-build/angular.js
Labels: components

chore: update package-lock.json
  package-lock.json
Labels: none
