Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

fix: issues from PR
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/model.ts
  showcases/react-showcase/src/app.tsx
Labels: components

fix: issues with icon variants for input and infotext
  packages/components/scripts/post-build/components.js
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Labels: components

fix: issues with icon variants for input and infotext
  packages/components/scripts/post-build/components.js
  packages/components/src/components/infotext/infotext.lite.tsx
Labels: components

fix: issues foundations
  packages/components/src/components/button/button.scss
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
  showcases/react-showcase/src/app.tsx
Labels: foundations, components

fix: issues with tonality (line-height and fonts)
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
  showcases/react-showcase/src/app.tsx
Labels: foundations, components

fix: issues with bad naming
  showcases/react-showcase/src/app.tsx
Labels: none

fix: issues with issue in comment
  packages/components/src/components/brand/model.ts
Labels: components

Update _body-styles.scss
  packages/foundations/scss/_body-styles.scss
Labels: foundations

chore: update from main
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
Labels: none

fix: issue from PR
  packages/components/src/components/button/button.scss
Labels: components

chore: update from main
  showcases/vue-showcase/src/components/form/Form.vue
Labels: none

docs: added README for input element
  packages/components/src/components/input/README.md
Labels: documentation, components

fix: issue with input error
  showcases/react-showcase/src/components/input/index.tsx
Labels: none

refactor: react showcase to use a default component with config
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-router.ejs.t
  packages/components/package.json
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/README.md
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/section/section.lite.tsx
  showcases/react-showcase/src/components/button/index.scss
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.scss
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/input/index.scss
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: documentation, components

fix: issue with renaming error to critical
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/input/Input.vue
Labels: none

fix: minor issues in button, input, link & section
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/README.md
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/section/section.lite.tsx
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/input/Input.vue
Labels: documentation, components

Update README.md
  packages/components/src/components/input/README.md
Labels: documentation, components

feat: prepare generator for how-to-files
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  packages/components/src/components/input/README.md
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-index-file.js
Labels: documentation, components

chore: add additional props for link
  packages/components/src/components/link/model.ts
Labels: components

fix: issues with examples
  .eslintignore
  .jscpd.json
  packages/components/_templates/mitosis/new/readme.ejs.t
  packages/components/src/components/brand/README.md
  packages/components/src/components/button/README.md
  packages/components/src/components/card/README.md
  packages/components/src/components/divider/README.md
  packages/components/src/components/header/README.md
  packages/components/src/components/icon/README.md
  packages/components/src/components/input/README.md
  packages/components/src/components/link/README.md
  packages/components/src/components/page/README.md
  packages/components/src/components/section/README.md
  packages/components/src/components/tab-bar/README.md
  packages/components/src/components/tab/README.md
  showcases/patternhub/.gitignore
  showcases/patternhub/pages/components/01-layout.mdx
  showcases/patternhub/pages/components/02-action.mdx
  showcases/patternhub/pages/components/03-data-input.mdx
  showcases/patternhub/pages/components/04-data-display.mdx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-index-file.js
  showcases/patternhub/styles/globals.scss
Labels: documentation, components

feat: add styling for <pre>
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations

fix: issue with number props
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: issue with card styling and props
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
Labels: components

fix: issue with showcase using old card variant
  showcases/patternhub/pages/showcases/index.tsx
Labels: none

chore: update from main
  package-lock.json
Labels: none

fix: issues with code styling in pre tag
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations

fix: issues with valid event
  showcases/patternhub/scripts/get-example-file.js
Labels: none

chore: update from main
  packages/components/src/components/card/card.spec.tsx
Labels: components

fix: issue with card test
  packages/components/src/components/card/card.spec.tsx
Labels: components

fix: add new snapshots
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-8d904--match-screenshot-for-color-variant-secondary-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBCard-should-match-screenshot-for-variant-ia-1-chromium-darwin.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Variants-DBCard-should-match-screenshot-for-variant-ia-1-chromium-darwin.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Variants-DBCard-should-match-screenshot-for-variant-interactive-1-webkit-linux.png
Labels: none

chore: update react showcase with infotext
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: components

fix: issue with component generation
  packages/components/_templates/mitosis/new/components.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/react-showcase-router.ejs.t
Labels: components

chore: update for infotext
  packages/components/src/components/infotext/README.md
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-index-file.js
  showcases/patternhub/scripts/get-union-elements.js
Labels: documentation, components

chore: xo feedback
  showcases/patternhub/scripts/get-union-elements.js
Labels: none

feat: new component - alert
  .jscpd.json
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/overrides/angular/src/components/alert/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/alert.spec.tsx
  packages/components/src/components/alert/index.ts
  packages/components/src/components/alert/model.ts
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/_tonality.scss
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: foundations, components

fix: issue with generating component
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  showcases/patternhub/data/routes.ts
Labels: components

fix: issue with generating component and class name
  packages/components/_templates/mitosis/new/tsx.ejs.t
Labels: components

fix: issue with patternhub
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: issue with patternhub
  showcases/patternhub/.gitignore
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/components/06-feedback.mdx
  showcases/patternhub/scripts/get-index-file.js
Labels: none

fix: issue with patternhub
  showcases/patternhub/scripts/get-index-file.js
Labels: none

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
