Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

refactor: aligned this with the previous version
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
Labels: components

Update README.md
  packages/foundations/README.md
Labels: documentation, foundations

Update README.md
  packages/foundations/README.md
Labels: documentation, foundations

Update packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/cli.js
Labels: foundations

chore: update navigation-item
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/main-navigation.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/tag/tag.scss
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
  packages/foundations/scss/helpers/_font.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/icons.scss
Labels: foundations, components

Update packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/index.js
Labels: foundations

fix: issue with wrong import
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

refactor: added prefix
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/select.scss
Labels: components

refactor: added prefix
  packages/components/src/components/select/select.scss
Labels: components

fix: leftover
  packages/components/src/styles/_form-components.scss
Labels: components

WIP
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Labels: none

Update HTML.md
  packages/components/src/components/textarea/docs/HTML.md
Labels: documentation, components

Update index.html
  packages/components/src/components/textarea/index.html
Labels: components

Update HTML.md
  packages/components/src/components/textarea/docs/HTML.md
Labels: documentation, components

Update index.html
  packages/components/src/components/textarea/index.html
Labels: components

refactor: removed old leftover
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

test: updated screenshots
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
Labels: none

docs(textarea): added missing aspects
  showcases/shared/textarea.json
Labels: none

refactor: added missing attribute
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
Labels: components

chore: typo
  showcases/shared/textarea.json
Labels: none

docs(textarea): added missing aspects
  showcases/shared/textarea.json
Labels: none

refactor: added missing stylings
  packages/components/src/components/textarea/textarea.scss
Labels: components

refactor: extracted validity
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
Labels: components

chore: simple restructuring
  packages/components/src/styles/_form-components.scss
Labels: components

refactor: corrected source order and removed obsolete attributes
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/index.html
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: documentation, components

Update index.html
  packages/components/src/components/input/index.html
Labels: components

refactor: generalized styling
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
Labels: components

fix: selector
  packages/components/src/styles/_form-components.scss
Labels: components

fix: headlines
  showcases/shared/textarea.json
Labels: none

fix: issues with icon for tag
  __snapshots__/tag/showcase/chromium/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-0/DBTag-should-match-screenshot.png
  packages/components/src/components/button/button.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/icons.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: documentation, foundations, components

fix: issues with icon for tag
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: documentation, components

fix: issues with checkbox radius
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  packages/foundations/scss/helpers/_component.scss
Labels: foundations

fix: issues for angular tag
  packages/components/src/components/tag/tag.scss
Labels: components

refactor: removed icon-state leftover from input and select
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
Labels: components

feat: :sparkles: add optional prop defaultValue
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
Labels: components

fix: issue strong tags color
  packages/components/src/styles/_tag-components.scss
Labels: components

fix: issue with transition for foreground color
  packages/components/src/components/link/link.scss
  packages/foundations/scss/db-ui-foundations.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

Update index.html
  packages/components/src/components/input/index.html
Labels: components

refactor: removed that namespace again
  packages/components/src/components/checkbox/checkbox.scss
Labels: components

Update index.html
  packages/components/src/components/input/index.html
Labels: components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
