Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

Update Migration.md
  packages/components/src/components/button/docs/Migration.md
Labels: documentation, components

docs: slight change for clarification
  packages/components/src/components/button/docs/Migration.md
Labels: documentation, components

docs: added links to MDN
  packages/components/src/components/button/model.ts
Labels: components

test: regenerated screenshots
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
Labels: none

chore: formatting
  packages/components/src/shared/model.ts
Labels: components

Update model.ts
  packages/components/src/shared/model.ts
Labels: components

Update model.ts
  packages/components/src/shared/model.ts
Labels: components

docs: added further links
  packages/components/src/shared/model.ts
Labels: components

fix: issue with variant description
  packages/components/src/components/button/model.ts
Labels: components

fix: issue with data-icon="false"
  packages/components/src/components/button/button.lite.tsx
  showcases/shared/button.json
Labels: components

chore: update snapshots
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
Labels: none

chore: update snapshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-tablet-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-desktop-DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-mobile-DBInfotext-should-match-screenshot-1-firefox-linux.png
Labels: none

chore: add button disable state for docs
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/react-showcase/src/components/button/index.tsx
  showcases/shared/button.json
  showcases/vue-showcase/src/components/button/Button.vue
Labels: none

chore: add divider in showcases + docs + migration
  packages/components/_templates/mitosis/new/db-ui-components-angular.ejs.t
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/divider/docs/Migration.md
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/angular-showcase/src/app/components/divider/divider.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/default-component-data.ts
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: documentation, components

fix: issue with wrapping components for angular
  packages/components/_templates/mitosis/new/db-ui-components-angular.ejs.t
  packages/components/src/styles/db-ui-components.scss
Labels: components

chore: update docs for alert + migration
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/docs/Migration.md
  packages/components/src/components/alert/model.ts
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
Labels: documentation, components

chore: update docs for section + migration
  packages/components/src/components/section/docs/Migration.md
  packages/components/src/components/section/model.ts
  showcases/shared/section.json
Labels: documentation, components

fix: make ariaLive optional
  packages/components/src/components/alert/model.ts
Labels: components

chore: add docs for card + migration
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/docs/Migration.md
  packages/components/src/components/card/model.ts
  packages/components/src/shared/model.ts
  showcases/patternhub/scripts/get-properties-file.js
  showcases/shared/card.json
Labels: documentation, components

Update model.ts
  packages/components/src/components/section/model.ts
Labels: components

fix: issue with aria-live
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
Labels: components

Update model.ts
  packages/components/src/shared/model.ts
Labels: components

Update model.ts
  packages/components/src/shared/model.ts
Labels: components

Update model.ts
  packages/components/src/components/card/model.ts
Labels: components

Update Migration.md
  packages/components/src/components/alert/docs/Migration.md
Labels: documentation, components

Update model.ts
  packages/components/src/components/alert/model.ts
Labels: components

Update constants.ts
  packages/components/src/shared/constants.ts
Labels: components

Update showcases/vue-showcase/src/components/divider/Divider.vue
  showcases/vue-showcase/src/components/divider/Divider.vue
Labels: none

chore: update description for db-alert class
  packages/components/src/components/alert/docs/Migration.md
Labels: documentation, components

Update packages/components/src/components/alert/docs/Migration.md
  packages/components/src/components/alert/docs/Migration.md
Labels: documentation, components

fix: issue with patterhub color variants
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
Labels: none

fix: issue with brand component test
  packages/components/src/components/brand/brand.spec.tsx
Labels: components

chore: update docs for infotext + migration
  packages/components/src/components/infotext/docs/Migration.md
  packages/components/src/components/infotext/model.ts
Labels: documentation, components

fix: issue with properties for alert
  packages/components/src/components/alert/model.ts
Labels: components

fix: issue with colorVariant
  packages/components/src/components/card/model.ts
Labels: components

chore: update snapshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-and-device-tablet-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-webkit-linux.png
Labels: none

fix: issues with select and patternhub
  packages/components/src/components/select/select.lite.tsx
  showcases/patternhub/data/routes.ts
Labels: components

chore: update Migration guide for select
  packages/components/src/components/select/docs/Migration.md
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/shared/model.ts
Labels: documentation, components

fix: issue with multiple select
  showcases/react-showcase/src/components/select/index.tsx
Labels: none

fix: issue four build process
  packages/components/src/components/select/select.lite.tsx
  showcases/patternhub/scripts/get-example-file.js
Labels: components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
