Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

Update README.md
  packages/components/README.md
Labels: documentation, components

Update README.md
  packages/components/README.md
Labels: documentation, components

Update README.md
  packages/components/README.md
Labels: documentation, components

chore: add hygen template for docs
  packages/components/_templates/update-docs/new/prompt.js
  packages/components/_templates/update-docs/new/readme-angular.ejs.t
  packages/components/_templates/update-docs/new/readme-html.ejs.t
  packages/components/_templates/update-docs/new/readme-react.ejs.t
  packages/components/_templates/update-docs/new/readme-vue.ejs.t
  packages/components/package.json
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/React.md
  packages/components/src/components/link/docs/Vue.md
Labels: documentation, components

fix: copy paste issue for angular docs
  output/angular/README.md
Labels: documentation

Update Angular.md
  packages/components/src/components/card/docs/Angular.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/card/docs/HTML.md
Labels: documentation, components

chore: update output readmes
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
Labels: documentation

fix: link icon position
  packages/components/src/components/link/link.scss
Labels: components

fix: issue with copy
  .eslintignore
  .stylelintignore
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/HTML.md
  packages/components/src/components/link/docs/React.md
  packages/components/src/components/link/docs/Vue.md
  showcases/react-showcase/package.json
Labels: documentation, components

chore: update radio docs
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/HTML.md
  packages/components/src/components/radio/docs/React.md
  packages/components/src/components/radio/docs/Vue.md
  showcases/vue-showcase/src/components/form/Form.vue
Labels: documentation, components

fix: icon size small
  packages/components/src/components/link/link.scss
Labels: components

fix: issue with patternhub build
  showcases/patternhub/scripts/get-code-files.js
Labels: none

chore: update angular docs
  packages/components/src/components/radio/docs/Angular.md
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Labels: documentation, components

Update Angular.md
  packages/components/src/components/card/docs/Angular.md
Labels: documentation, components

Update React.md
  packages/components/src/components/card/docs/React.md
Labels: documentation, components

Update Vue.md
  packages/components/src/components/card/docs/Vue.md
Labels: documentation, components

fix: use arrow-forward as icon
  packages/components/src/components/link/link.scss
Labels: components

chore: generate remaining docs
  packages/components/src/components/alert/docs/Angular.md
  packages/components/src/components/alert/docs/HTML.md
  packages/components/src/components/alert/docs/React.md
  packages/components/src/components/alert/docs/Vue.md
  packages/components/src/components/brand/docs/Angular.md
  packages/components/src/components/brand/docs/HTML.md
  packages/components/src/components/brand/docs/React.md
  packages/components/src/components/brand/docs/Vue.md
  packages/components/src/components/button/docs/Angular.md
  packages/components/src/components/button/docs/HTML.md
  packages/components/src/components/button/docs/React.md
  packages/components/src/components/button/docs/Vue.md
  packages/components/src/components/divider/docs/Angular.md
  packages/components/src/components/divider/docs/HTML.md
  packages/components/src/components/divider/docs/React.md
  packages/components/src/components/divider/docs/Vue.md
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/icon/docs/Angular.md
  packages/components/src/components/icon/docs/HTML.md
  packages/components/src/components/icon/docs/React.md
  packages/components/src/components/icon/docs/Vue.md
  packages/components/src/components/infotext/docs/Angular.md
  packages/components/src/components/infotext/docs/HTML.md
  packages/components/src/components/infotext/docs/React.md
  packages/components/src/components/infotext/docs/Vue.md
  packages/components/src/components/page/docs/Angular.md
  packages/components/src/components/page/docs/HTML.md
  packages/components/src/components/page/docs/React.md
  packages/components/src/components/page/docs/Vue.md
  packages/components/src/components/section/docs/Angular.md
  packages/components/src/components/section/docs/HTML.md
  packages/components/src/components/section/docs/React.md
  packages/components/src/components/section/docs/Vue.md
Labels: documentation, components

feat: add datalist for input
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/form/index.tsx
Labels: components

fix: issues with build
  packages/components/scripts/post-build/components.js
  packages/components/src/components/input/input.lite.tsx
Labels: components

fix: issues with new mitosis version
  output/react/tsconfig.json
  output/vue/vue3/tsconfig.json
  package-lock.json
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/utils/index.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/tab-bar/model.ts
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/model.ts
  packages/components/src/shared/model.ts
  showcases/patternhub/tsconfig.json
  showcases/react-showcase/tsconfig.json
  showcases/reactwind-showcase/tsconfig.json
  showcases/vue-showcase/tsconfig.json
Labels: components

fix: issue with datalist for patternhub examples
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: issue with datalist for patternhub examples
  showcases/patternhub/scripts/get-example-file.js
Labels: none

chore: update playwright
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  output/vue/vue3/package.json
  package-lock.json
Labels: cicd

chore: structure
  packages/components/src/components/header/docs/Angular.md
Labels: documentation, components

chore: structure
  packages/components/src/components/header/docs/Vue.md
Labels: documentation, components

chore: structure
  packages/components/src/components/page/docs/Angular.md
Labels: documentation, components

chore: structure
  packages/components/src/components/page/docs/Angular.md
Labels: documentation, components

Update Angular.md
  packages/components/src/components/page/docs/Angular.md
Labels: documentation, components

Update React.md
  packages/components/src/components/page/docs/React.md
Labels: documentation, components

Update Vue.md
  packages/components/src/components/page/docs/Vue.md
Labels: documentation, components

Update Angular.md
  packages/components/src/components/page/docs/Angular.md
Labels: documentation, components

Update React.md
  packages/components/src/components/page/docs/React.md
Labels: documentation, components

Update Vue.md
  packages/components/src/components/page/docs/Vue.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/icon/docs/HTML.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/icon/docs/HTML.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/button/docs/HTML.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/button/docs/HTML.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/alert/docs/HTML.md
Labels: documentation, components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
