Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: issues with padding and utf-8 for iframe
  showcases/patternhub/pages/iframe/index.tsx
  showcases/patternhub/styles/globals.scss
Labels: none

refactor: further optimized border-width calc
  packages/components/src/components/radio/radio.scss
Labels: components

fix: provide close button id & text to outside of components
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
Labels: components

refactor: show-code for documentation
  packages/components/package.json
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/shared/model.ts
  packages/foundations/scripts/zeplin-styleguide.js
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/tokens/zeplin.json
Labels: foundations, components

fix: issue with scripts zeplin and run dev
  packages/components/package.json
  packages/foundations/scripts/zeplin-styleguide.js
Labels: foundations, components

fix: issue conditional prop
  packages/components/src/shared/model.ts
Labels: components

chore: update screenshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

feat: fullscreen patternhub
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/styles/globals.scss
Labels: none

fix: stylings for properties
  packages/foundations/scss/_init.scss
  packages/foundations/scss/color/_code-colors.scss
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/styles/globals.scss
Labels: foundations

feat: alert for vue-showcase
  showcases/vue-showcase/src/components/alert/Alert.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: none

fix: issue with missing css properties
  packages/foundations/scripts/scss-scaling-generator.js
Labels: foundations

chore: update screenshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

Update packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
Labels: components

feat: add card for showcase
  packages/components/src/components/card/card.scss
  showcases/react-showcase/src/components/card/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/card.ts
Labels: components

feat: card with all properties
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  showcases/react-showcase/src/components/card/index.tsx
  showcases/shared/card.ts
Labels: components

feat: added divider component
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/divider.ts
Labels: none

feat: code docs for divider
  packages/components/src/components/divider/divider.scss
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/default-component-data.ts
  showcases/shared/divider.ts
  showcases/showcase-styles.css
Labels: components

docs: ✏️ Provide documentation on how to use db-card
  packages/components/src/components/card/docs/Angular.md
  packages/components/src/components/card/docs/HTML.md
  packages/components/src/components/card/docs/React.md
  packages/components/src/components/card/docs/Vue.md
Labels: documentation, components

docs: ✏️ Provide documentation on how to use db-radio
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/HTML.md
  packages/components/src/components/radio/docs/React.md
  packages/components/src/components/radio/docs/Vue.md
Labels: documentation, components

refactor: further optimizations
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/HTML.md
  packages/components/src/components/radio/docs/React.md
  packages/components/src/components/radio/docs/Vue.md
Labels: documentation, components

refactor: further optimizations
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/Vue.md
Labels: documentation, components

refactor: we don't need any further files as a starter
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/HTML.md
  packages/components/src/components/radio/docs/React.md
  packages/components/src/components/radio/docs/Vue.md
Labels: documentation, components

fix: we need webpack for Angular
  packages/components/src/components/radio/docs/Angular.md
Labels: documentation, components

fix: incorrect syntax
  packages/components/src/components/radio/docs/Angular.md
Labels: documentation, components

docs: added further details
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/React.md
Labels: documentation, components

refactor: added additional feedback
  packages/components/src/components/radio/docs/Vue.md
Labels: documentation, components

refactor: adding Angular specific file
  packages/components/src/components/radio/docs/Angular.md
Labels: documentation, components

Update Angular.md
  packages/components/src/components/card/docs/Angular.md
Labels: documentation, components

Update Angular.md
  packages/components/src/components/card/docs/Angular.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/card/docs/HTML.md
Labels: documentation, components

Update HTML.md
  packages/components/src/components/card/docs/HTML.md
Labels: documentation, components

Update React.md
  packages/components/src/components/card/docs/React.md
Labels: documentation, components

Update Vue.md
  packages/components/src/components/card/docs/Vue.md
Labels: documentation, components

docs: add html code for patternhub
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/React.md
  packages/components/src/components/link/docs/Vue.md
  packages/components/src/shared/constants.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/vite.config.ts
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/showcase-styles.css
Labels: documentation, components

Restore packages/components/src/components/link/docs/React.md
  packages/components/src/components/link/docs/React.md
Labels: documentation, components

Restore packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/Angular.md
Labels: documentation, components

Restore packages/components/src/components/link/docs/Vue.md
  packages/components/src/components/link/docs/Vue.md
Labels: documentation, components

Update globals.scss
  showcases/patternhub/styles/globals.scss
Labels: none

chore: update package.json
  package.json
  showcases/react-showcase/package.json
Labels: none

chore: update packge readmes
  output/angular/README.md
  packages/components/README.md
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/HTML.md
  packages/components/src/components/link/docs/React.md
  packages/components/src/components/link/docs/Vue.md
Labels: documentation, components
