Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

chore: added username for PRs created on GitHub.com
  package.json
Labels: none

feat: add custom icon font generator
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  packages/components/scripts/generate-icon-types.js
  packages/components/src/shared/icon-types.ts
  packages/foundations/README.md
  packages/foundations/assets/icons/functional/fonts/db-ux.woff2
  packages/foundations/package.json
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
  packages/foundations/scripts/generate-icon-fonts/styles/index.css
  packages/foundations/scripts/generate-icon-fonts/svg-to-font.js
  packages/foundations/scripts/generate-icon-fonts/template.ejs
  packages/foundations/scss/icon/icons.scss
Labels: documentation, foundations, components

chore: update generator for file sizes
  packages/foundations/README.md
  packages/foundations/assets/icons/functional/fonts/db-ux.woff2
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scss/icon/_icons.helpers.scss
Labels: documentation, foundations

refactor: regenerated lock file
  package-lock.json
Labels: none

fix: removed additional visibility for header
  packages/components/src/components/header/header.scss
Labels: components

chore: update docs
  packages/foundations/README.md
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
Labels: documentation, foundations

chore: update package-lock.json
  package-lock.json
Labels: none

feat: add css nano with postcss
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/package.json
  packages/foundations/postcss.config.js
Labels: foundations, components

chore: update package-lock.json
  package-lock.json
Labels: none

chore: fix issue with wrong doc
  packages/components/src/components/textarea/model.ts
Labels: components

chore: update from main
  packages/components/src/components/input/model.ts
Labels: components

fix: made components build parallel
  packages/components/package.json
Labels: components

chore: moved postcss.config to root
  packages/components/package.json
  packages/foundations/package.json
  packages/foundations/postcss.config.js
  postcss.config.cjs
Labels: foundations, components

Revert "chore: moved postcss.config to root"
  packages/components/package.json
  packages/components/postcss.config.js
  packages/foundations/package.json
  packages/foundations/postcss.config.js
Labels: foundations, components

fix: revert postcss config change
  packages/components/package.json
Labels: components

chore: update from main
  package-lock.json
Labels: none

chore: update screenshots
  __snapshots__/main-navigation/component/chromium/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-chrome/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-safari/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/webkit/DBMainNavigation-should-match-screenshot.png
  __snapshots__/navigation-item/component/chromium/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-chrome/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-safari/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/webkit/DBNavigationItem-should-match-screenshot.png
Labels: none

chore: update screenshots
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  showcases/shared/navigation-item.json
Labels: none

fix: issue with button not having auto width
  packages/components/src/components/button/button.scss
Labels: components

Update package.json
  package.json
Labels: none

Update package.json
  package.json
Labels: none

Update packages/foundations/README.md
  packages/foundations/README.md
Labels: documentation, foundations

Update packages/foundations/package.json
  packages/foundations/package.json
Labels: foundations

fix: missed this script
  package.json
Labels: none

Update packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/index.js
Labels: foundations

chore: update icon-fonts to center them
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/package.json
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  packages/foundations/scripts/generate-icon-fonts/svg-to-font.js
Labels: foundations, components

fix: this needs to be an underscore as well
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
Labels: components

fix: issue with navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

Update _icons.helpers.scss
  packages/foundations/scss/icon/_icons.helpers.scss
Labels: foundations

Update README.md
  packages/foundations/README.md
Labels: documentation, foundations

chore: update foundations scripts to use clean-icon
  package-lock.json
  packages/foundations/package.json
  packages/foundations/scripts/clean-icons/index.js
  packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/program.js
Labels: foundations

Update packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

fix: broken illustrative icons
  packages/foundations/assets/icons/illustrative/action/db_ic_il_account.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_ar_icon.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_calendar.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_fokus.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_pdf.svg
  packages/foundations/assets/icons/illustrative/communication/db_ic_il_chat.svg
  packages/foundations/assets/icons/illustrative/communication/db_ic_il_hashtag.svg
  packages/foundations/assets/icons/illustrative/covid_19/db_ic_il_distance.svg
  packages/foundations/assets/icons/illustrative/covid_19/db_ic_il_single_entry.svg
  packages/foundations/assets/icons/illustrative/feature/db_ic_il_whats_schmutzig.svg
  packages/foundations/assets/icons/illustrative/food/db_ic_il_restaurant.svg
  packages/foundations/assets/icons/illustrative/maps/db_ic_il_home.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_ticket_vending_machine.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_train_station.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_video_travel_center.svg
  packages/foundations/assets/icons/illustrative/ticket/db_ic_il_mobileticket_brand.svg
  packages/foundations/assets/icons/illustrative/ticket/db_ic_il_mobileticket_feature.svg
  packages/foundations/assets/icons/illustrative/travel/db_ic_il_timetable.svg
Labels: foundations

refactor: updated lock file
  package-lock.json
Labels: none

chore: update package-lock.json
  package-lock.json
Labels: none

fix: clean icons for variants
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  packages/foundations/package.json
  packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/index.js
  packages/foundations/scripts/generate-icon-fonts/index.js
Labels: foundations

chore: update lintstaged to run update:icon-fonts if a icon changes
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.js
Labels: none

fix: issue with tailwind sizings
  packages/foundations/tokens/tailwind/spacing.json
Labels: foundations

fix: missing input types
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Labels: components

refactor: prevent that new extra div tag
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components
