Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: issue with power-apps copy script
  package.json
Labels: none

fix: issue with power-apps copy script in cicd
  .github/workflows/01-build-power-apps.yml
Labels: cicd

chore: removed unnecessary whitespace
  build-power-apps/package.json
Labels: none

chore: update snapshots
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

fix: revert :has changes
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Labels: components

fix: revert :has changes
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
Labels: components

Update packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
Labels: components

fix: issue with comment
  packages/components/src/components/select/select.lite.tsx
Labels: components

refactor(checkbox): work with indeterminate state
  packages/components/scripts/post-build/react.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/checkbox/model.ts
  packages/foundations/scss/helpers/_component.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/react-showcase/src/components/form/index.tsx
Labels: foundations, components

fix(checkbox): angular showcase for indeterminate
  packages/components/src/components/checkbox/checkbox.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
Labels: components

chore: update from main
  packages/components/scripts/post-build/components.js
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
Labels: components

fix: issues for vue and angular
  packages/components/package.json
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/app.component.html
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/vue-showcase/src/App.vue
Labels: components

feat: add mobile navigation
  packages/components/scripts/post-build/components.js
  packages/components/src/components/header/header.scss
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/foundations/scss/helpers/_component.scss
  showcases/angular-showcase/src/app/nav-item/nav-item.component.html
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/react-showcase/src/navigation/nav-item.tsx
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/NavItemComponent.vue
Labels: foundations, components

fix: revert main-navigation changes
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/navigation-item/navigation-item.spec.tsx-snapshots/DBNavigationItem-should-match-screenshot-1-chromium-linux.png
  __snapshots__/navigation-item/navigation-item.spec.tsx-snapshots/DBNavigationItem-should-match-screenshot-1-mobile-chrome-linux.png
  __snapshots__/navigation-item/navigation-item.spec.tsx-snapshots/DBNavigationItem-should-match-screenshot-1-mobile-safari-linux.png
  __snapshots__/navigation-item/navigation-item.spec.tsx-snapshots/DBNavigationItem-should-match-screenshot-1-webkit-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.ts
  showcases/e2e/navigation-item/showcase-navigation-item.spec.ts
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Labels: components

fix: issue with brand logo
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/navigation-item/showcase-navigation-item.spec.ts-snapshots/DBNavigationItem-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  packages/components/src/components/brand/brand.scss
Labels: components

fix: issue with vue navigation-item
  .gitignore
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
Labels: components

chore: update playwright
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  scripts/update-playwright.js
Labels: cicd

chore: update snapshots
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-mobile-safari-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-webkit-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-mobile-safari-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-webkit-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-mobile-safari-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-webkit-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-successful-1-mobile-safari-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-successful-1-webkit-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-mobile-safari-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
Labels: none

Update package.json
  package.json
Labels: none

fix: issue with vue tests
  .jscpd.json
  packages/components/scripts/post-build/vue.js
Labels: components

chore: update snapshots
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot.png
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-safari/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/webkit/DBBrand-should-match-screenshot.png
Labels: none

chore: update spec.ejs.t naming issue
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-test.ejs.t
Labels: components

chore(docs): corrected DST context
  README.md
  packages/foundations/package.json
Labels: documentation, foundations

feat: add simple html files for development (styles)
  package.json
  packages/components/_templates/mitosis/new/component/html.ejs.t
  packages/components/_templates/mitosis/new/component/index-html.ejs.t
  packages/components/index.html
  packages/components/package.json
  packages/components/src/components/alert/index.html
  packages/components/src/components/brand/index.html
  packages/components/src/components/button/index.html
  packages/components/src/components/card/index.html
  packages/components/src/components/checkbox/index.html
  packages/components/src/components/divider/index.html
  packages/components/src/components/drawer/index.html
  packages/components/src/components/header/index.html
  packages/components/src/components/icon/index.html
  packages/components/src/components/infotext/index.html
  packages/components/src/components/input/index.html
  packages/components/src/components/link/index.html
  packages/components/src/components/radio/index.html
  packages/components/src/components/section/index.html
  packages/components/src/components/select/index.html
  packages/components/src/components/tag/index.html
  packages/components/vite.config.js
  scripts/dev.js
Labels: components

chore: update screenshots
  __snapshots__/navigation-item/component/chromium/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-chrome/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-safari/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/webkit/DBNavigationItem-should-match-screenshot.png
Labels: none

chore: update snapshots
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/home/showcase/chromium/regular/neutral-0/Home-should-match-screenshot.png
  __snapshots__/home/showcase/mobile-chrome/regular/neutral-0/Home-should-match-screenshot.png
  __snapshots__/home/showcase/mobile-safari/regular/neutral-0/Home-should-match-screenshot.png
  __snapshots__/home/showcase/webkit/regular/neutral-0/Home-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
  showcases/e2e/default.ts
Labels: none

fix: issue with readme for components
  showcases/patternhub/.gitignore
  showcases/patternhub/pages/components/readme.mdx
Labels: none

fix: issue with power apps
  build-power-apps/DBUI/DBUI.cdsproj
Labels: none

fix: some issues from PR
  packages/components/src/components/navigation-item/docs/HTML.md
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: documentation, components

fix: removed additional functions in navigation-item
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

chore: update scss for navigation
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/styles/db-puls.scss
Labels: components

fix: issue with wrong prop
  showcases/react-showcase/src/components/navigation-item/index.tsx
Labels: none

chore: removed unused code
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/utils/index.ts
Labels: components

chore: update navigation-item to work with button
  __snapshots__/main-navigation/component/chromium/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-chrome/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-safari/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/webkit/DBMainNavigation-should-match-screenshot.png
  packages/components/overrides/angular/src/components/navigation-item/navigation-content.directive.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/styles/db-puls.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/nav-item/nav-item.component.html
  showcases/react-showcase/src/navigation/index.tsx
  showcases/react-showcase/src/navigation/nav-item.tsx
  showcases/vue-showcase/src/NavItemComponent.vue
Labels: components

chore: update from main
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/main-navigation/component/chromium/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-chrome/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/mobile-safari/DBMainNavigation-should-match-screenshot.png
  __snapshots__/main-navigation/component/webkit/DBMainNavigation-should-match-screenshot.png
  __snapshots__/navigation-item/component/chromium/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-chrome/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/mobile-safari/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/component/webkit/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
  package-lock.json
  packages/components/src/components/button/button.lite.tsx
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.ts
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Labels: components

chore: update from main
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
Labels: none

fix: issue with vue router-link
  showcases/vue-showcase/src/App.vue
Labels: none

chore: update example and docs for main-navigation
  packages/components/src/components/main-navigation/docs/Angular.md
  packages/components/src/components/main-navigation/docs/HTML.md
  packages/components/src/components/main-navigation/docs/React.md
  packages/components/src/components/main-navigation/docs/Vue.md
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/main-navigation/main-navigation.component.html
  showcases/angular-showcase/src/app/components/main-navigation/main-navigation.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/main-navigation/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/components/main-navigation/MainNavigation.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: documentation, components

fix: issue with xo and prettier, removed pretty-quick
  .husky/pre-commit
  package-lock.json
  package.json
  scripts/prettier-stage.js
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/tag/tag.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/pages/_app.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: none

chore: update snapshots
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
  showcases/e2e/navigation-item/showcase-navigation-item.spec.ts
Labels: none
