Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

fix: issue with tests
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-webkit-linux.png
Labels: none

fix: issue update-prs.js
  .github/scripts/cleanup-gh-pages.js
  .github/scripts/update-prs.js
Labels: cicd

fix: issue update-prs.js
  .github/workflows/cleanup.yml
  .github/workflows/update-prs.yml
Labels: cicd

test: cicd
  .github/scripts/update-prs.js
Labels: cicd

test: cicd
  .github/scripts/update-prs.js
Labels: cicd

test: cicd
  .github/workflows/update-prs.yml
Labels: cicd

refactor: we couldn't programatically update PRs at the moment
  .github/workflows/update-prs.yml
Labels: cicd

fix: issue with button.lite.tsx
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  showcases/vanilla-showcase/src/app-shell.js
Labels: components

chore: Make husky hook executable on unix
  .husky/post-merge
Labels: none

chore: 🤖 Exclude .history from jscpd
  .jscpd.json
Labels: none

refactor: replace placeholder in reactwind with missing components
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/model.ts
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: components

test: 💍 Add DBBrand component test
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-chromium-darwin.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-webkit-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-chromium-darwin.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-chromium-darwin.png
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/test/playwright/boilerplate/index.ts
Labels: components

chore: rename icon-web-component.css
  packages/components/scripts/post-build/components.js
  packages/components/src/components/icon/icon-web-component.scss
Labels: components

feat: add config to work with vModel
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
  showcases/vue-showcase/src/App.vue
Labels: components

fix: issue with header
  packages/components/src/components/brand/brand.scss
Labels: components

chore: Make husky hook executable on unix
  .husky/post-checkout
Labels: none

chore: let's name those clearer
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/web-components.js
Labels: components

fix: issue with brand for showcases
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  showcases/angular-current-showcase/angular.json
  showcases/angular-current-showcase/src/assets/images/db_logo.svg
  showcases/angular-lts-showcase/angular.json
  showcases/angular-lts-showcase/src/assets/images/db_logo.svg
  showcases/react-showcase/public/assets/images/db_logo.svg
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/utils/navigation-items.js
  showcases/vanilla-showcase/src/utils/navigation-paths.js
  showcases/vanilla-showcase/vite.config.js
  showcases/vue-showcase/public/assets/images/db_logo.svg
  showcases/vue-showcase/public/favicon.ico
  showcases/vue-showcase/public/robots.txt
  showcases/vue-showcase/public/site.webmanifest
Labels: components

fix: issue with brand for showcases
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-webkit-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/brand/model.ts
  showcases/reactwind-showcase/src/sections/Header/index.tsx
Labels: components

feat: add infotext component
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-desktop-DBInfotext-should-match-screenshot-1-chromium-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-desktop-DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-desktop-DBInfotext-should-match-screenshot-1-webkit-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-mobile-DBInfotext-should-match-screenshot-1-chromium-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-mobile-DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-component-on-mobile-DBInfotext-should-match-screenshot-1-webkit-linux.png
  packages/components/_templates/mitosis/new/spec.ejs.t
  packages/components/overrides/angular/src/components/infotext/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/infotext/index.ts
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/infotext/model.ts
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  packages/components/test/playwright/boilerplate/index.html
  packages/foundations/scss/_tonality.scss
  showcases/angular-lts-showcase/src/app/app.component.html
  showcases/angular-lts-showcase/src/app/app.module.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/index.scss
  showcases/vue-showcase/src/App.vue
Labels: foundations, components

fix: issue with brand
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/brand/model.ts
Labels: components

fix: issue with brand
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-webkit-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/brand/model.ts
Labels: components

fix: issue with brand
  packages/components/src/components/brand/brand.lite.tsx
Labels: components

chore: update section and tokens from zeplin
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/header/header.scss
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/foundations/scripts/scss-scaling-generator.js
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scripts/zeplin-styleguide.js
  packages/foundations/tokens/screens.json
  packages/foundations/tokens/zeplin.json
  showcases/react-showcase/src/app.tsx
  showcases/reactwind-showcase/src/app.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: foundations, components

Update brand.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
Labels: components

fix: issues from PR
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Default-DBCard-should-match-screenshot-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Default-DBCard-should-match-screenshot-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Default-DBCard-should-match-screenshot-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Default-DBCard-should-match-screenshot-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Default-DBCard-should-match-screenshot-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Default-DBCard-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/brand/model.ts
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/card/model.ts
Labels: components

fix: issues from PR
  packages/components/src/components/section/section.scss
Labels: components

Update page.scss
  packages/components/src/components/page/page.scss
Labels: components

fix: issues from PR
  packages/components/src/components/section/section.scss
  showcases/reactwind-showcase/src/app.tsx
Labels: components

chore: added a todo comment
  packages/components/src/components/section/section.lite.tsx
Labels: components

Update brand.scss
  packages/components/src/components/brand/brand.scss
Labels: components

Update brand.scss
  packages/components/src/components/brand/brand.scss
Labels: components

Update packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/button/button.spec.tsx
Labels: components

fix: issues from PR
  packages/foundations/scss/helpers/_shadow-dom.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.scss
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/react-showcase/src/components/form/index.scss
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vanilla-showcase/src/components/form/index.css
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/index.scss
Labels: foundations

fix: issues from PR
  packages/foundations/scss/helpers/_shadow-dom.scss
Labels: foundations

chore: update colors from zeplin
  package-lock.json
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/tokens/zeplin.json
Labels: foundations

fix: issues for build-outputs in cicd
  .github/workflows/default.yml
  package-lock.json
  packages/components/_templates/mitosis/new/components.ejs.t
  packages/components/scripts/post-build/components.js
Labels: cicd, components

fix: issues with tests
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
Labels: components

feat: add doc generation for patternhub
  .gitignore
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  packages/components/package.json
  packages/components/src/components/brand/model.ts
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/styles/globals.scss
Labels: components

fix: issues from PR
  packages/components/src/components/button/button.scss
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/link.scss
  packages/components/src/shared/model.ts
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations, components
