Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

chore: 🤖 WIP2
  .github/workflows/e2e.yml
Labels: cicd

chore: 🤖 WIP
  .github/workflows/e2e.yml
Labels: cicd

chore: 🤖 WIP2
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP3
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP4
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP5
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP6
  .github/workflows/default.yml
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP8
  .github/workflows/01-build-packages.yml
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP9
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP10
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP11
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP12
  .github/workflows/01-build-packages.yml
  .github/workflows/e2e.yml
Labels: cicd

fix: changed components build
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  examples/angular-example/README.md
  examples/angular-example/src/styles.scss
  examples/react-example/README.md
  examples/react-example/src/index.scss
  examples/vue-example/README.md
  examples/vue-example/src/style.scss
  packages/components/package.json
  packages/components/src/styles/db-ui-42.scss
Labels: cicd, documentation, components, examples

fix: removed secondary install
  .github/workflows/01-build-outputs.yml
Labels: cicd

chore: WIP13
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP14
  .github/workflows/e2e.yml
Labels: cicd

fix: angular dependencies
  .github/workflows/01-build-outputs.yml
  examples/angular-example/angular.json
  examples/angular-example/karma.conf.js
  examples/angular-example/package-lock.json
  examples/angular-example/package.json
  examples/angular-example/tsconfig.spec.json
Labels: cicd, examples

fix: dependencies
  package-lock.json
  packages/components/package.json
Labels: components

Update README.md
  examples/angular-example/README.md
Labels: documentation, examples

Update README.md
  examples/angular-example/README.md
Labels: documentation, examples

chore: WIP15
  .github/workflows/e2e.yml
  output/react/tests/button.spec.tsx
Labels: cicd

Update index.html
  examples/angular-example/src/index.html
Labels: examples

chore: WIP16
  package-lock.json
Labels: none

Update package.json
  packages/components/package.json
Labels: components

chore: WIP17
  .github/workflows/e2e.yml
  output/react/tests/button.spec.tsx
Labels: cicd

chore: WIP18
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP19
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP20
  .github/workflows/e2e.yml
Labels: cicd

chore: WIP21
  .github/workflows/e2e.yml
  output/react/tests/button.spec.tsx
Labels: cicd

Update examples/angular-example/.vscode/extensions.json
  examples/angular-example/.vscode/extensions.json
Labels: examples

Update examples/angular-example/.editorconfig
  examples/angular-example/.editorconfig
Labels: examples

Update examples/angular-example/tsconfig.json
  examples/angular-example/tsconfig.json
Labels: examples

Revert "Update examples/angular-example/.editorconfig"
  examples/angular-example/.editorconfig
Labels: examples

fix: update package-lock.json
  examples/angular-example/package-lock.json
  examples/angular-example/package.json
Labels: examples

fix: issue with dependabot deploy
  .github/workflows/default.yml
Labels: cicd

fix: issue with angular dependency
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: none

fix: add @angular/platform-browser-dynamic to dependabot ignore
  .github/dependabot.yml
Labels: cicd

fix: issue with dependabot and cancel-workflow
  .github/actions/cancel-workflow/action.yml
Labels: cicd

chore: WIP22
  .github/workflows/e2e.yml
  output/react/tests/button.spec.tsx
  packages/components/src/components/button/button.lite.tsx
Labels: cicd, components

chore: WIP23
  .github/workflows/e2e.yml
  output/react/tests/button.spec.tsx
Labels: cicd
