Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

chore: update snapshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

fix: issues with angular-build
  packages/components/src/components/select/select.lite.tsx
  showcases/react-showcase/src/components/select/index.tsx
Labels: components

chore: simplification
  showcases/showcase-styles.css
Labels: none

fix: issues from PR
  packages/components/src/components/code-docs/README.md
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/link/link.scss
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/code-docs/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/showcase-styles.css
Labels: documentation, components

fix: issue with nextjs
  packages/components/src/utils/index.ts
Labels: components

chore: update snapshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

fix: issues with angular-build
  packages/components/src/shared/constants.ts
Labels: components

fix: minor issues for react-showcase
  packages/components/src/components/select/model.ts
  showcases/react-showcase/src/components/select/index.tsx
Labels: components

chore: fixed further issues
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
Labels: components

chore: aligned those
  packages/components/scripts/post-build/components.js
Labels: components

feat: add refs for custom event workarounds
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/_templates/mitosis/new/components.ejs.t
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/copy-files.js
  packages/components/scripts/post-build/power-apps.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/svelte.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/post-build/web-components.js
  packages/components/scripts/utils/index.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/shared/model.ts
Labels: documentation, components

chore: update templates for web-component.scss
  packages/components/_templates/mitosis/new/components.ejs.t
  packages/components/_templates/mitosis/new/webcomponent-scss.ejs.t
  packages/components/src/components/alert/alert-web-component.scss
Labels: components

feat: add default component for vue
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/vue-showcase-router.ejs.t
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/alert.ts
  showcases/shared/button.ts
  showcases/shared/default-component-data.ts
  showcases/shared/infotext.ts
  showcases/shared/input.ts
  showcases/shared/link.ts
  showcases/shared/section.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: components

feat: add default component for angular
  packages/components/_templates/mitosis/new/angular-showcase-component-html.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/angular-showcase-router.ejs.t
  showcases/angular-current-showcase/tsconfig.json
  showcases/angular-lts-showcase/tsconfig.json
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/tsconfig.json
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/alert.ts
  showcases/shared/button.ts
  showcases/shared/infotext.ts
  showcases/shared/input.ts
  showcases/shared/link.ts
  showcases/shared/section.ts
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/input/index.scss
Labels: components

fix: issue with wrapping tag for angular components
  packages/components/_templates/mitosis/new/db-ui-components-angular.ejs.t
  packages/components/src/styles/db-ui-components.scss
Labels: components

fix: issue with linting
  .prettierrc.json
  package.json
Labels: none

fix: issue with linting
  .prettierrc.json
  package.json
Labels: none

chore: update playwright
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
Labels: cicd

fix: issue with linting
  .github/workflows/01-lint.yml
  .xo-config.json
  package-lock.json
  package.json
Labels: cicd

Update 01-lint.yml
  .github/workflows/01-lint.yml
Labels: cicd

chore: let's differentiate a little bit further here
  packages/components/src/components/code-docs/code-docs.spec.tsx
Labels: components

feat: add iframe component parser to include it in mapo
  showcases/patternhub/.gitignore
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/patternhub/styles/globals.scss
Labels: none

Update packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
Labels: components

Update index.tsx
  showcases/patternhub/pages/base64/index.tsx
Labels: none

Update showcases/showcase-styles.css
  showcases/showcase-styles.css
Labels: none

Update showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/index.tsx
Labels: none

fix: removed role=button from summary
  packages/components/src/components/code-docs/code-docs.lite.tsx
Labels: components

fix: incorrect comment format
  showcases/patternhub/pages/base64/index.tsx
Labels: none

feat: added missing disabled styles
  packages/components/src/components/select/select.scss
Labels: components

refactor: updated zeplin tokens
  packages/foundations/tokens/zeplin.json
Labels: foundations

fix: issue with substring sanitization
  showcases/patternhub/components/component-parser/index.tsx
Labels: none

fix: issue with component parser
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
Labels: none

chore: update from main
  packages/components/scripts/post-build/components.js
Labels: components

fix: snapshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

test: 💍 Add Angular showcase E2E test
  package.json
  showcases/angular-current-showcase/package.json
  showcases/e2e/button.spec.ts
  showcases/e2e/home.spec.ts
  showcases/e2e/infotext.spec.ts
  showcases/e2e/input.spec.ts
  showcases/e2e/link.spec.ts
  showcases/e2e/section.spec.ts
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
Labels: none

test: 💍 E2E test showcases with Playwright
  .gitignore
  .xo-config.json
  package-lock.json
  package.json
  showcases/e2e/button.spec.ts
  showcases/e2e/fixtures/variants.ts
  showcases/e2e/home.spec.ts
  showcases/e2e/infotext.spec.ts
  showcases/e2e/input.spec.ts
  showcases/e2e/link.spec.ts
  showcases/e2e/section.spec.ts
  showcases/playwright.config.ts
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
Labels: none

chore: 🤖 Update jscpd rules
  .jscpd.json
Labels: none

test: 💍 Change casing in playwright config
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Labels: components

WIP
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-webkit-linux.png
Labels: none

refactor: 💡 WIP pipeline
  .github/workflows/02-e2e.yml
Labels: cicd

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
