Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

fix: issue from PR
  .eslintignore
  showcases/patternhub/next.config.js
Labels: none

fix: revert code styling changes
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .github/scripts/publish-npm.sh
Labels: cicd

fix: removed color classes from db-ui-42.scss
  packages/components/src/styles/db-ui-42.scss
  showcases/angular-current-showcase/angular.json
  showcases/angular-lts-showcase/angular.json
Labels: components

chore: update from main
  package-lock.json
Labels: none

Update README.md
  showcases/patternhub/README.md
Labels: documentation

fix: issue with local development (angular)
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: none

Update README.md
  showcases/patternhub/README.md
Labels: documentation

Update README.md
  showcases/patternhub/README.md
Labels: documentation

Update README.md
  showcases/patternhub/README.md
Labels: documentation

feat: add overview of components and eslint in README.md
  .github/scripts/publish-npm.sh
  .xo-config.json
  README.md
  package-lock.json
  packages/components/src/components/tab-bar/model.ts
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/shared/model.ts
  packages/eslint/package.json
Labels: cicd, documentation, components

chore: update from main
  packages/components/src/styles/db-ui-components.scss
Labels: components

Update README.md
  output/README.md
Labels: documentation

fix: issue with dependencies for angular builds
  output/angular/package.json
  package-lock.json
Labels: none

fix: issue with dependencies for angular builds
  .github/scripts/publish-npm.sh
  output/angular/ng-package.json
  output/angular/package.json
  package-lock.json
Labels: cicd

fix: issue with bundling angular builds
  output/angular/ng-package.json
  output/angular/package.json
  packages/components/_templates/mitosis/new/angular-package.ejs.t
Labels: components

Update index.mdx
  showcases/patternhub/pages/index.mdx
Labels: none

Update index.mdx
  showcases/patternhub/pages/index.mdx
Labels: none

fix: removed styles from framework components to decouple it
  .github/scripts/publish-npm.sh
  examples/react-example/README.md
  examples/react-example/src/index.scss
  examples/vue-example/README.md
  examples/vue-example/src/style.scss
  output/angular/ng-package.json
  output/angular/package.json
  packages/components/scripts/post-build/copy-files.js
  packages/components/scripts/post-build/next.js
  packages/components/scripts/post-build/power-apps.js
  packages/components/scripts/post-build/wc.js
Labels: cicd, documentation, components, examples

fix: issue from PR
  showcases/patternhub/components/default-page.tsx
Labels: none

fix: unused css exports
  packages/components/_templates/mitosis/new/angular-package.ejs.t
  packages/components/_templates/mitosis/new/db-ui-core.ejs.t
Labels: components

chore: added todo comments
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/pages/showcases/index.tsx
Labels: none

Update model.ts
  packages/components/src/components/brand/model.ts
Labels: components

Update packages/components/src/shared/model.ts
  packages/components/src/shared/model.ts
Labels: components

fix: issues from PR
  package-lock.json
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/package.json
Labels: none

Update showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/app.tsx
Labels: none

Update showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/app.tsx
Labels: none

fix: revert changes for div
  showcases/react-showcase/src/app.tsx
Labels: none

fix: issues with wrong import
  showcases/patternhub/styles/globals.scss
Labels: none

fix: issues with react-components and unused next output
  output/react/package.json
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/next.js
  showcases/next-showcase/package.json
Labels: components

chore: update from main
  packages/components/scripts/post-build/index.js
Labels: components

test: 💍 Add playwright 🎭 component tests
  .github/workflows/e2e.yml
  .gitignore
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-match-screenshot-1-webkit-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-chromium-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-firefox-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-desktop-Button-should-only-have-icon-1-webkit-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-darwin.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-chromium-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-firefox-linux.png
  output/react/__snapshots__/button.spec.tsx-snapshots/Button-block-mobile-Button-should-match-screenshot-1-webkit-linux.png
  output/react/package.json
  output/react/playwright.config.ts
  output/react/playwright/index.html
  output/react/playwright/index.ts
  output/react/tests/button.spec.tsx
  package-lock.json
  packages/components/src/components/button/button.lite.tsx
Labels: cicd, components

chore: 🤖 WIP
  output/react/playwright.config.ts
  output/react/playwright/index.ts
Labels: none

chore: 🤖 WIP
  .github/workflows/e2e.yml
Labels: cicd

chore: 🤖 WIP
  .github/workflows/e2e.yml
Labels: cicd

chore: 🤖 WIP
  output/react/package.json
  package-lock.json
Labels: none

fix: issue with wrong paths
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
Labels: none

Update button.spec.tsx
  output/react/tests/button.spec.tsx
Labels: none

Update button.spec.tsx
  output/react/tests/button.spec.tsx
Labels: none

chore: 🤖 WIP
  .github/workflows/e2e.yml
Labels: cicd

chore: 🤖 WIP
  output/react/tests/button.spec.tsx
Labels: none

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
