Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

test: npm ci
  .github/workflows/02-e2e.yml
  packages/components/test/playwright/boilerplate/index.ts
Labels: cicd, components

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/test/playwright/boilerplate/index.ts
  packages/components/test/playwright/config.ts
Labels: cicd, components

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

test: npm ci
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with cicd
  .github/workflows/02-e2e.yml
Labels: cicd

fix: moved react-docgen dependency
  package-lock.json
  package.json
  packages/components/package.json
Labels: components

fix: issues with header.scss
  packages/components/src/components/divider/divider-web-component.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/header/header.scss
  showcases/patternhub/scripts/get-example-file.js
Labels: components

fix: issues with dialog open with button
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.module.ts
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/static-content.tsx
  showcases/patternhub/scripts/get-example-file.js
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/navigation.js
  showcases/vue-showcase/src/App.vue
Labels: components

fix: issues with dialog open with button
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: issues with header component
  packages/components/scripts/post-build/components.js
Labels: components

fix: issues with tests
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-desktop-DBBrand-should-match-screenshot-1-webkit-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-chromium-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-firefox-linux.png
  __snapshots__/brand/brand.spec.tsx-snapshots/DBBrand-component-on-mobile-DBBrand-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/model.ts
Labels: components

feat: add new colors from zeplin
  packages/components/src/components/button/button.scss
  packages/components/src/shared/constants.ts
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/tokens/zeplin.json
Labels: foundations, components

fix: issues for states for input
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/input/input.scss
  packages/components/src/shared/constants.ts
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/react-showcase/src/components/button/index.tsx
  showcases/vue-showcase/src/components/button/Button.vue
Labels: foundations, components

fix: issues for cicd
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-webkit-linux.png
  packages/components/src/components/button/button.lite.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: components

fix: issue with card
  package-lock.json
  packages/components/src/components/card/model.ts
Labels: components

fix: issue with angular
  showcases/angular-showcase/src/app/components/button/button.component.ts
Labels: none

fix: issue with alert.lite.tsx
  packages/components/src/components/alert/alert.lite.tsx
Labels: components

fix: issue with colors
  packages/components/src/components/button/button.scss
  packages/components/src/shared/constants.ts
Labels: components

fix: removed bad background colors
  packages/components/src/components/input/input.scss
  packages/components/src/shared/constants.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/input/index.tsx
  showcases/vue-showcase/src/components/input/Input.vue
Labels: components

feat: add show code for showcase react
  package-lock.json
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/src/components/link/link.scss
  packages/foundations/scss/_init.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/showcase-styles.css
Labels: foundations, components

feat: added new icon fonts
  packages/foundations/assets/icons/functional/fonts/icons-outline.woff
  packages/foundations/assets/icons/functional/fonts/icons-outline.woff2
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff2
Labels: foundations

feat: added new icon fonts sources
  packages/foundations/assets/icons/functional/fonts/sources/outline-selection.json
  packages/foundations/assets/icons/functional/fonts/sources/solid-selection.json
Labels: foundations

refactor: we won't need these "missing icons" fonts anymore
  packages/foundations/scss/icon/_icon-calc.scss
  packages/foundations/scss/icon/_icons.variables.scss
Labels: foundations

refactor: we don't have a size relation by the font-families anymore
  packages/components/src/components/infotext/infotext.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/icon/_icons.custom-properties.scss
  packages/foundations/scss/icon/_icons.font-faces.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.variables.scss
Labels: foundations, components

feat: add show code button as own component
  packages/components/overrides/angular/src/components/code-docs/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/code-docs/README.md
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/code-docs/code-docs.spec.tsx
  packages/components/src/components/code-docs/index.ts
  packages/components/src/components/code-docs/model.ts
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/code-docs/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/showcase-styles.css
Labels: documentation, components

refactor: actually needed to add the correct version of these assets
  packages/foundations/assets/icons/functional/fonts/icons-outline.woff
  packages/foundations/assets/icons/functional/fonts/icons-outline.woff2
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff2
  packages/foundations/assets/icons/functional/fonts/sources/outline-selection.json
  packages/foundations/assets/icons/functional/fonts/sources/solid-selection.json
Labels: foundations

refactor: we don't need the mappings any more
  packages/foundations/scss/icon/_icons.attributes-mappings.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
  packages/foundations/scss/icon/_icons.variables.scss
Labels: foundations

refactor: we won't need these "missing icons" fonts anymore
  packages/foundations/scss/icon/_icons.font-faces.scss
Labels: foundations

refactor: needed to correct another aspect
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff
  packages/foundations/assets/icons/functional/fonts/icons-solid.woff2
  packages/foundations/assets/icons/functional/fonts/sources/solid-selection.json
Labels: foundations

docs: how to create the icon fonts
  packages/foundations/assets/icons/functional/fonts/README.md
Labels: documentation, foundations

Update README.md
  packages/foundations/assets/icons/functional/fonts/README.md
Labels: documentation, foundations

refactor: aligned the icons naming with the filenames
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/shared/model.ts
Labels: components

chore: update other show codes
  packages/components/_templates/mitosis/new/readme.ejs.t
  packages/components/src/components/code-docs/README.md
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: documentation, components

chore: updated README
  README.md
Labels: documentation

feat: added initial stack of files
  packages/components/overrides/angular/src/components/select/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/select/README.md
  packages/components/src/components/select/index.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/select/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: documentation, components

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
