Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

feat: add "weak" emphasis for drawer
  .stylelintrc.json
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
Labels: components

fix: issue with form inside showcases
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Labels: none

chore: update snapshots
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
Labels: none

fix: issue with type for tag
  packages/components/src/components/tag/tag.lite.tsx
Labels: components

chore: revert Readme files
  .github/workflows/01-build-showcases.yml
  .husky/pre-commit
  README.md
  docs/images/download/Contributor_Covenant-2.0-4baaaa.licence
  docs/images/download/Contributor_Covenant-2.0-4baaaa.svg
  docs/images/download/Conventional_Commits-1.0.0-yellow.licence
  docs/images/download/Conventional_Commits-1.0.0-yellow.svg
  docs/images/download/License-Apache_2.0-blue.licence
  docs/images/download/License-Apache_2.0-blue.svg
  docs/images/download/PRs-welcome-brightgreen.licence
  docs/images/download/PRs-welcome-brightgreen.svg
  docs/images/download/Part_of-DB_UX_Design_System_Core-d7dce1.licence
  docs/images/download/Part_of-DB_UX_Design_System_Core-d7dce1.svg
  docs/images/download/code_style-XO-5ed9c7.licence
  docs/images/download/code_style-XO-5ed9c7.svg
  docs/images/download/code_style-prettier-ff69b4.licence
  docs/images/download/code_style-prettier-ff69b4.svg
  docs/images/download/npm-ed1c24.licence
  docs/images/download/npm-ed1c24.svg
  output/README.md
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  output/webcomponent/README.md
  packages/components/README.md
  packages/foundations/README.md
  scripts/md-resolve-svg.js
Labels: cicd, documentation, foundations, components

refactor: md-resolve-svg.js to work with dynamic urls
  output/README.md
  scripts/md-resolve-svg.js
Labels: documentation

chore: update snapshots
  __snapshots__/tag/showcase/chromium/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-0/DBTag-should-match-screenshot.png
  package-lock.json
  showcases/shared/tag.json
Labels: none

refactor: drawer backdrop (combine noBackdrop and emphasis)
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Labels: components

chore: update package-lock.json
  package-lock.json
Labels: none

chore: update package-lock.json
  package-lock.json
Labels: none

chore: update chevron animation for header
  packages/components/src/components/input/input.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/form-components.scss
Labels: components

feat: add fadein for page to handle layout shifts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/page/model.ts
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/app.tsx
  showcases/vue-showcase/src/App.vue
Labels: components

chore: update package-lock.json
  package-lock.json
Labels: none

chore: update border colors (add weak border)
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/tokens/zeplin.json
Labels: foundations

feat: add badge component
  package-lock.json
  packages/components/index.html
  packages/components/overrides/angular/src/components/badge/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/badge/badge-web-component.scss
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/badge/docs/Angular.md
  packages/components/src/components/badge/docs/HTML.md
  packages/components/src/components/badge/docs/React.md
  packages/components/src/components/badge/docs/Vue.md
  packages/components/src/components/badge/index.html
  packages/components/src/components/badge/index.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/infotext/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.html
  showcases/angular-showcase/src/app/components/badge/badge.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/badge/showcase-badge.spec.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/badge.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/badge/Badge.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: documentation, components

chore: add icon badge and placement
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/model.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/shared/badge.json
  showcases/showcase-styles.css
Labels: components

chore: add badge workaround for angular
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/index.html
  packages/components/src/components/badge/model.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Labels: components

chore: add badge vue showcase and snapshots
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-safari/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/webkit/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/model.ts
  showcases/vue-showcase/src/components/badge/Badge.vue
Labels: components

fix: issue with fadeIn prop
  packages/components/src/components/page/page.lite.tsx
Labels: components

Update README.md
  packages/components/src/components/drawer/README.md
Labels: documentation, components

Update _tonality.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations

Update adr-04-icons.md
  docs/adr-04-icons.md
Labels: documentation

refactor: we shouldn't do this
  packages/foundations/scss/icon/icons.scss
Labels: foundations

Update adr-04-icons.md
  docs/adr-04-icons.md
Labels: documentation

refactor: regenerated types
  packages/components/src/shared/icon-types.ts
Labels: components

Update README.md
  packages/foundations/assets/icons/functional/fonts/README.md
Labels: documentation, foundations

refactor: renamed those files
  packages/foundations/assets/icons/functional/fonts/icons-outlined.woff
  packages/foundations/assets/icons/functional/fonts/icons-outlined.woff2
  packages/foundations/assets/icons/functional/fonts/sources/outlined-selection.json
Labels: foundations

refactor: removed the old fonts
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-action.woff
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-action.woff2
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-navigation.woff
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-navigation.woff2
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-notification.woff
  packages/foundations/assets/icons/functional/fonts/icons-16-filled-notification.woff2
  packages/foundations/assets/icons/functional/fonts/icons-20-filled-it.woff
  packages/foundations/assets/icons/functional/fonts/icons-20-filled-it.woff2
  packages/foundations/assets/icons/functional/fonts/icons-20-filled-transportation.woff
  packages/foundations/assets/icons/functional/fonts/icons-20-filled-transportation.woff2
  packages/foundations/assets/icons/functional/fonts/icons-20-outline-it.woff
  packages/foundations/assets/icons/functional/fonts/icons-20-outline-it.woff2
  packages/foundations/assets/icons/functional/fonts/icons-24-filled-notification.woff
  packages/foundations/assets/icons/functional/fonts/icons-24-filled-notification.woff2
  packages/foundations/assets/icons/functional/fonts/icons-24-filled-transportation.woff
  packages/foundations/assets/icons/functional/fonts/icons-24-filled-transportation.woff2
  packages/foundations/assets/icons/functional/fonts/icons-24-outline-it.woff
  packages/foundations/assets/icons/functional/fonts/icons-24-outline-it.woff2
  packages/foundations/assets/icons/functional/fonts/icons-32-filled-notification.woff
  packages/foundations/assets/icons/functional/fonts/icons-32-filled-notification.woff2
  packages/foundations/assets/icons/functional/fonts/icons-32-filled-transportation.woff
  packages/foundations/assets/icons/functional/fonts/icons-32-filled-transportation.woff2
  packages/foundations/assets/icons/functional/fonts/icons-32-outline-it.woff
  packages/foundations/assets/icons/functional/fonts/icons-32-outline-it.woff2
  packages/foundations/assets/icons/functional/fonts/icons-48-outline-brand.woff
  packages/foundations/assets/icons/functional/fonts/icons-48-outline-brand.woff2
  packages/foundations/assets/icons/functional/fonts/icons-64-outline-brand.woff
  packages/foundations/assets/icons/functional/fonts/icons-64-outline-brand.woff2
Labels: foundations

feat: accordion item
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/index.html
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
Labels: components

feat: accordion item example for react
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/shared/accordion-item.json
Labels: components

chore: update package-lock.json
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
Labels: none

Update packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
Labels: components

Update packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
Labels: components

Update packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.scss
Labels: components

fix: issues from PR
  packages/components/src/components/drawer/README.md
Labels: documentation, components

fix: issues from PR
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/components/navigation/index.tsx
  showcases/playwright.config.ts
Labels: components

chore: update from main
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/app.component.html
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/vue-showcase/src/App.vue
Labels: components

fix: issue with typescript version in angular showcase
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
Labels: none

fix: issue with power-apps
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
Labels: components

chore: update from main
  package-lock.json
Labels: none

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
