Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

chore: optimization
  showcases/react-showcase/src/components/select/index.tsx
Labels: none

refactor: first adaptions
  .jscpd.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/select/README.md
  packages/components/src/components/select/select.lite.tsx
Labels: documentation, components

feat: added select implementation
  .jscpd.json
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/shared/constants.ts
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/select/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: components

refactor: first of all needed to revert that previous incorrect major update
  package-lock.json
  showcases/angular-lts-showcase/package.json
Labels: none

refactor: updated Angular dependencies maximum by minor version
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: none

feat: add new component - accordion
  packages/components/overrides/angular/src/components/accordion/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/accordion/README.md
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/accordion/index.ts
  packages/components/src/components/accordion/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/_init.scss
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: documentation, foundations, components

chore: that role is already implicitly set
  packages/components/src/components/accordion/accordion.lite.tsx
Labels: components

fix: issue from PR
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/styles/_component_defaults.scss
Labels: components

chore: code optimization
  showcases/react-showcase/src/components/accordion/index.tsx
Labels: none

test: e2e cicd
  .github/workflows/02-e2e.yml
  package-lock.json
Labels: cicd

chore: update playwright dependencies
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
Labels: cicd

chore: update from main
  package-lock.json
Labels: none

fix: issue with else for <Show>
  packages/components/scripts/post-build/components.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/model.ts
Labels: components

refactor: we shouldn't use markup for styling
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
Labels: components

fix: issue package-lock.json
  package-lock.json
Labels: none

feat: providing divider SCSS function
  packages/foundations/scss/helpers/_functions.scss
Labels: foundations

fix: issue with codeSnippets in patternhub
  showcases/patternhub/scripts/get-example-file.js
Labels: none

chore: update snapshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  packages/components/src/components/code-docs/code-docs.spec.tsx
Labels: components

fix: issues with playwright config
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-win32.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-win32.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-win32.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-win32.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-win32.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-win32.png
  e2e/docker-compose.yml
  packages/components/test/playwright/boilerplate/index.ts
  packages/components/test/playwright/config.ts
Labels: components

fix: issues with firefox
  .github/workflows/02-e2e.yml
Labels: cicd

Update packages/components/src/styles/_component_defaults.scss
  packages/components/src/styles/_component_defaults.scss
Labels: components

fix: issue with post hooks causing trouble
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Labels: none

fix: issue with firefox
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with firefox
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue component defaults
  build-power-apps/package-lock.json
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

fix: test playwright-reports
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with playwright report
  .github/workflows/02-e2e.yml
  output/react/package.json
  packages/components/test/playwright/config.ts
Labels: cicd, components

fix: issue with filename
  .github/workflows/02-e2e.yml
Labels: cicd

refactor(style): both simplifying and extending inherit declarations
  packages/foundations/scss/_init.scss
Labels: foundations

Update packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/code-docs/code-docs.scss
Labels: components

chore: update from main
  package-lock.json
Labels: none

chore: update from main
  package-lock.json
Labels: none

fix: issue with workingDirectory
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with workingDirectory
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with workingDirectory
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with workingDirectory
  .github/workflows/02-e2e.yml
Labels: cicd

fix: issue with button.scss
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-webkit-linux.png
  packages/components/src/components/button/button.scss
Labels: components

chore: update from main
  showcases/patternhub/scripts/get-example-file.js
Labels: none

fix: issue with button naming issue
  packages/components/src/components/code-docs/code-docs.lite.tsx
  showcases/vanilla-showcase/src/components/button/index.js
Labels: components

fix: issue with button naming issue
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
Labels: none
