Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

WIP
  package-lock.json
  package.json
  showcases/angular-current-showcase/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
Labels: none

refactor: 💡 WIP pipeline
  package-lock.json
Labels: none

refactor: 💡 WIP pipeline
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-expressive-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-functional-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-no-icon-for-combination-regular-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-expressive-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-functional-primary-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-mobile-chrome-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-mobile-safari-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-comp-fast-should-match-screenshot-with-icon-for-combination-regular-primary-1-webkit-linux.png
Labels: none

fix: issues with power apps (icon, onClick/Change)
  .github/workflows/01-build-power-apps.yml
  .stylelintignore
  build-power-apps/DBUI/DBUI.cdsproj
  build-power-apps/package-lock.json
  build-power-apps/package.json
  packages/components/_templates/mitosis/new/power-app-solution.ejs.t
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/package.ejs.t
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/_templates/power-apps/new/webpack.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
Labels: cicd, components

fix: issue with base64 patternhub link
  showcases/patternhub/pages/base64/index.tsx
Labels: none

fix: issue with ms solution for power apps
  .github/workflows/01-build-power-apps.yml
Labels: cicd

fix: issue with link
  showcases/patternhub/pages/base64/index.tsx
Labels: none

fix: issue with iconBefore
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: none

fix: issue with button
  packages/components/src/components/button/model.ts
Labels: components

chore: added relevant TODO comment
  packages/components/_templates/power-apps/new/scss.ejs.t
Labels: components

chore: update package-lock.json
  build-power-apps/package-lock.json
Labels: none

fix: issue with comment
  packages/components/_templates/power-apps/new/scss.ejs.t
Labels: components

fix: issue with code-docs - component ref
  packages/components/src/components/code-docs/code-docs.lite.tsx
Labels: components

chore: update from main
  packages/components/scripts/post-build/components.js
Labels: components

fix: issue with patternhub example list
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-index-file.js
  showcases/patternhub/styles/globals.scss
Labels: none

fix: issue with icon for button
  packages/components/scripts/post-build/components.js
Labels: components

fix: types in button and card component
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
Labels: components

Update alert.scss
  packages/components/src/components/alert/alert.scss
Labels: components

chore: update component parser to use all components
  package-lock.json
  packages/components/_templates/mitosis/new/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-switch.ejs.t
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/patternhub/postcss.config.cjs
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/tailwind.css
  showcases/patternhub/styles/tailwind.generated.css
  showcases/patternhub/tailwind.config.cjs
Labels: components

fix: issues for alert found by ux
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.scss
  packages/foundations/scss/_init.scss
  showcases/react-showcase/src/components/alert/index.tsx
Labels: foundations, components

chore: 🤖 Remove @fast
  output/react/package.json
  output/vue/vue3/package.json
Labels: none

chore: 🤖 Remove goldmaster
  output/react/package.json
  output/vue/vue3/package.json
Labels: none

fix: issue with forwardRef
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/scripts/post-build/react.js
  packages/components/src/components/input/input.lite.tsx
Labels: documentation, components

fix: issue with vue output
  packages/components/scripts/post-build/components.js
Labels: components

fix: types in button and card component (again)
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
Labels: components

refactor: 💡 WIP
  .github/workflows/02-e2e.yml
Labels: cicd

test: add more screenshots
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-DBCodeDocs-should-match-screenshot-1-mobile-chrome-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-DBCodeDocs-should-match-screenshot-1-mobile-safari-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
Labels: none

chore: update vue and angular showcase to show code-docs
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: components

refactor: a lot of adaptions from radio and checkbox
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Labels: components

chore: update color names for "success" -> "successful" and "information" -> "informational"
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/foundations/scss/_init.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/tokens/zeplin.json
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/input/Input.vue
Labels: foundations, components

chore: update angular dependencies
  package-lock.json
  showcases/angular-lts-showcase/package.json
Labels: none

chore: update snapshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-webkit-linux.png
Labels: none

fix: removed tailwind
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/patternhub/postcss.config.cjs
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/tailwind.css
  showcases/patternhub/styles/tailwind.generated.css
  showcases/patternhub/tailwind.config.cjs
Labels: none

fix: regenerate package-lock.json
  package-lock.json
Labels: none

chore: update from main
  package-lock.json
Labels: none

chore: update screenshots
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-webkit-linux.png
Labels: none

fix: issues with dependencies
  output/angular/package.json
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: none

fix: update js-heap for xo
  package.json
Labels: none

fix: prettier for scss
  .prettierrc.json
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/infotext/infotext.scss
  packages/foundations/scss/icon/_icon-calc.scss
  packages/foundations/scss/icon/_icons.variables.scss
Labels: foundations, components

Restore showcases/patternhub/package.json
  showcases/patternhub/package.json
Labels: none

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
