Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**

chore: update model for input to use type="color"
  packages/components/src/components/input/model.ts
Labels: components

refactor: we need these declarations as well
  packages/components/scripts/post-build/components.js
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

refactor: removed redundant entry
  showcases/patternhub/components/component-parser/index.tsx
Labels: none

fix: added missing props
  packages/components/src/components/textarea/model.ts
Labels: components

feat: added Angular Showcase contents
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
Labels: none

refactor: it doesn't work like that …
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

refactor: we even also need to remove the current leftovers of using the textareas content correctly
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
  showcases/angular-showcase/src/app/components/form/form.component.html
Labels: documentation, components

fix: corrected those tag names again
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
Labels: documentation, components

refactor: removed as aligned with Nico
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: components

refactor: regenerated lock file
  package-lock.json
Labels: none

Update packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.scss
Labels: components

feat: add dynamic colors to change them via css-properties
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/radio/radio.scss
  packages/foundations/scripts/color-classes-generator.js
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/_init.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

WIP
  showcases/vue-showcase/src/components/textarea/Textarea.vue
Labels: none

chore: 🤖 wip
  packages/components/src/components/textarea/textarea.scss
Labels: components

Update DBUI.cdsproj
  build-power-apps/DBUI/DBUI.cdsproj
Labels: none

refactor: summary element even already has this role implicitly
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/docs/HTML.md
  packages/components/src/components/accordion-item/index.html
Labels: documentation, components

refactor: added relevant entry to copy-and-paste-linting ignore
  .jscpd.json
Labels: none

refactor: optimization on the icon size
  packages/components/src/components/accordion-item/accordion-item.scss
Labels: components

fix: remaining issues with colors
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/styles/_dialog-init.scss
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
Labels: foundations, components

fix: color issues for radio and checkbox
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/radio/radio.scss
  packages/foundations/scss/color/_color-variants.scss
Labels: foundations, components

fix: issue with focus color
  packages/foundations/scss/_init.scss
Labels: foundations

fix: issue with code-colors
  packages/components/src/components/icon/icon-web-component.scss
  packages/foundations/scss/color/_code-colors.scss
Labels: foundations, components

fix: issue with critical input
  packages/components/src/components/input/input.scss
Labels: components

chore: update screenshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
Labels: none

fix: issue with media screen mixin
  packages/components/src/components/header/header.scss
  packages/components/src/components/section/section.scss
Labels: components

Update packages/components/src/components/header/header.scss
  packages/components/src/components/header/header.scss
Labels: components

fix: issue with documentation for header
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
Labels: documentation, components

feat: the border-radius is kind of special
  packages/components/src/components/accordion-item/accordion-item.scss
Labels: components

chore: update snapshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
Labels: none

chore: update snapshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
Labels: none

chore: update snapshots & comments
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  showcases/e2e/badge/showcase-badge.spec.ts
Labels: components

fix: issue with data-hide-on="desktop" for burger-menu-button
  packages/components/src/components/header/header.lite.tsx
Labels: components

fix: issue with checkbox border-radius
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
Labels: components

chore: remove border-radius placeholder
  packages/foundations/scss/helpers/_component.scss
Labels: foundations

fix: issue with external link spacing
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
  packages/components/src/components/link/link.scss
Labels: components

feat(input): added new date type
  showcases/shared/input.json
Labels: none

feat(docs): added example for date input
  showcases/react-showcase/src/components/form/index.tsx
Labels: none

feat: added date input for Angular
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Labels: none

feat: added Vue showcase
  showcases/vue-showcase/src/components/form/Form.vue
Labels: none

test: updated screenshots
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
Labels: none
