Repository db-ux-design-system/core-web, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, foundations, components, examples

fix: issue with interactive tags
  packages/components/src/components/tag/tag.scss
Labels: components

fix: issue with patternhub not having a fallback for not found pages
  showcases/patternhub/pages/404.tsx
Labels: none

fix: issue with github pages components not found
  showcases/patternhub/scripts/generate-docs-mdx.js
Labels: none

refactor: integrated changes out of !893
  packages/components/src/styles/_form-components.scss
Labels: components

chore: update from main
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
Labels: components

chore: add script to generate research file for component
  docs/package.json
  docs/research/README.md
  docs/scripts/component-research/design-systems.js
  docs/scripts/component-research/generate-component-research.js
  package-lock.json
  package.json
Labels: documentation

Update packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: components

Update packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/React.md
Labels: documentation, components

Update showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/form/index.tsx
Labels: none

Update packages/components/src/components/tag/tag.scss
  packages/components/src/components/tag/tag.scss
Labels: components

Update README.md
  docs/research/README.md
Labels: documentation

chore: add dev research for tooltip
  docs/research/tooltip.md
Labels: documentation

.github/labeler.yml:

---
# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'documentation' label to any file changes for the documentation files
documentation:
  - ./**/*.md

# Add 'foundations' label to any file changes for the foundations files
foundations:
  - packages/foundations/**

# Add 'components' label to any file changes for the components files
components:
  - packages/components/**

# Add 'showcases' label to any file changes for the showcases files
showcases:
  - showcases/**
  -
# Add 'examples' label to any file changes for the examples files
examples:
  - examples/**
