Repository db-ux-design-system/core-web, pull requests merged in 2022-12, with the labels that each got.

#29 feat: add power-apps cicd
  .github/workflows/01-build-power-apps.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .gitignore
  build-power-apps/DBUI/.gitignore
  build-power-apps/DBUI/DBUI.cdsproj
  build-power-apps/DBUI/src/Other/Customizations.xml
  build-power-apps/DBUI/src/Other/Relationships.xml
  build-power-apps/DBUI/src/Other/Solution.xml
  build-power-apps/package-lock.json
  build-power-apps/package.json
  package.json
  packages/components/_templates/mitosis/new/power-app-solution.ejs.t
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/package.ejs.t
  packages/components/_templates/power-apps/new/pcfproj.ejs.t
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/_templates/power-apps/new/tsconfig.ejs.t
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/model.ts
Labels: cicd, components

#84 chore(ci/cd): added a TODO comment for clarification
  .github/workflows/release.yml
Labels: cicd

#86 fix: dependabot monorepo issue
  .github/dependabot.yml
Labels: cicd

#53 refactor: updated angular dependencies
  .gitignore
  package-lock.json
  packages/components/output/angular/angular.json
  packages/components/output/angular/ng-package.json
  packages/components/output/angular/package.json
  packages/components/output/angular/tsconfig.json
  packages/components/output/react/package.json
  packages/components/output/react/tsconfig.json
  packages/components/output/vue/vue3/package.json
  packages/components/output/vue/vue3/tsconfig.json
  packages/components/output/vue/vue3/vite.config.ts
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/karma.conf.js
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/test.ts
  showcases/angular-showcase/tsconfig.spec.json
  showcases/react-showcase/package.json
Labels: components, showcases, dependencies

#67 feat: add build for v-components
  .github/scripts/publish-npm.sh
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-power-apps.yml
  .github/workflows/01-build-showcases.yml
  .gitignore
  .xo-config.json
  output/angular/angular.json
  output/angular/ng-package.json
  output/angular/package.json
  output/angular/tsconfig.json
  output/react/package.json
  output/react/tsconfig.json
  output/vue/vue3/package.json
  output/vue/vue3/tsconfig.json
  output/vue/vue3/vite.config.ts
  package-lock.json
  package.json
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/_templates/power-apps/new/featureconfig.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/package.ejs.t
  packages/components/_templates/power-apps/new/pcfconfig.ejs.t
  packages/components/_templates/power-apps/new/pcfproj.ejs.t
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/_templates/power-apps/new/tsconfig.ejs.t
  packages/components/_templates/power-apps/new/webpack.ejs.t
  packages/components/mitosis.config.js
  packages/components/package.json
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/copy-files.js
  packages/components/scripts/post-build/next.js
  packages/components/scripts/post-build/power-apps.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/svelte.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/post-build/wc.js
  packages/foundations/scripts/zeplin-styleguide.js
  scripts/start.js
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/main.ts
  showcases/react-showcase/package.json
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/index.scss
  showcases/svelte-showcase/src/App.svelte
  showcases/vanilla-showcase/main.js
  showcases/vue-showcase/.vscode/extensions.json
  showcases/vue-showcase/README.md
  showcases/vue-showcase/index.html
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/index.scss
  showcases/vue-showcase/src/main.ts
  showcases/vue-showcase/tsconfig.json
  showcases/vue-showcase/tsconfig.node.json
  showcases/vue-showcase/vite.config.ts
Labels: cicd, foundations, components, showcases

#108 fix: issue with v-components deployed bundle
  output/vue/vue3/package.json
  output/vue/vue3/tsconfig.json
  output/vue/vue3/vite.config.ts
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
Labels: components

#110 refactor: switched to new Marketingportal URLs
  packages/foundations/assets/fonts/LICENSE
  packages/foundations/scss/icon/_icons.font-faces.scss
Labels: foundations

#111 fix: issues with npm run start
  output/angular/package.json
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
  packages/components/_templates/mitosis/new/angular-overrides.ejs.t
  packages/components/_templates/mitosis/new/model.ejs.t
  showcases/angular-showcase/package.json
  showcases/next-showcase/package.json
  showcases/next-showcase/yarn.lock
  showcases/react-showcase/package.json
  showcases/svelte-showcase/package.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/package.json
Labels: components, showcases

#100 refactor: provide current and lts showcases for angular
  output/angular/package.json
  package-lock.json
  package.json
  showcases/angular-current-showcase/.browserslistrc
  showcases/angular-current-showcase/.gitignore
  showcases/angular-current-showcase/README.md
  showcases/angular-current-showcase/angular.json
  showcases/angular-current-showcase/package.json
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.component.ts
  showcases/angular-current-showcase/src/app/app.module.ts
  showcases/angular-current-showcase/src/environments/environment.prod.ts
  showcases/angular-current-showcase/src/environments/environment.ts
  showcases/angular-current-showcase/src/index.html
  showcases/angular-current-showcase/src/main.ts
  showcases/angular-current-showcase/src/polyfills.ts
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-current-showcase/tsconfig.app.json
  showcases/angular-current-showcase/tsconfig.json
  showcases/angular-lts-showcase/.browserslistrc
  showcases/angular-lts-showcase/.gitignore
  showcases/angular-lts-showcase/README.md
  showcases/angular-lts-showcase/angular.json
  showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/src/app/app.component.html
  showcases/angular-lts-showcase/src/app/app.component.ts
  showcases/angular-lts-showcase/src/app/app.module.ts
  showcases/angular-lts-showcase/src/environments/environment.prod.ts
  showcases/angular-lts-showcase/src/environments/environment.ts
  showcases/angular-lts-showcase/src/index.html
  showcases/angular-lts-showcase/src/main.ts
  showcases/angular-lts-showcase/src/polyfills.ts
  showcases/angular-lts-showcase/src/styles.scss
  showcases/angular-lts-showcase/tsconfig.app.json
  showcases/angular-lts-showcase/tsconfig.json
  showcases/angular-showcase/package.json
Labels: enhancement, showcases
