Repository db-ux-design-system/core-web, pull requests merged in 2023-01, with the labels that each got.

#148 feat: added clean npm script
  package.json
Labels: enhancement

#85 chore: let's align the naming with specification
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
Labels: components

#169 refactor(markdownlint): remove inline HTML allowance
  .markdown-lint.yml
Labels: improvement, test

#189 chore: update angular dependencies for current showcase
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: showcases

#109 Feat examples
  .github/dependabot.yml
  .github/labeler.yml
  .github/scripts/publish-npm.sh
  .xo-config.json
  examples/README.md
  examples/react-example/.gitignore
  examples/react-example/README.md
  examples/react-example/index.html
  examples/react-example/package-lock.json
  examples/react-example/package.json
  examples/react-example/src/App.tsx
  examples/react-example/src/index.scss
  examples/react-example/src/main.tsx
  examples/react-example/tsconfig.json
  examples/react-example/tsconfig.node.json
  examples/react-example/vite.config.ts
  examples/vue-example/.gitignore
  examples/vue-example/.vscode/extensions.json
  examples/vue-example/README.md
  examples/vue-example/index.html
  examples/vue-example/package-lock.json
  examples/vue-example/package.json
  examples/vue-example/src/App.vue
  examples/vue-example/src/main.ts
  examples/vue-example/src/style.scss
  examples/vue-example/tsconfig.json
  examples/vue-example/tsconfig.node.json
  examples/vue-example/vite.config.ts
  showcases/README.md
  showcases/react-showcase/package.json
  showcases/svelte-showcase/package.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/package.json
Labels: cicd, showcases, examples

#210 feat: update components to affect tonality changes
  .github/workflows/99-labeler.yml
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/icon/model.ts
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/foundations/scripts/scss-scaling-generator.js
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/icon/_icon-family-calc.scss
  packages/foundations/style-dictionary.config.json
  packages/foundations/style-dictionary.js
  packages/foundations/tokens/screens.json
  packages/foundations/tokens/tailwind/font-size.json
  showcases/angular-current-showcase/src/main.ts
Labels: cicd, foundations, components, showcases

#6 feat: add reactwind showcase
  .prettierignore
  package-lock.json
  package.json
  scripts/start.js
  showcases/angular-current-showcase/tsconfig.json
  showcases/react-showcase/src/app.tsx
  showcases/reactwind-showcase/.gitignore
  showcases/reactwind-showcase/index.html
  showcases/reactwind-showcase/package.json
  showcases/reactwind-showcase/postcss.config.cjs
  showcases/reactwind-showcase/public/db_logo.svg
  showcases/reactwind-showcase/public/favicon.ico
  showcases/reactwind-showcase/public/robots.txt
  showcases/reactwind-showcase/public/site.webmanifest
  showcases/reactwind-showcase/src/app.tsx
  showcases/reactwind-showcase/src/colors.scss
  showcases/reactwind-showcase/src/index.scss
  showcases/reactwind-showcase/src/main.tsx
  showcases/reactwind-showcase/src/sections/Footer/index.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/data.ts
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/Offers/index.tsx
  showcases/reactwind-showcase/src/sections/Main/Services/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
  showcases/reactwind-showcase/src/sections/Main/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
  showcases/reactwind-showcase/src/tailwind.css
  showcases/reactwind-showcase/tailwind.config.cjs
  showcases/reactwind-showcase/tsconfig.json
  showcases/reactwind-showcase/tsconfig.node.json
  showcases/reactwind-showcase/vite.config.ts
  showcases/vanilla-showcase/main.js
Labels: showcases

#118 feat: input component
  package.json
  packages/components/overrides/angular/src/components/input/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/card/card.scss
  packages/components/src/components/input/index.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/db-ui-components.scss
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/foundations/scripts/scss-scaling-generator.js
  packages/foundations/scss/_init.scss
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.module.ts
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-lts-showcase/src/app/app.component.html
  showcases/angular-lts-showcase/src/app/app.module.ts
  showcases/react-showcase/src/app.tsx
  showcases/vue-showcase/src/App.vue
Labels: foundations, components, showcases

#228 feat: add db-ui-42.scss for one file integrations
  examples/react-example/src/index.scss
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/copy-files.js
  packages/components/src/db-ui-components.scss
  packages/components/src/styles/db-ui-42-rollup.scss
  packages/components/src/styles/db-ui-42-webpack.scss
  packages/components/src/styles/db-ui-42.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-lts-showcase/src/styles.scss
  showcases/next-showcase/styles/globals.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/index.scss
  showcases/reactwind-showcase/src/index.scss
  showcases/svelte-showcase/src/index.scss
  showcases/vanilla-showcase/index.html
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/src/index.scss
Labels: components, showcases, examples

#239 fix: issue with input and pipeline
  output/angular/angular.json
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/utils/index.ts
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
  showcases/react-showcase/src/app.tsx
Labels: components, showcases

#250 fix: click event props
  .husky/commit-msg
  .husky/pre-commit
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.component.ts
  showcases/react-showcase/src/app.tsx
  showcases/vue-showcase/src/App.vue
Labels: components, showcases

#254 fix: click event logging text
  showcases/react-showcase/src/app.tsx
Labels: showcases

#255 fix: issues with react-components and unused next output
  output/react/package.json
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/next.js
  showcases/next-showcase/package.json
Labels: components, showcases

#230 feat: add eslint plugin to inform user that the style is v2
  .eslintrc.js
  .github/scripts/publish-npm.sh
  .xo-config.json
  README.md
  package-lock.json
  packages/eslint/index.js
  packages/eslint/package.json
  packages/eslint/v2-components.js
  packages/foundations/scripts/zeplin-styleguide.js
  scripts/check-commit-mail.js
  scripts/start.js
  showcases/angular-current-showcase/src/app/app.component.ts
  showcases/react-showcase/src/app.tsx
Labels: cicd, foundations, showcases

#226 feat: add db-brand, db-header, db-page
  .gitignore
  .stylelintrc.json
  packages/components/overrides/angular/src/components/brand/index.ts
  packages/components/overrides/angular/src/components/header/index.ts
  packages/components/overrides/angular/src/components/page/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/index.ts
  packages/components/src/components/brand/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/index.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/page/index.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/react-showcase/public/favicon.ico
  showcases/react-showcase/public/images/db_logo.svg
  showcases/react-showcase/public/robots.txt
  showcases/react-showcase/public/site.webmanifest
  showcases/react-showcase/src/app.tsx
  showcases/vanilla-showcase/.gitignore
  showcases/vue-showcase/src/App.vue
Labels: components, showcases

#116 feat: add gh-page to preview showcases
  .github/scripts/build-gh-page.sh
  .github/workflows/01-build-showcases.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .stylelintignore
  .xo-config.json
  examples/react-example/README.md
  examples/react-example/public/favicon.ico
  examples/react-example/public/robots.txt
  examples/react-example/public/site.webmanifest
  examples/vue-example/public/favicon.ico
  examples/vue-example/public/robots.txt
  examples/vue-example/public/site.webmanifest
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/db-ui-core.ejs.t
  scripts/start.js
  showcases/angular-current-showcase/package.json
  showcases/angular-current-showcase/src/index.html
  showcases/angular-lts-showcase/package.json
  showcases/angular-lts-showcase/src/index.html
  showcases/next-showcase/package.json
  showcases/next-showcase/public/favicon.ico
  showcases/patternhub/.env
  showcases/patternhub/.gitignore
  showcases/patternhub/README.md
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/iframe.tsx
  showcases/patternhub/components/static-content.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/components/index.mdx
  showcases/patternhub/pages/foundations/colors/examples.mdx
  showcases/patternhub/pages/foundations/colors/index.mdx
  showcases/patternhub/pages/foundations/icons/index.mdx
  showcases/patternhub/pages/foundations/index.mdx
  showcases/patternhub/pages/index.mdx
  showcases/patternhub/pages/showcases/angular-current/index.tsx
  showcases/patternhub/pages/showcases/angular-lts/index.tsx
  showcases/patternhub/pages/showcases/index.tsx
  showcases/patternhub/pages/showcases/react/index.tsx
  showcases/patternhub/pages/showcases/reactwind/index.tsx
  showcases/patternhub/pages/showcases/vue/index.tsx
  showcases/patternhub/public/favicon.ico
  showcases/patternhub/public/images/db_logo.svg
  showcases/patternhub/public/robots.txt
  showcases/patternhub/public/site.webmanifest
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/tsconfig.json
  showcases/react-showcase/package.json
  showcases/react-showcase/vite.config.ts
  showcases/reactwind-showcase/vite.config.ts
  showcases/vue-showcase/package.json
  showcases/vue-showcase/vite.config.ts
Labels: cicd, components, showcases, examples

#253 fix: input default value
  package-lock.json
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.component.ts
  showcases/angular-current-showcase/src/app/app.module.ts
  showcases/react-showcase/src/app.tsx
Labels: components, showcases

#263 fix: pipeline
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/model.ts
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/tab-bar/model.ts
  packages/components/src/components/tab/model.ts
Labels: bug

#262 chore: translations
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/react-showcase/src/app.tsx
Labels: showcases, improvement

#294 fix: icon sizes for tonalities
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scss/icon/_icon-calc.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: bug
