Repository db-ux-design-system/core-web, pull requests merged in 2023-08, with the labels that each got.

#1361 refactor: naming of body-styles.scss fix issue for font-size overwrites
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/form-components.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/helpers/_font.scss
  showcases/patternhub/styles/globals.scss
Labels: bug, foundations, components, showcases

#1384 refactor(textarea): optimized current component implementation
  packages/components/scripts/post-build/components.js
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/patternhub/components/component-parser/index.tsx
Labels: improvement

#1301 feat: add badge component
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-safari/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/webkit/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-0/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-0/DBBadge-should-match-screenshot.png
  package-lock.json
  packages/components/index.html
  packages/components/overrides/angular/src/components/badge/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/badge/badge-web-component.scss
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/badge/docs/Angular.md
  packages/components/src/components/badge/docs/HTML.md
  packages/components/src/components/badge/docs/React.md
  packages/components/src/components/badge/docs/Vue.md
  packages/components/src/components/badge/index.html
  packages/components/src/components/badge/index.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/infotext/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.html
  showcases/angular-showcase/src/app/components/badge/badge.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/badge/showcase-badge.spec.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/badge.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/badge/Badge.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: components, showcases

#1371 docs(angular): removed incorrect `:empty` pseudo selector assumption
  docs/how-to-develop-a-component.md
Labels: documentation

#1419 refactor: updated to Node 18
  .github/actions/npm-cache/action.yml
  .nvmrc
Labels: improvement

#1386 refactor(textarea): made necessary changes to current dev state
  packages/components/scripts/post-build/components.js
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
  showcases/patternhub/components/component-parser/index.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Labels: improvement

#1423 refactor: further adaptions for linting
  .husky/pre-commit
  .jscpd.json
  .lintstagedrc
  docs/how-to-develop-a-component.md
  packages/components/index.html
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/styles/db-puls.scss
  packages/foundations/scss/_variables.global.scss
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Labels: foundations, components, showcases, improvement

#1430 refactor: consolidate lintings on pre commit
  .husky/pre-commit
  .lintstagedrc
Labels: improvement

#1433 refactor: doing markdownlint only for the staged files
  .husky/pre-commit
  .lintstagedrc
Labels: improvement, test

#1397 refactor: added relevant entry to copy-and-paste-linting ignore
  .jscpd.json
Labels: improvement

#1443 feat: add emphasis for divider
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/model.ts
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/helpers/_functions.scss
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
Labels: foundations, components, showcases

#1450 Test playwright cache 2
  .github/actions/npm-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-e2e-merge-reports.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Labels: cicd, components, showcases

#1462 refactor: next export is deprecated
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
Labels: showcases, improvement

#1461 feat: added `en` as the default language
  showcases/patternhub/pages/_document.tsx
Labels: bug, showcases

#1474 refactor(Power Apps): added correct default component values
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Labels: improvement, Power Apps

#1148 refactor(checkbox): work with indeterminate state
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/shared/model.ts
  packages/foundations/scss/helpers/_component.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Labels: foundations, components, showcases

#1477 fix(Power Apps): font-size overwrite to the MS UI via our global selector
  packages/foundations/scss/db-ui-foundations.scss
Labels: bug, Power Apps

#1294 docs: added further Design System links
  docs/research-other-design-systems.md
Labels: documentation
