Repository db-ux-design-system/core-web, pull requests merged in 2023-11, with the labels that each got.

#1760 fix: popover font-style
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Labels: bug

#1763 feat: add additional popover placements
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.spec.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  showcases/shared/popover.json
  showcases/shared/tooltip.json
Labels: components, showcases

#1777 refactor(v-components): use computed values for class names in showcase
  output/vue/vue3/README.md
  showcases/vue-showcase/src/App.vue
Labels: documentation, components, improvement

#1796 chore(docs): corrected comment
  packages/foundations/scss/_variables.scss
Labels: documentation

#1626 refactor(focus): implement two colored outline
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/colors/_placeholder.scss
Labels: improvement

#1802 feat: add initOpenIndex to open accordion items initially
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/model.ts
  showcases/patternhub/scripts/get-example-file.js
Labels: components, showcases

#1809 feat: add `labelVariant=hidden` for `input`, `select`, `textarea`
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.html
  showcases/angular-showcase/src/app/components/radio/radio.component.html
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/shared/checkbox.json
  showcases/shared/input.json
  showcases/shared/radio.json
  showcases/shared/select.json
  showcases/shared/textarea.json
  showcases/vue-showcase/src/components/checkbox/Checkbox.vue
  showcases/vue-showcase/src/components/radio/Radio.vue
Labels: components, showcases

#1634 feat: add version switcher for patternhub
  package-lock.json
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/version-switcher/data.ts
  showcases/patternhub/components/version-switcher/index.tsx
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/package.json
  showcases/patternhub/styles/globals.scss
Labels: showcases

#1832 fix: lint-stages issue with generate icon fonts
  .lintstagedrc.js
Labels: bug

#1833 feat: added another VS Code extension suggestion
  .vscode/extensions.json
Labels: improvement

#1655 docs: focus state dev research
  docs/research/README.md
  docs/research/focus-state.md
Labels: documentation

#1864 fix: issue with accordion when items are populated later
  packages/components/src/components/accordion/accordion.lite.tsx
  showcases/react-showcase/src/components/form/index.tsx
Labels: 🏘components, 📺showcases, components, showcases

#1867 refactor(`lint staged`): added further `xo` supported filetypes
  .lintstagedrc.js
Labels: 🍄🆙improvement

#1851 fix: colors overview for foundations in patternhub
  packages/components/src/shared/constants.ts
  showcases/patternhub/pages/_app.tsx
Labels: 🏘components, 📺showcases, components, showcases

#1866 fix: we need to actually prettify JS files as well
  .lintstagedrc.js
Labels: 🐛bug

#1862 chore: add docs for tonalities and examples for patternhub
  packages/foundations/docs/Tonalities.md
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/tonalities/examples.tsx
  showcases/patternhub/styles/globals.scss
Labels: 🏗foundations, 📺showcases, showcases, foundations

#1863 fix: issue with input floating label and search type
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/input.json
Labels: 🏘components, 📺showcases

#1888 docs(README): corrected components list
  README.md
Labels: 📕documentation

#1890 fix: `lint-staged` issues
  .lintstagedrc.js
  .prettierrc.json
Labels: 🍄🆙improvement

#1894 chore: running prettier
  .github/scripts/package-version.sh
  docs/package.json
  docs/research/switch-and-toggle.md
  packages/components/overrides/angular/src/components/popover/index.ts
  packages/components/overrides/angular/src/components/tooltip/index.ts
  packages/components/package.json
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/main-navigation/docs/HTML.md
  packages/components/src/components/popover/index.html
  packages/components/src/components/popover/index.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tooltip/index.ts
  packages/components/src/components/tooltip/tooltip.spec.tsx
  packages/components/src/fonts.html
  packages/components/src/index.ts
  packages/components/src/shared/icon-types.ts
  packages/components/src/utils/index.ts
  packages/components/test/playwright/config.ts
  packages/foundations/package.json
  showcases/patternhub/package.json
Labels: 🍄🆙improvement, 🚢📀cicd, 🏗foundations, 🏘components, 📺showcases

#1908 docs(README): necessary corrections
  README.md
Labels: 📕documentation

#1909 docs(README): changed further aspects
  README.md
Labels: 📕documentation

#1914 fix: corrected that filename
  showcases/patternhub/pages/_app.tsx
Labels: 🐛bug, 📺showcases

#1915 chore(scss): further simplification
  packages/components/src/components/accordion-item/accordion-item.scss
Labels: 🍄🆙improvement

#1798 fix: issue with form elements new user-valid
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/textarea.json
Labels: 🏘components, 📺showcases

#1850 docs(showcases): moved hidden label to another section
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  showcases/shared/checkbox.json
  showcases/shared/input.json
  showcases/shared/radio.json
  showcases/shared/select.json
  showcases/shared/textarea.json
Labels: 📺showcases

#1923 fix: icon generation process error messages
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Labels: 🐛bug

#1865 refactor: changed react components to use proper typescript types
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/model.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
Labels: 🏘components, 📺showcases

#1924 fix: issue with data-icon-none shown as invisible icon
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/foundations/scss/icons/include.scss
Labels: 🐛bug

#1925 refactor: rename `force-mobile` to `data-force-mobile`
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/foundations/scss/_screen-sizes.scss
Labels: 🍄🆙improvement

#1642 feat(accordion): added new `name` attribute
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
Labels: 🍄🆙improvement

#1927 fix: issue with missing logo
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Labels: 📺showcases
