Repository db-ux-design-system/core-web, pull requests merged in 2023-02, with the labels that each got.

#282 feat: link component
  package.json
  packages/components/overrides/angular/src/components/link/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/link/index.ts
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/link.scss
  packages/components/src/components/link/model.ts
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/_init.scss
  showcases/angular-current-showcase/src/app/app.component.html
  showcases/angular-current-showcase/src/app/app.module.ts
  showcases/react-showcase/src/app.tsx
Labels: foundations, components, showcases

#329 docs: clarification on the naming
  README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/README.md
  packages/foundations/README.md
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-lts-showcase/src/styles.scss
  showcases/next-showcase/styles/globals.scss
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/index.scss
  showcases/reactwind-showcase/src/index.scss
  showcases/svelte-showcase/src/index.scss
  showcases/vue-showcase/src/index.scss
Labels: bug, foundations, components, showcases

#335 chore: added initial stack of information
  output/angular/README.md
Labels: documentation

#340 feat: add deployment for web-components and vanilla showcase
  .github/scripts/publish-npm.sh
  .github/workflows/03-deploy-gh-pages.yml
  .gitignore
  output/webcomponent/README.md
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/scripts/post-build/wc.js
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/showcases/vanilla/index.tsx
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/vite.config.js
Labels: cicd, components, showcases

#343 feat: add package.json sorting
  examples/angular-example/package.json
  examples/react-example/package.json
  examples/vue-example/package.json
  output/angular/package.json
  output/react/package.json
  output/vue/vue3/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/eslint/package.json
  packages/foundations/package.json
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/reactwind-showcase/package.json
  showcases/svelte-showcase/package.json
  showcases/vanilla-showcase/package.json
  showcases/vue-showcase/package.json
Labels: foundations, components, showcases, examples

#345 docs(README): added general information
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  output/webcomponent/README.md
  packages/components/README.md
  packages/foundations/README.md
Labels: documentation

#350 refactor: we couldn't programmatically update PRs at the moment
  .github/workflows/update-prs.yml
Labels: improvement

#360 chore: husky post merge hook executable
  .husky/post-merge
  .jscpd.json
Labels: bug

#368 fix: need JS comments here instead of YAML
  .github/workflows/update-prs.yml
Labels: bug

#291 feat: add section component
  e2e/Dockerfile
  e2e/package.json
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/overrides/angular/src/components/section/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/header/header.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/section/index.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scripts/scss-scaling-generator.js
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scripts/zeplin-styleguide.js
  packages/foundations/tokens/screens.json
  packages/foundations/tokens/zeplin.json
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/index.scss
  showcases/reactwind-showcase/src/app.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: foundations, components, showcases

#363 refactor: replace placeholder in reactwind with missing components
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
Labels: showcases

#397 fix: issues with tonality (line-height and fonts)
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
Labels: foundations, components, showcases

#334 docs: added beta scope column
  README.md
Labels: documentation

#411 fix: issue with card styling and props
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  showcases/patternhub/pages/showcases/index.tsx
  showcases/reactwind-showcase/src/sections/Main/MultiCards/index.tsx
  showcases/reactwind-showcase/src/sections/Main/WelcomeCard/index.tsx
Labels: components, showcases

#372 feat: add infotext component
  packages/components/overrides/angular/src/components/infotext/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/button/button.scss
  packages/components/src/components/infotext/index.ts
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
Labels: components, showcases

#392 feat: add doc generation for patternhub
  .eslintignore
  .gitignore
  .jscpd.json
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  packages/components/_templates/mitosis/new/readme.ejs.t
  packages/components/package.json
  packages/components/src/components/brand/README.md
  packages/components/src/components/brand/model.ts
  packages/components/src/components/button/README.md
  packages/components/src/components/card/README.md
  packages/components/src/components/divider/README.md
  packages/components/src/components/header/README.md
  packages/components/src/components/icon/README.md
  packages/components/src/components/infotext/README.md
  packages/components/src/components/input/README.md
  packages/components/src/components/link/README.md
  packages/components/src/components/page/README.md
  packages/components/src/components/section/README.md
  packages/components/src/components/tab-bar/README.md
  packages/components/src/components/tab/README.md
  showcases/patternhub/.gitignore
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/pages/components/01-layout.mdx
  showcases/patternhub/pages/components/02-action.mdx
  showcases/patternhub/pages/components/03-data-input.mdx
  showcases/patternhub/pages/components/04-data-display.mdx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-index-file.js
  showcases/patternhub/scripts/get-union-elements.js
  showcases/patternhub/styles/globals.scss
Labels: components, showcases

#423 refactor: unified css for all showcases
  showcases/angular-current-showcase/src/styles.scss
  showcases/angular-lts-showcase/src/styles.scss
  showcases/angular-showcase/src/app/components/button/button.component.scss
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.scss
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.scss
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/form/index.scss
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/index.scss
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/index.scss
  showcases/showcase-styles.css
  showcases/svelte-showcase/src/index.scss
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/button/index.css
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vanilla-showcase/src/components/form/index.css
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/button/index.scss
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/index.scss
  showcases/vue-showcase/src/index.scss
Labels: showcases

#424 chore: xo feedback
  showcases/patternhub/scripts/get-union-elements.js
Labels: showcases, improvement

#436 fix: issue with generating component
  packages/components/_templates/mitosis/new/patternhub-route.ejs.t
  showcases/patternhub/data/routes.ts
Labels: components, showcases

#433 test(markdownlint): doesn't provide correct results
  .markdown-lint.yml
  package.json
Labels: bug

#438 fix(input): filled icons for inputstate
  packages/components/src/components/input/input.scss
  showcases/react-showcase/src/components/input/index.tsx
Labels: components, showcases

#457 refactor: removed duplicate css
  showcases/vanilla-showcase/src/components/input/index.css
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vanilla-showcase/src/index.css
Labels: showcases

#468 chore: update angular current
  package-lock.json
  showcases/angular-current-showcase/package.json
Labels: showcases

#487 refactor: new timing for dependabot updates
  .github/dependabot.yml
Labels: cicd, dependencies

#473 fix: checks-done step must succeed
  .github/workflows/default.yml
Labels: bug

#490 chore: icon font embedding optimization
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: improvement

#489 refactor: set pipelines and local node versions equally
  .github/actions/npm-cache/action.yml
Labels: bug, cicd

#514 refactor: optimizations on generate-components scripts files content
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/readme.ejs.t
Labels: improvement

#512 refactor: added DB Screen Sans Digital Regular
  packages/foundations/scss/_font-faces.scss
Labels: improvement

#516 docs: corrected some README entries
  README.md
Labels: documentation

#518 fix: restored icon meta data mixin
  packages/foundations/scss/icon/_icons.helpers.scss
Labels: bug

#532 refactor: updated Angular dependencies
  package-lock.json
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: showcases, dependencies

#535 feat: providing divider SCSS function
  packages/components/src/components/divider/divider.scss
  packages/foundations/scss/helpers/_functions.scss
Labels: improvement

#550 docs: icons SVG creation
  packages/foundations/assets/icons/README.md
Labels: documentation

#488 feat: add new colors from zeplin
  README.md
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-desktop-DBButton-should-only-have-icon-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-match-screenshot-1-webkit-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-chromium-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-on-mobile-DBButton-should-only-have-icon-1-webkit-linux.png
  build-power-apps/package-lock.json
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/shared/constants.ts
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/tokens/zeplin.json
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/reactwind-showcase/src/sections/Header/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: foundations, components, showcases

#456 refactor(input): making input more resilient
  packages/components/src/components/input/input.scss
  showcases/react-showcase/src/components/input/index.tsx
Labels: components, showcases
