Repository db-ux-design-system/core-web, pull requests merged in 2023-04, with the labels that each got.

#787 fix: iframe resizer plugin reference
  showcases/patternhub/pages/_app.tsx
Labels: bug, showcases

#779 Docs radio component
  packages/components/src/components/radio/docs/Angular.md
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Labels: components, showcases

#792 chore: simple code simplification
  showcases/patternhub/data/routes.ts
Labels: showcases, improvement

#799 fix: icon scss integration & simplified icon reference
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/link.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/_icons.placeholder.scss
Labels: improvement

#765 docs: add html code for patternhub
  .eslintignore
  .jscpd.json
  .stylelintignore
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/shared-component-variants.ejs.t
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/shared/constants.ts
  showcases/patternhub/.gitignore
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/package.json
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/vite.config.ts
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/showcase-styles.css
Labels: components, showcases

#778 docs: add link in missing showcases
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/link/link.component.html
  showcases/angular-showcase/src/app/components/link/link.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/vue-showcase/src/components/link/Link.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: showcases

#821 refactor(angular): switched to hyphen notation
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/default.component.html
Labels: showcases

#833 chore: updated copyright year
  README.md
Labels: documentation

#835 refactor: rolled back xo version
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: dependencies, improvement

#836 refactor: change the notation within the template as well
  packages/components/_templates/mitosis/new/angular-showcase-component-html.ejs.t
Labels: improvement

#461 chore(docs): added entries to design systems research
  docs/research-other-design-systems.md
Labels: documentation

#839 chore: update angular and vue-showcase with missing components
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/alert/alert.component.html
  showcases/angular-showcase/src/app/components/alert/alert.component.ts
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/angular-showcase/src/app/components/card/card.component.ts
  showcases/angular-showcase/src/app/components/infotext/infotext.component.html
  showcases/angular-showcase/src/app/components/infotext/infotext.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.html
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/components/alert/Alert.vue
  showcases/vue-showcase/src/components/card/Card.vue
  showcases/vue-showcase/src/components/infotext/Infotext.vue
  showcases/vue-showcase/src/components/radio/Radio.vue
  showcases/vue-showcase/src/components/section/Section.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: showcases

#834 refactor: simplify class declarations via classnames plugin
  output/angular/tsconfig.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/tsx.ejs.t
  packages/components/_templates/power-apps/new/tsconfig.ejs.t
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/shared/model.ts
Labels: improvement

#846 chore: add button disable state for docs
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/react-showcase/src/components/button/index.tsx
  showcases/shared/button.json
  showcases/vue-showcase/src/components/button/Button.vue
Labels: showcases

#850 chore: update docs for section + migration
  packages/components/src/components/section/docs/Migration.md
  packages/components/src/components/section/model.ts
  showcases/shared/section.json
Labels: components, showcases

#875 refactor: combine adaptive variants to reduce copy paste
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/shared/model.ts
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
Labels: improvement, weekly

#871 refactor: generalizing some states
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/shared/model.ts
Labels: improvement

#847 chore: add divider in showcases + docs + migration
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/divider/docs/Migration.md
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/angular-showcase/src/app/components/divider/divider.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/default-component-data.ts
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: components, showcases

#878 refactor: added missing entries
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
Labels: showcases, improvement

#890 chore: keep it consistent
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/radio/radio.scss
Labels: improvement

#880 refactor(docs): corrected component name writing
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/patternhub/pages/foundations/colors/examples.mdx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vue-showcase/src/components/form/Form.vue
Labels: showcases, improvement

#879 chore: retrieve link focus border radius from global variable
  packages/components/src/components/link/link.scss
Labels: improvement

#894 refactor(docs): corrected links HTML code
  packages/components/src/components/link/docs/HTML.md
Labels: bug

#786 feat: add datalist for input
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-outlined-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-primary-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-solid-1-firefox-linux.png
  __snapshots__/button/button.spec.tsx-snapshots/DBButton-component-should-only-have-icon-for-variant-text-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-critical-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-informational-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-successful-1-firefox-linux.png
  __snapshots__/infotext/infotext.spec.tsx-snapshots/DBInfotext-should-match-screenshot-for-variant-warning-1-firefox-linux.png
  packages/components/scripts/post-build/components.js
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  showcases/patternhub/scripts/get-example-file.js
  showcases/react-showcase/src/components/form/index.tsx
Labels: components, showcases

#672 feat: add drawer
  .xo-config.cjs
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  packages/components/_templates/mitosis/new/db-ui-components-use.ejs.t
  packages/components/overrides/angular/src/components/drawer/index.ts
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/docs/Migration.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/index.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/_dialog-init.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/animation/_animations.scss
  packages/foundations/scss/helpers/_component.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/angular-showcase/src/app/components/drawer/drawer.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/data.ts
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/get-example-file.js
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: foundations, components, showcases
