Repository db-ux-design-system/core-web, pull requests merged in 2023-03, with the labels that each got.

#549 refactor: focus outline radius
  packages/foundations/scss/_init.scss
  packages/foundations/scss/helpers/_component.scss
Labels: improvement

#568 refactor: generalized some form props and states
  packages/components/scripts/post-build/components.js
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
Labels: improvement

#499 feat: add show code for showcase react
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-desktop-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-chromium-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-firefox-linux.png
  __snapshots__/code-docs/code-docs.spec.tsx-snapshots/DBCodeDocs-component-on-mobile-DBCodeDocs-should-match-screenshot-1-webkit-linux.png
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
  packages/components/overrides/angular/src/components/code-docs/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/code-docs/README.md
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/code-docs/code-docs.spec.tsx
  packages/components/src/components/code-docs/index.ts
  packages/components/src/components/code-docs/model.ts
  packages/components/src/components/link/link.scss
  packages/components/src/index.ts
  packages/components/src/styles/db-ui-components.scss
  packages/components/src/utils/index.ts
  packages/foundations/scss/_init.scss
  showcases/patternhub/scripts/get-example-file.js
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/showcase-styles.css
  showcases/vanilla-showcase/src/components/button/index.js
Labels: foundations, components, showcases

#605 fix: generate components template
  packages/components/_templates/mitosis/new/react-showcase-component.ejs.t
Labels: bug

#585 feat: add iframe component parser to include it in mapo
  showcases/patternhub/.gitignore
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/patternhub/styles/globals.scss
Labels: showcases

#608 fix: issue with base64 patternhub link
  showcases/patternhub/pages/base64/index.tsx
Labels: showcases

#610 fix: issue with patternhub example list
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-index-file.js
  showcases/patternhub/styles/globals.scss
Labels: showcases

#607 fix: issues with power apps (icon, onClick/Change)
  .github/workflows/01-build-power-apps.yml
  .stylelintignore
  build-power-apps/DBUI/DBUI.cdsproj
  build-power-apps/package-lock.json
  build-power-apps/package.json
  packages/components/_templates/mitosis/new/power-app-solution.ejs.t
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/package.ejs.t
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/_templates/power-apps/new/webpack.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/reactwind-showcase/src/sections/Search/index.tsx
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: cicd, components, showcases

#636 chore: renamed colors
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-informational-and-device-tablet-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-desktop-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-mobile-1-webkit-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-chromium-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-firefox-linux.png
  __snapshots__/alert/alert.spec.tsx-snapshots/DBAlert-component-should-match-screenshot-for-variant-successful-and-device-tablet-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fb652-match-screenshot-for-color-variant-successful-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-desktop-Color-Variants-DB-fc5f2-ch-screenshot-for-color-variant-informational-1-webkit-linux.png
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/foundations/scss/_init.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/tokens/zeplin.json
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/alert/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vue-showcase/src/components/input/Input.vue
Labels: foundations, components, showcases

#626 fix: e2e tests
  e2e/Dockerfile
  e2e/README.md
  e2e/package-lock.json
Labels: bug, test

#611 chore: update component parser to use all components
  packages/components/_templates/mitosis/new/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/patternhub-comp-parser-switch.ejs.t
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/pages/base64/index.tsx
Labels: components, showcases

#638 fix: issue with xo and add addtional comments to exceptions
  .prettierignore
  .prettierrc.json
  .xo-config.cjs
  .xo-config.json
  examples/angular-example/src/app/app.component.spec.ts
  examples/angular-example/src/test.ts
  package-lock.json
  package.json
  packages/eslint/index.js
  packages/foundations/scripts/zeplin-styleguide.js
  packages/foundations/style-dictionary.js
  scripts/start.js
  showcases/react-showcase/src/app.tsx
Labels: foundations, showcases, examples

#637 chore: update angular dependencies
  output/angular/package.json
  package-lock.json
  showcases/angular-current-showcase/package.json
  showcases/angular-lts-showcase/package.json
Labels: showcases

#647 refactor: ignore zone.js minor updates
  .github/dependabot.yml
Labels: dependencies

#655 docs: corrected some marketingportal links
  README.md
Labels: documentation

#667 chore: slight optimizations after radio merge
  packages/components/src/components/radio/README.md
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/radio/radio.scss
  packages/foundations/scss/color/_color-variants.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
Labels: foundations, components, showcases, improvement

#669 fix: code docs stylings
  packages/components/src/components/button/button.scss
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/code-docs/model.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/showcase-styles.css
Labels: components, showcases

#671 fix: selector on new pseudo-selector
  packages/components/src/components/radio/radio.scss
Labels: bug

#675 refactor: removed outdated files
  output/README.md
  package.json
  packages/components/mitosis.config.js
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/svelte.js
  scripts/base-foundation.js
  scripts/rename-db-ui-base.js
  showcases/next-showcase/.eslintrc.json
  showcases/next-showcase/.gitignore
  showcases/next-showcase/next.config.js
  showcases/next-showcase/package.json
  showcases/next-showcase/pages/_app.tsx
  showcases/next-showcase/pages/index.tsx
  showcases/next-showcase/public/favicon.ico
  showcases/next-showcase/styles/globals.scss
  showcases/next-showcase/tsconfig.json
  showcases/svelte-showcase/.gitignore
  showcases/svelte-showcase/README.md
  showcases/svelte-showcase/index.html
  showcases/svelte-showcase/jsconfig.json
  showcases/svelte-showcase/package.json
  showcases/svelte-showcase/src/App.svelte
  showcases/svelte-showcase/src/index.scss
  showcases/svelte-showcase/src/main.js
  showcases/svelte-showcase/vite.config.js
Labels: components, showcases

#676 docs: corrected email
  CODE-OF-CONDUCT.md
Labels: documentation

#689 refactor: removed leftovers
  scripts/start.js
Labels: improvement

#688 feat: add html-showcase
  .github/workflows/03-deploy-gh-pages.yml
  package-lock.json
  package.json
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/showcases/html/index.tsx
  showcases/react-showcase/.gitignore
  showcases/react-showcase/index.html
  showcases/react-showcase/package.json
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/tsconfig.json
  showcases/react-showcase/vite.config.ts
Labels: cicd, showcases

#710 fix: radio leftover problems
  packages/components/scripts/post-build/components.js
  packages/components/src/components/radio/radio.lite.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/shared/radio.ts
Labels: components, showcases, improvement

#715 feat: fullscreen patternhub
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/styles/globals.scss
Labels: showcases

#714 refactor: added missing attribute
  packages/components/scripts/post-build/react.js
  packages/components/src/components/radio/radio.lite.tsx
Labels: improvement

#651 refactor: aligned focus outlines
  packages/components/src/components/link/link.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/helpers/_component.scss
Labels: improvement

#606 fix(card): correct test method
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-00d05-match-screenshot-for-color-variant-successful-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-00d05-match-screenshot-for-color-variant-successful-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-00d05-match-screenshot-for-color-variant-successful-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-040b4-ld-match-screenshot-for-color-variant-warning-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-040b4-ld-match-screenshot-for-color-variant-warning-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-040b4-ld-match-screenshot-for-color-variant-warning-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-117e5--match-screenshot-for-color-variant-neutral-3-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-117e5--match-screenshot-for-color-variant-neutral-3-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-117e5--match-screenshot-for-color-variant-neutral-3-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-1320e-ch-screenshot-for-color-variant-informational-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-1320e-ch-screenshot-for-color-variant-informational-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-1320e-ch-screenshot-for-color-variant-informational-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-26cad-d-match-screenshot-for-color-variant-critical-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-26cad-d-match-screenshot-for-color-variant-critical-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-26cad-d-match-screenshot-for-color-variant-critical-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4579e--match-screenshot-for-color-variant-neutral-4-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4579e--match-screenshot-for-color-variant-neutral-4-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4579e--match-screenshot-for-color-variant-neutral-4-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4b773--match-screenshot-for-color-variant-neutral-1-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4b773--match-screenshot-for-color-variant-neutral-1-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-4b773--match-screenshot-for-color-variant-neutral-1-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-5259d-ld-match-screenshot-for-color-variant-success-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-5259d-ld-match-screenshot-for-color-variant-success-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-5259d-ld-match-screenshot-for-color-variant-success-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-57ad4-atch-screenshot-for-color-variant-information-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-57ad4-atch-screenshot-for-color-variant-information-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-57ad4-atch-screenshot-for-color-variant-information-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-87cf3--match-screenshot-for-color-variant-secondary-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-87cf3--match-screenshot-for-color-variant-secondary-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-87cf3--match-screenshot-for-color-variant-secondary-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-b18a2--match-screenshot-for-color-variant-neutral-0-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-b18a2--match-screenshot-for-color-variant-neutral-0-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-b18a2--match-screenshot-for-color-variant-neutral-0-1-webkit-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-c51d1-ld-match-screenshot-for-color-variant-primary-1-chromium-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-c51d1-ld-match-screenshot-for-color-variant-primary-1-firefox-linux.png
  __snapshots__/card/card.spec.tsx-snapshots/DBCard-component-on-mobile-Color-Variants-DBC-c51d1-ld-match-screenshot-for-color-variant-primary-1-webkit-linux.png
  packages/components/src/components/card/card.spec.tsx
Labels: bug, test

#737 chore: corrected Marketingportal URL
  packages/foundations/scss/_init.scss
Labels: documentation

#749 fix: switched from rollup to webpack for Angular README
  packages/components/src/components/link/docs/Angular.md
Labels: bug

#774 fix: include iframe resizer script
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/public/iframeResizer.contentWindow.min.js
Labels: bug, showcases

#761 docs: ✏️ Provide documentation on how to use db-radio
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/radio/docs/HTML.md
  packages/components/src/components/radio/docs/React.md
  packages/components/src/components/radio/docs/Vue.md
  showcases/vue-showcase/src/components/form/Form.vue
Labels: components, showcases

#751 docs: ✏️ Provide documentation on how to use db-card
  packages/components/src/components/card/docs/Angular.md
  packages/components/src/components/card/docs/HTML.md
  packages/components/src/components/card/docs/React.md
  packages/components/src/components/card/docs/Vue.md
Labels: documentation
