Repository db-ux-design-system/core-web, pull requests merged in 2023-10, with the labels that each got.

#1600 fix: remaining issues for tag
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scripts/color-classes-generator.js
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/scss/variables.scss
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: foundations, components, showcases

#1656 fix: infotext should use solid only if `data-icon` isn't used
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  packages/components/src/components/infotext/infotext.scss
  showcases/shared/infotext.json
Labels: components, showcases

#1694 feat: introduce grouped version updates for dependabot
  .github/dependabot.yml
Labels: cicd, dependencies, improvement

#1629 docs: add additional documentation for foundations
  .xo-config.cjs
  README.md
  packages/components/scripts/generate-icon-types.js
  packages/components/src/shared/all-icons.ts
  packages/components/src/shared/icon-types.ts
  packages/foundations/README.md
  packages/foundations/docs/Colors.md
  packages/foundations/docs/Icons.md
  packages/foundations/docs/Tonalities.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/patternhub/pages/foundations/icons/readme.mdx
  showcases/patternhub/pages/foundations/tonalities/readme.mdx
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/patternhub/pages/foundations/variables/readme.mdx
  showcases/patternhub/styles/globals.scss
Labels: foundations, components, showcases

#1726 docs: added recommended vs code plugin
  .vscode/extensions.json
Labels: documentation
