Repository db-ux-design-system/core-web, pull requests merged in 2023-09, with the labels that each got.

#1512 refactor(Power Apps): divider
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/divider/divider.lite.tsx
Labels: components, improvement, Power Apps

#1516 refactor: changed syntax
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: bug, Power Apps

#1489 refactor: possible simplification
  packages/components/src/utils/index.ts
Labels: improvement

#1525 fix(power apps): added missing selector for font-family definition
  packages/foundations/scss/_tonality.scss
Labels: bug, Power Apps

#1519 refactor(input): optimized showcase
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  showcases/shared/input.json
Labels: showcases

#1530 fix: new icons syntax
  docs/how-to-develop-a-component.md
  packages/components/src/styles/_form-components.scss
Labels: bug, documentation, components

#1540 fix(input): search type floating label
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  showcases/shared/input.json
Labels: bug, components, showcases

#1533 refactor: scripts
  package.json
Labels: improvement

#1538 refactor(textarea): sizing behaviour should adapt natives elements one
  __snapshots__/textarea/component/chromium/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.scss
Labels: components

#1532 feat: select
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.html
  showcases/react-showcase/src/components/select/index.tsx
  showcases/shared/select.json
  showcases/vue-showcase/src/components/select/Select.vue
Labels: components, showcases

#1550 fix: infotext component text breaks unnecessarily
  packages/components/src/components/infotext/infotext.lite.tsx
Labels: bug, Power Apps

#1560 feat: :sparkles: add optional prop defaultValue
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
Labels: components, showcases

#1554 refactor: migrating further mixins to the SCSS namespaces
  docs/how-to-develop-a-component.md
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/code-docs/code-docs.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header-web-component.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/section/section.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_dialog-init.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scripts/color-classes-generator.js
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scripts/scss-scaling-generator.js
  packages/foundations/scripts/scss-typography-generator.js
  packages/foundations/scss/_font-faces.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/color/_code-colors.scss
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/db-ui-foundations.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/icon/_icon-helpers.scss
  packages/foundations/scss/icon/icons.scss
  packages/foundations/scss/screen-sizes.scss
  packages/foundations/scss/variables.scss
  packages/foundations/style-dictionary.config.json
  packages/foundations/tokens/transition.json
  showcases/angular-showcase/src/styles.scss
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/index.scss
  showcases/vue-showcase/src/index.scss
Labels: foundations, components, showcases, improvement

#1536 feat(textarea): power apps component
  build-power-apps/DBUI/DBUI.cdsproj
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1031.resx
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1033.resx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: enhancement, Power Apps

#1572 refactor(textarea): power apps component should have `controlled` height
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: improvement, Power Apps

#1556 refactor: optimized SCSS watch
  .xo-config.cjs
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  package-lock.json
  packages/components/package.json
  packages/components/src/components/input/input.scss
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/styles.css
  showcases/angular-showcase/src/styles.scss
  showcases/react-showcase/package.json
  showcases/react-showcase/src/index.scss
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/index.scss
  showcases/vue-showcase/src/main.ts
Labels: components, showcases, improvement

#1573 fix: issue with patternhub not having a fallback for `not found` pages
  showcases/patternhub/pages/404.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
Labels: showcases

#1576 feat(power apps): provide target property for DB Link
  build-power-apps/link/DBLink/strings/DBLink.1031.resx
  build-power-apps/link/DBLink/strings/DBLink.1033.resx
  packages/components/src/components/link/link.lite.tsx
Labels: enhancement, Power Apps

#1566 refactor(form element): infotext needs to get connected
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/select/index.html
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/docs/HTML.md
  packages/components/src/components/textarea/index.html
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
Labels: improvement

#1288 Refactor tag
  .jscpd.json
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  e2e/docker-compose.yml
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: components, showcases

#708 Radio & Checkbox: Follow up follow up
  packages/components/src/components/radio/radio.scss
Labels: improvement

#1578 refactor: not installing plugins for husky npx
  .husky/commit-msg
  .husky/pre-commit
Labels: improvement

#1407 feat(input): type `date`
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  packages/foundations/scss/icon/_icon-helpers.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/input/Input.vue
Labels: enhancement, foundations, components, showcases

#1577 refactor: reactivate commitlint
  .husky/commit-msg
Labels: improvement
