Repository db-ux-design-system/core-web, pull requests merged in 2023-07, with the labels that each got.

#1196 refactor(power apps): added component translations
  build-power-apps/alert/DBAlert/strings/DBAlert.de.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.de.resx
  build-power-apps/button/DBButton/strings/DBButton.de.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.de.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.de.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.de.resx
  build-power-apps/input/DBInput/strings/DBInput.de.resx
  build-power-apps/link/DBLink/strings/DBLink.de.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.de.resx
  build-power-apps/tag/DBTag/strings/DBTag.de.resx
Labels: improvement

#1205 fix: incorrectly not inheriting values within details elements #1204
  __snapshots__/button/showcase/chromium/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral-0/DBButton-should-match-screenshot.png
  __snapshots__/code-docs/component/chromium/DBCodeDocs-should-match-screenshot.png
  __snapshots__/code-docs/component/mobile-chrome/DBCodeDocs-should-match-screenshot.png
  __snapshots__/code-docs/component/mobile-safari/DBCodeDocs-should-match-screenshot.png
  __snapshots__/code-docs/component/webkit/DBCodeDocs-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral-0/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-0/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral-0/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral-0/DBSection-should-match-screenshot.png
  packages/foundations/scss/_init.scss
Labels: bug

#1250 fix: power apps import file
  .gitignore
  build-power-apps/alert/DBAlert/strings/DBAlert.1033.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.1033.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  build-power-apps/card/DBCard/strings/DBCard.1033.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.1033.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.1033.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.1033.resx
  build-power-apps/input/DBInput/strings/DBInput.1033.resx
  build-power-apps/link/DBLink/strings/DBLink.1033.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.1033.resx
  build-power-apps/tag/DBTag/strings/DBTag.1033.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: bug, Power Apps

#1251 refactor(power apps): added default values
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Labels: improvement, Power Apps

#1257 refactor(power apps): switch to CDN urls
  packages/components/_templates/power-apps/new/scss.ejs.t
  packages/components/src/components/brand/brand.lite.tsx
Labels: improvement, Power Apps

#1048 refactor: simplify classnames dependency usage
  output/angular/ng-package.json
  output/angular/package.json
  output/react/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
Labels: improvement

#1262 refactor: renamed all Power Apps components
  build-power-apps/alert/DBAlert/strings/DBAlert.1033.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.1033.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  build-power-apps/card/DBCard/strings/DBCard.1033.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.1033.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.1033.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.1033.resx
  build-power-apps/input/DBInput/strings/DBInput.1033.resx
  build-power-apps/link/DBLink/strings/DBLink.1033.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.1033.resx
  build-power-apps/tag/DBTag/strings/DBTag.1033.resx
Labels: improvement, Power Apps

#1271 refactor(power apps): renamed files to correct language code
  build-power-apps/DBUI/src/Other/Customizations.xml
  build-power-apps/DBUI/src/Other/Solution.xml
  build-power-apps/alert/DBAlert/strings/DBAlert.1031.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.1031.resx
  build-power-apps/button/DBButton/strings/DBButton.1031.resx
  build-power-apps/card/DBCard/strings/DBCard.1031.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.1031.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.1031.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.1031.resx
  build-power-apps/input/DBInput/strings/DBInput.1031.resx
  build-power-apps/link/DBLink/strings/DBLink.1031.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.1031.resx
  build-power-apps/tag/DBTag/strings/DBTag.1031.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: improvement, Power Apps

#1244 fix: styling issues with alert
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/alert.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/e2e/alert/showcase-alert.spec.ts
  showcases/shared/alert.json
Labels: components, showcases

#1292 feat: add "weak" emphasis for drawer
  .stylelintrc.json
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
Labels: components, showcases

#1284 refactor(docs): added further entries to design systems overview
  docs/research-other-design-systems.md
Labels: documentation

#1298 refactor: replaced individual staged files linting script by lint-staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Labels: improvement

#1283 fix: issue with md files resolving images
  .github/workflows/01-build-showcases.yml
  .husky/pre-commit
  README.md
  docs/images/download/Contributor Covenant-2.0-4baaaa.licence
  docs/images/download/Contributor Covenant-2.0-4baaaa.svg
  docs/images/download/Conventional Commits-1.0.0-yellow.licence
  docs/images/download/Conventional Commits-1.0.0-yellow.svg
  docs/images/download/License-Apache_2.0-blue.licence
  docs/images/download/License-Apache_2.0-blue.svg
  docs/images/download/PRs-welcome-brightgreen.licence
  docs/images/download/PRs-welcome-brightgreen.svg
  docs/images/download/Part of-DB UX Design System Core-d7dce1.licence
  docs/images/download/Part of-DB UX Design System Core-d7dce1.svg
  docs/images/download/code_style-XO-5ed9c7.licence
  docs/images/download/code_style-XO-5ed9c7.svg
  docs/images/download/code_style-prettier-ff69b4.licence
  docs/images/download/code_style-prettier-ff69b4.svg
  output/README.md
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  output/webcomponent/README.md
  packages/components/README.md
  packages/foundations/README.md
  scripts/md-resolve-svg.js
  showcases/patternhub/.gitignore
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
Labels: cicd, foundations, components, showcases

#1274 refactor(`README`): updated component status
  README.md
Labels: documentation

#1299 refactor: drawer backdrop (combine noBackdrop and emphasis)
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Labels: components, showcases

#1313 refactor(power apps): added english language files
  .gitignore
  build-power-apps/alert/DBAlert/strings/DBAlert.1033.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.1033.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  build-power-apps/card/DBCard/strings/DBCard.1033.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.1033.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.1033.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.1033.resx
  build-power-apps/input/DBInput/strings/DBInput.1033.resx
  build-power-apps/link/DBLink/strings/DBLink.1033.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.1033.resx
  build-power-apps/tag/DBTag/strings/DBTag.1033.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: improvement, Power Apps

#1330 refactor(lint): added relevant ignore path to copy and paste linter
  .jscpd.json
Labels: improvement

#1331 refactor: running prettier on the codebase
  packages/components/index.html
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/index.html
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/index.html
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/index.html
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/index.html
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/index.html
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/index.html
  packages/components/src/components/drawer/index.html
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/index.html
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/index.html
  packages/components/src/components/infotext/index.html
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/index.html
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/index.html
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/index.html
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/index.html
  packages/components/src/components/select/select.scss
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/index.html
  packages/components/src/components/tag/tag.scss
  packages/components/test/playwright/boilerplate/index.html
  packages/foundations/scss/_font-faces.scss
  packages/foundations/scss/icon/_icons.font-faces.scss
  showcases/angular-showcase/src/index.html
  showcases/react-showcase/index.html
  showcases/vanilla-showcase/index.html
  showcases/vue-showcase/index.html
Labels: foundations, components, showcases, improvement

#1332 refactor(power apps): added further icons to the list
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: improvement, Power Apps

#1341 refactor(lint-staged): ignoring unknown file extensions on prettifying staged files
  .lintstagedrc
Labels: improvement

#1340 fix: errors on newly generated components
  .lintstagedrc
  packages/components/_templates/mitosis/new/component/scss.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-module-import-component.ejs.t
Labels: bug

#1351 fix: issue with typescript version in angular showcase
  package-lock.json
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
Labels: showcases
