Repository db-ux-design-system/core-web, pull requests merged in 2023-05, with the labels that each got.

#994 chore: simplified selectors
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio/radio.scss
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
Labels: improvement

#1000 chore: add tonality examples for showcases for mapo
  .jscpd.json
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-firefox-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-chrome-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/shared/alert.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/radio.json
  showcases/shared/section.json
Labels: components, showcases

#1010 chore(docs): e2e problem solving section
  e2e/README.md
Labels: documentation

#1026 chore: simple label corrections
  showcases/shared/divider.json
  showcases/shared/drawer.json
Labels: showcases

#1027 chore(docs): necessary changes
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
Labels: documentation

#1014 feat(power apps): link component
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/link/link.lite.tsx
Labels: enhancement

#999 refactor: fix reacts (controlled components) and vues (v-model) inputs
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/shared/model.ts
Labels: bug, components, javascript

#1061 feat(power apps): added infotext component
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/infotext/infotext.lite.tsx
Labels: enhancement, components

#1058 feat(power apps): added radio component
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/radio/radio.scss
Labels: enhancement, components

#1059 feat(power apps): added checkbox component
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
Labels: enhancement, components
