Repository db-ux-design-system/core-web, pull requests merged in 2023-06, with the labels that each got.

#1102 refactor(drawer): integrated feedback
  packages/components/src/components/drawer/drawer.scss
Labels: improvement

#1095 refactor: preventing the need for some dependencies updates approvals
  .github/workflows/00-scan-secrets.yml
Labels: dependencies, improvement

#1110 refactor: added missing `package.json` entries
  packages/components/package.json
  packages/foundations/package.json
Labels: documentation, improvement

#1112 chore: made another missing update
  package-lock.json
Labels: improvement

#1141 refactor: the drawer should always get a `box-shadow` #1140
  packages/components/src/components/drawer/drawer.scss
Labels: improvement

#1143 fix: set list attribute conditionally
  packages/components/src/components/input/input.lite.tsx
Labels: improvement

#1127 refactor: added min and max attributes
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/shared/model.ts
Labels: enhancement

#1169 feat(icon): added `title` prop
  packages/components/src/components/icon/icon.lite.tsx
Labels: improvement

#1179 refactor(brand): added missing properties defaults
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/button/showcase-button.spec.ts-snapshots/DBButton-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/home/showcase-home.spec.ts-snapshots/Home-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/infotext/showcase-infotext.spec.ts-snapshots/DBInfotext-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/input/showcase-input.spec.ts-snapshots/DBInput-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/link/showcase-link.spec.ts-snapshots/DBLink-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-chromium-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-mobile-safari-linux.png
  __snapshots__/section/showcase-section.spec.ts-snapshots/DBSection-should-match-screenshot-for-tonality-regular-and-color-neutral-0-1-webkit-linux.png
  packages/components/src/components/brand/brand.lite.tsx
Labels: components, Power Apps

#1185 feat: added new (brand component related) Power Apps fields
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/src/components/brand/brand.lite.tsx
Labels: enhancement, Power Apps

#1194 fix: `tag` build for Power Apps generation
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/tag/tag.lite.tsx
Labels: bug

#1193 feat(power apps): added translations
  build-power-apps/README.md
  build-power-apps/alert/DBAlert/strings/DBAlert.de.resx
  build-power-apps/brand/DBBrand/strings/DBBrand.de.resx
  build-power-apps/button/DBButton/strings/DBButton.de.resx
  build-power-apps/card/DBCard/card/DBCard.de.resx
  build-power-apps/checkbox/DBCheckbox/strings/DBCheckbox.de.resx
  build-power-apps/icon/DBIcon/strings/DBIcon.de.resx
  build-power-apps/infotext/DBInfotext/strings/DBInfotext.de.resx
  build-power-apps/input/DBInput/strings/DBInput.de.resx
  build-power-apps/link/DBLink/strings/DBLink.de.resx
  build-power-apps/radio/DBRadio/strings/DBRadio.de.resx
  build-power-apps/tag/DBTag/strings/DBTag.de.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Labels: enhancement, Power Apps

#1040 docs: update research-other-design-systems.md
  docs/research-other-design-systems.md
Labels: documentation

#1108 refactor(input): reactive forms with angular
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/docs/Angular.md
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/vue-showcase/src/components/form/Form.vue
Labels: components, showcases
