Repository db-ux-design-system/core-web, pull requests merged in 2024-11, with the labels that each got.

#3403 fix: slow save triangle for navigation
  packages/components/src/utils/navigation.ts
Labels: 🏘components

#3408 refactor: let's not cleanup the `latest` folder
  .github/scripts/cleanup-gh-pages.js
Labels: 🐛bug, 🚢📀cicd

#3231 fix: overflow scroll drawer content
  packages/components/src/components/drawer/drawer.scss
Labels: 🏘components, 🪩 🔥 🕺 cool topic

#3272 fix: issue with tooltip inside tag
  packages/components/src/components/tag/tag.scss
  showcases/patternhub/scripts/utils.js
Labels: 🏘components, 📺showcases

#3399 fix: issue with tooltip not centered in with all parent elements
  __snapshots__/tooltip/showcase/firefox/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Labels: 🏘components

#3398 chore: add docs for drawer header
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
Labels: 📕documentation, 🏘components

#3264 fix: issue with checkbox icon
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/checkbox.json
Labels: 🏘components, 📺showcases

#3426 fix: issue with dependabot updating eslint major version
  .github/dependabot.yml
Labels: 🚢📀cicd

#3432 feat: add autocomplete for IDEs
  packages/foundations/docs/IDESupport.md
  packages/foundations/ide/db.ide.css
  packages/foundations/package.json
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/ide/index.mdx
Labels: 📕documentation, 🏗foundations, 📺showcases, 🪩 🔥 🕺 cool topic

#3436 fix(docs): corrected that path
  packages/foundations/docs/IDESupport.md
Labels: 🐛bug, 📕documentation, 🏗foundations

#3435 fix: `latest` is a "version"
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Labels: 🐛bug, 📺showcases

#3438 fix(version switcher): displaying `latest` entry
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Labels: 🐛bug, 📺showcases

#3449 refactor(axe): removed obsolete disabled rule
  showcases/e2e/input/input-a11y.spec.ts
Labels: 🍄🆙improvement, 📺showcases

#3450 fix: issue with version switcher and DOMPurify.sanitize
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Labels: 🐛bug, 📺showcases

#3448 refactor: split a11y tests and optimized conditions
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
  showcases/e2e/badge/badge-a11y.spec.ts
  showcases/e2e/brand/brand-a11y.spec.ts
  showcases/e2e/button/button-a11y.spec.ts
  showcases/e2e/card/card-a11y.spec.ts
  showcases/e2e/checkbox/checkbox-a11y.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/divider/divider-a11y.spec.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/fixtures/variants.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/icon/icon-a11y.spec.ts
  showcases/e2e/infotext/infotext-a11y.spec.ts
  showcases/e2e/input/input-a11y.spec.ts
  showcases/e2e/link/link-a11y.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/notification/notification-a11y.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/radio/radio-a11y.spec.ts
  showcases/e2e/section/section-a11y.spec.ts
  showcases/e2e/select/select-a11y.spec.ts
  showcases/e2e/switch/switch-a11y.spec.ts
  showcases/e2e/tab-item/tab-item-a11y.spec.ts
  showcases/e2e/tabs/tabs-a11y.spec.ts
  showcases/e2e/tag/tag-a11y.spec.ts
  showcases/e2e/textarea/textarea-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
Labels: 📺showcases

#3453 docs: removed Samsung Internet Browser warning
  README.md
Labels: 📕documentation, 👩‍👧‍👦community feedback

#3431 fix: further adapted space
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/firefox/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-safari/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/webkit/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
Labels: 🐛bug, 🏘components, 👩‍👧‍👦community feedback

#3462 fix(a11y): allow labels to be clickable
  packages/components/src/styles/_form-components.scss
Labels: 🏘components

#3463 chore: removed obsolete declaration
  packages/components/src/styles/_form-components.scss
Labels: 🍄🆙improvement, 🏘components

#3468 fix: issue with wrong variable names for ide support
  packages/foundations/ide/db.ide.css
Labels: 🐛bug, 🏗foundations

#3471 docs: changed from webpack to its successor rollup
  output/angular/README.md
  output/react/README.md
  output/vue/README.md
Labels: 📕documentation

#3228 feat: add stack component
  __snapshots__/stack/component/chromium/DBStack-should-match-screenshot.png
  __snapshots__/stack/component/firefox/DBStack-should-match-screenshot.png
  __snapshots__/stack/component/mobile-chrome/DBStack-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-docs-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-overview-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  packages/components/index.html
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/stack/docs/Angular.md
  packages/components/src/components/stack/docs/HTML.md
  packages/components/src/components/stack/docs/Migration.md
  packages/components/src/components/stack/docs/React.md
  packages/components/src/components/stack/docs/Vue.md
  packages/components/src/components/stack/index.html
  packages/components/src/components/stack/index.ts
  packages/components/src/components/stack/model.ts
  packages/components/src/components/stack/stack-web-component.scss
  packages/components/src/components/stack/stack.lite.tsx
  packages/components/src/components/stack/stack.scss
  packages/components/src/components/stack/stack.spec.tsx
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/_custom-elements.scss
  packages/components/src/styles/_stack-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/angular-showcase/src/app/components/stack/stack.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/stack/stack-a11y.spec.ts
  showcases/e2e/stack/stack-snapshot.spec.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/components.json
  showcases/patternhub/data/routes.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/stack.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/stack/Stack.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: 📕documentation, 🏘components, 📺showcases, 🪩 🔥 🕺 cool topic

#3485 chore: add prettier to lintstaged
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
Labels: 🐛bug

#3477 refactor: removed inner div inside `section.lite.tsx`
  __snapshots__/section/patternhub/section-overview-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/react-showcase/src/components/section/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/section/Section.vue
Labels: 🏘components, 📺showcases, 👩‍👧‍👦community feedback

#3218 refactor(accordion): adapt native standard for `behaviour`
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  package-lock.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/accordion/model.ts
  packages/components/src/shared/model.ts
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#3479 refactor: resolves a dependabot alert
  e2e/package.json
  package-lock.json
  package.json
  showcases/next-showcase/package.json
  showcases/stencil-showcase/package.json
Labels: 🍄🆙improvement, 📺showcases, 🤫dependencies

#3495 docs: fix web-components link in README
  README.md
Labels: 🐛bug, 📕documentation, 👩‍👧‍👦community feedback

#3486 fix: issue with next and previous buttons for patternhub
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/generate-test-table.js
Labels: 📺showcases

#3494 refactor: running prettier
  .github/scripts/build-gh-page.sh
  docs/research/stack.md
  package.json
  packages/components/src/components/tag/tag.scss
  packages/components/src/shared/model.ts
  packages/foundations/docs/IDESupport.md
Labels: 📕documentation, 🍄🆙improvement, 🚢📀cicd, 🏗foundations, 🏘components

#3498 fix: some minor "copy code" issue for tag
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/shared/tag.json
Labels: 📺showcases

#3497 fix: some patternhub/documentation issues
  packages/foundations/docs/Colors.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/styles/globals.scss
Labels: 📕documentation, 🏗foundations, 📺showcases

#3499 docs: update input example types to work with patternhub
  showcases/shared/input.json
Labels: 📺showcases

#3503 fix: icon got renamed
  showcases/patternhub/pages/foundations/variables/examples.tsx
Labels: 🐛bug, 📺showcases

#3513 feat(dependabot): added guidepup group
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#3519 fix: a11y issue for placeholders
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  package-lock.json
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/input/input-a11y.spec.ts
  showcases/e2e/select/select-a11y.spec.ts
  showcases/e2e/textarea/textarea-a11y.spec.ts
Labels: 🏘components, 📺showcases

#3525 fix(docs): urls and content
  CONTRIBUTING.md
  docs/conventions.md
  package.json
Labels: 📕documentation

#3526 refactor: running prettier
  README.md
  docs/conventions.md
Labels: 📕documentation, 🍄🆙improvement

#3527 docs: disable auto-dark mode for iframes
  showcases/patternhub/styles/globals.scss
Labels: 📺showcases

#3529 fix: replaced JavaScript selector
  packages/components/src/components/tabs/tabs.lite.tsx
Labels: 🐛bug, 🏘components, 👩‍👧‍👦community feedback
