Repository db-ux-design-system/core-web, pull requests merged in 2024-12, with the labels that each got.

#3518 refactor: reenable NVDA tests
  .github/workflows/02-e2e-screen-reader.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#3538 refactor: running prettier
  .github/PULL_REQUEST_TEMPLATE.md
  CODE-OF-CONDUCT.md
  README.md
  docs/adr-04-icons.md
  docs/adr/adr-01-framework.md
  docs/adr/adr-02-monorepo.md
  docs/adr/adr-03-dependency-automation.md
  docs/adr/adr-xx-Template.md
  docs/definition-of-done-pr.md
  docs/how-to-develop-a-component.md
  docs/migration/alpha-beta.md
  docs/research-other-design-systems.md
  docs/research/README.md
  docs/research/focus-state.md
  docs/research/multi-select.md
  docs/research/switch-and-toggle.md
  docs/research/tabs.md
  docs/research/tooltip.md
  e2e/README.md
  packages/components/README.md
  packages/components/docs/Validation.md
  packages/components/docs/getting-started.md
  packages/components/docs/router-usage.md
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/docs/Accessibility.md
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/section/section.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_custom-elements.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_popover-component.scss
  packages/foundations/README.md
  packages/foundations/assets/icons/README.md
  packages/foundations/docs/Colors.md
  packages/foundations/docs/Densities.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/IDESupport.md
  packages/foundations/docs/Icons.md
  packages/foundations/docs/Variables.md
  packages/foundations/scss/helpers/_focus.scss
  packages/foundations/scss/init/required.scss
  showcases/patternhub/styles/globals.scss
  showcases/screen-reader/README.md
  showcases/vue-showcase/README.md
Labels: 📕documentation, 🍄🆙improvement, 🚢📀cicd, 🏗foundations, 🏘components, 📺showcases

#3537 docs: DB UX Design System development
  README.md
  docs/development.md
Labels: 📕documentation, 🍄🆙improvement

#3539 fix: invalid text color for inputs
  packages/components/src/styles/_form-components.scss
Labels: 🐛bug, 🏘components, 👩‍👧‍👦community feedback

#3546 fix: issue with flaky tabs aria-snapshot for vue showcase
  showcases/e2e/tabs/tabs-snapshot.spec.ts
Labels: 📺showcases

#3551 chore: pin mitosis dependency
  packages/components/package.json
Labels: 🏘components

#3556 refactor: `@types/react` changes
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/popover/model.ts
Labels: 🍄🆙improvement, 🏘components

#3555 refactor: code optimizations
  packages/components/src/utils/index.ts
Labels: 🍄🆙improvement, 🏘components

#3562 Update _component.scss
  packages/components/src/styles/_component.scss
Labels: 🏘components

#3565 fix: issue with prepare script for foundations
  packages/foundations/package.json
Labels: 🏗foundations

#3571 docs: added new entry for a design system
  docs/research-other-design-systems.md
Labels: 📕documentation, 🍄🆙improvement

#3575 fix: post install issue with foundations
  packages/foundations/package.json
Labels: 🏗foundations

#3576 docs: added relevant migration section
  docs/migration/v0.5.x-to-v0.6.x.md
Labels: 📕documentation

#3586 fix: filled icons by updating to @db-ux/core-icons v0.0.7
  package-lock.json
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/package.json
Labels: 🏗foundations

#3582 fix: migration CLI by making packages external
  .github/scripts/publish-npm.sh
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .xo-config.cjs
  docs/migration/v0.5.x-to-v0.6.x.md
  package-lock.json
  packages/foundations/README.md
  packages/foundations/package.json
  packages/foundations/scripts/local/generate-icon-overview.ts
  packages/migration/README.md
  packages/migration/esbuild.js
  packages/migration/package.json
  packages/migration/src/cli.ts
  packages/migration/src/data.ts
  packages/migration/src/migration/color-q32024.ts
  packages/migration/src/migration/icon-q32024.ts
  packages/migration/src/migration/index.ts
  packages/migration/src/migration/v0.0.5-v0.0.6.ts
  packages/migration/src/program.ts
  packages/migration/src/types.ts
  packages/migration/test/color-q32024/color-q32024.spec.ts
  packages/migration/test/color-q32024/has-changes.txt
  packages/migration/test/color-q32024/no-change.txt
  packages/migration/test/icon-q32024/has-changes.txt
  packages/migration/test/icon-q32024/icon-q32024.spec.ts
  packages/migration/test/icon-q32024/no-change.txt
  packages/migration/test/v0.0.5-v0.0.6/has-changes.txt
  packages/migration/test/v0.0.5-v0.0.6/no-change.txt
  packages/migration/test/v0.0.5-v0.0.6/v005_v006.spec.ts
  packages/migration/tsconfig.json
  packages/migration/vitest.config.ts
  scripts/package.json
Labels: 📕documentation, 🚢📀cicd, 🏗foundations

#3591 refactor: capitalization rules
  docs/migration/v0.2.x-to-v0.3.x.md
  docs/migration/v0.3.x-to-v0.4.x.md
  docs/migration/v0.5.x-to-v0.6.x.md
  scripts/rebuild-e2e.js
Labels: 📕documentation

#3601 fix: form elements border color
  __snapshots__/input/component/chromium/DBInput-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/input/component/mobile-chrome/DBInput-should-match-screenshot.png
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/chromium/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/_accessibility-review.json
Labels: 🐛bug, 🏘components, 📺showcases, 👂accessibility

#3541 refactor: reverted DB logo instead of placeholder usage
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/index.html
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/tab-item.json
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#3599 refactor(vite): esm build
  packages/components/vite.config.mjs
Labels: 🍄🆙improvement, 🏘components

#3608 fix: issue with floating label disables click
  packages/components/src/styles/_form-components.scss
Labels: 🏘components

#3397 refactor: updated node version
  .github/actions/npm-cache/action.yml
  .nvmrc
Labels: 🍄🆙improvement, 🚢📀cicd

#3163 chore: added further VS Code extension suggestions
  .vscode/extensions.json
Labels: 🍄🆙improvement

#3508 fix(docs): bg color for cards
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Labels: 🐛bug, 📺showcases

#3530 refactor(tabs): ensure valid tab `id` values
  packages/components/src/components/tabs/tabs.lite.tsx
Labels: 🍄🆙improvement, 🏘components

#3590 refactor: try out new ubuntu version
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/99-dependency-review.yml
  .github/workflows/99-labeler.yml
  .github/workflows/cleanup.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#3589 refactor: let's not make this rule deactivation too global
  packages/foundations/scripts/local/generate-icon-overview.ts
Labels: 🏗foundations

#2935 fix: broken link on icons readme page in patternhub
  packages/foundations/docs/Icons.md
Labels: 📕documentation, 🏗foundations

#3611 docs(color): usage decision tree
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
Labels: 📺showcases

#3612 feat: `footer` component
  docs/research/footer.md
Labels: 📕documentation

#3620 Revert "Update _component.scss (#3562)"
  packages/components/src/styles/_component.scss
Labels: 🍄🆙improvement, 🏘components
