Repository db-ux-design-system/core-web, pull requests merged in 2024-09, with the labels that each got.

#2039 refactor: define the `button` elements `type`
  packages/components/src/components/button/button.lite.tsx
  showcases/react-showcase/src/components/button/index.tsx
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#3118 docs: add a warning for application owners regarding Samsung Internet
  README.md
Labels: 📕documentation, 👩‍👧‍👦community feedback

#3135 docs: corrected path
  packages/foundations/assets/icons/README.md
Labels: 🐛bug, 📕documentation, 🏗foundations

#3136 docs: clarity
  packages/foundations/docs/CustomIcons.md
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations

#2997 test(guidepup): accordion
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/accordion.spec.ts
  showcases/screen-reader/translations.ts
Labels: 📕documentation, 📺showcases, 🧪test

#3139 refactor: resilience
  .husky/pre-commit
Labels: 🍄🆙improvement

#3143 Update README.md
  README.md
Labels: 📕documentation

#3154 refactor: "preinstall" dev dependency
  package-lock.json
  packages/foundations/package.json
Labels: 🍄🆙improvement, 🏗foundations

#3165 fix: simplification for `@db-ui/gif` parameters
  packages/foundations/package.json
Labels: 🐛bug, 🏗foundations

#3053 test(guidepup): navigation
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium-highContrast/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/firefox/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-chrome/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-safari/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/webkit/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/docs/Accessibility.md
  packages/components/src/components/navigation/docs/Angular.md
  packages/components/src/components/navigation/docs/HTML.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  packages/components/src/components/navigation/navigation.scss
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/e2e/navigation/navigation-snapshot.spec.ts
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/navigation/nav-item.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/navigation.spec.ts
  showcases/shared/navigation.json
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Labels: 📕documentation, 🏘components, 📺showcases, 👂accessibility, 🧪test

#3005 test(guidepup): checkbox
  packages/components/src/styles/_form-components.scss
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/checkbox.spec.ts
  showcases/screen-reader/translations.ts
Labels: 🏘components, 📺showcases, 🧪test

#3175 chore: increase shards for screen reader tests
  .github/workflows/02-e2e-screen-reader.yml
Labels: 🚢📀cicd

#3153 refactor: provide possibility for a second focus color
  packages/foundations/scss/helpers/_focus.scss
Labels: 🐛bug, 🏗foundations

#3176 chore: update cancel workflow action
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Labels: 🚢📀cicd

#3198 chore: try to harden screen reader tests to avoid duplication in macOS
  showcases/screen-reader/default.ts
Labels: 📺showcases

#3205 chore: improve playwright tests by reducing amount of running projects
  showcases/e2e/default.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
  showcases/playwright.config.ts
Labels: 📺showcases

#3215 fix: issue for jetbrains IDE not autocompleting angular components
  packages/components/configs/angular/index.js
  packages/components/configs/angular/mitosis.config.js
  packages/components/configs/mitosis.config.js
  packages/components/configs/react/index.js
  packages/components/configs/react/mitosis.config.js
  packages/components/configs/vue/index.js
  packages/components/configs/vue/mitosis.config.js
  packages/components/package.json
  packages/components/scripts/post-build/angular.ts
Labels: 🏘components

#3128 refactor: introducing typed CSS Custom Properties
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/default-theme.scss
Labels: 🍄🆙improvement, 🏗foundations, 🪩 🔥 🕺 cool topic

#3232 fix: issue with long inline links not breaking
  packages/components/src/styles/_link-components.scss
  showcases/react-showcase/src/components/form/index.tsx
Labels: 🏘components, 📺showcases

#2978 fix: issue with invalid message not showing
  __snapshots__/checkbox/component/firefox/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
  showcases/react-showcase/src/components/form/input.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/default.ts
  showcases/shared/checkbox.json
Labels: 🏘components, 📺showcases

#3261 docs(migration): pin foundations version
  docs/migration/v0.2.x-to-v0.3.x.md
  docs/migration/v0.3.x-to-v0.4.x.md
Labels: 📕documentation

#3263 fix: background color for accordion
  packages/components/src/components/accordion-item/accordion-item.scss
Labels: 🏘components

#3251 chore: pin eslint version
  .github/dependabot.yml
  package-lock.json
  packages/components/package.json
Labels: 🚢📀cicd, 🏘components
