Repository db-ux-design-system/core-web, pull requests merged in 2024-05, with the labels that each got.

#2611 fix: issues with header with wrong spacings and dividers based on slots
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/firefox/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-safari/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/webkit/regular/neutral/DBBrand-should-match-screenshot.png
  docs/migration/alpha-beta.md
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/header.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/header/Header.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: 📕documentation, 🏘components, 📺showcases

#2627 fix: issue with v-model
  packages/components/scripts/post-build/vue.js
Labels: 🏘components

#2637 chore: simplification
  packages/components/src/styles/db-ui-components.scss
Labels: 🍄🆙improvement, 🏘components

#2639 feat: add additional enum arrays for better TS support
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  docs/migration/alpha-beta.md
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/model.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/radio/model.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/section.json
  showcases/vue-showcase/src/components/section/Section.vue
Labels: 📕documentation, 🏘components, 📺showcases

#2646 test: add sa11y to showcases to find some a11y issues
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/main.ts
  showcases/angular-showcase/src/sa11y.d.ts
  showcases/angular-showcase/src/styles.css
  showcases/react-showcase/package.json
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/main.ts
Labels: 📺showcases

#2668 docs: update patternhub to work with next/previous page and breadcrumb
  packages/components/_templates/mitosis/new/showcases/patternhub-index.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-route.ejs.t
  scripts/package.json
  showcases/patternhub/.gitignore
  showcases/patternhub/components/card-navigation/card-navigation.tsx
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/link-header/index.tsx
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/data/components.json
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/index.tsx
  showcases/patternhub/pages/foundations/densities/index.tsx
  showcases/patternhub/pages/foundations/font-sizes/index.tsx
  showcases/patternhub/pages/foundations/icons/index.tsx
  showcases/patternhub/pages/foundations/index.tsx
  showcases/patternhub/pages/foundations/variables/index.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-migration-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
  showcases/patternhub/styles/globals.scss
  showcases/shared/default-component-data.ts
  showcases/showcase-styles.css
Labels: 🏘components, 📺showcases

#2673 fix: issue for patternhub included inside iframe
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  showcases/patternhub/.gitignore
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/styles/globals.scss
Labels: 🏘components, 📺showcases

#2674 fix: issue for marketingportal and overview pages
  showcases/patternhub/scripts/generate-docs-mdx.js
Labels: 📺showcases

#2688 docs: update HTML.md files to remove unused ids
  packages/components/src/components/accordion-item/docs/HTML.md
  packages/components/src/components/accordion/docs/HTML.md
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/radio/docs/HTML.md
Labels: 📕documentation, 🏘components

#2689 fix: missing alignment property (center)
  packages/components/src/shared/model.ts
Labels: 🏘components
