Repository db-ux-design-system/core-web, pull requests merged in 2024-06, with the labels that each got.

#2700 docs: replace some code formatting by bold formatting
  packages/foundations/README.md
  packages/foundations/docs/Colors.md
  packages/foundations/docs/CustomIcons.md
  packages/foundations/docs/Densities.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/Icons.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/pages/foundations/variables/examples.tsx
Labels: 📕documentation, 🏗foundations, 📺showcases

#2721 docs: adds timing variables to migration guide
  docs/migration/alpha-beta.md
Labels: 📕documentation

#2752 fix: issue with backdrop color
  packages/components/src/styles/dialog-init.scss
Labels: 🏘components

#2748 chore(docs): added links
  output/angular/README.md
  output/react/README.md
  output/vue/README.md
Labels: 📕documentation

#2753 docs: update foundations README.md for tailwind.config use with TS
  packages/foundations/README.md
  packages/foundations/tailwind/tailwind-tokens.json
Labels: 📕documentation, 🏗foundations

#2664 refactor: leftover replacements
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/infotext/index.html
  packages/components/src/components/input/index.html
  packages/components/src/components/navigation/docs/Angular.md
  packages/components/src/components/notification/index.html
  packages/components/src/components/select/index.html
  packages/components/src/components/textarea/index.html
  packages/components/src/shared/model.ts
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/navigation.json
Labels: 📕documentation, 🍄🆙improvement, 🏘components, 📺showcases

#2756 chore: code formatting
  packages/components/src/components/header/docs/HTML.md
Labels: 📕documentation, 🍄🆙improvement, 🏘components

#2669 refactor: made some leftover changes
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/patternhub/scripts/get-code-files.js
Labels: 📕documentation, 🏘components, 📺showcases

#2759 fix: fixes layout of db switch
  __snapshots__/switch/component/chromium/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/firefox/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/mobile-chrome/DBSwitch-should-match-screenshot.png
  packages/components/src/components/switch/switch.scss
Labels: 🐛bug, 🏘components, 🎨(s)css

#2692 feat: add additional colors
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/colors/_index.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.additional-palette.scss
  packages/foundations/scss/colors/_variables.additional-speaking-colors.scss
  packages/foundations/scss/colors/_variables.additional.scss
  packages/foundations/scss/colors/_variables.palette.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/_variables.speaking-colors.scss
  packages/foundations/scss/colors/classes/all.scss
  packages/foundations/scss/colors/classes/blue.scss
  packages/foundations/scss/colors/classes/cyan.scss
  packages/foundations/scss/colors/classes/green.scss
  packages/foundations/scss/colors/classes/orange.scss
  packages/foundations/scss/colors/classes/pink.scss
  packages/foundations/scss/colors/classes/red.scss
  packages/foundations/scss/colors/classes/turquoise.scss
  packages/foundations/scss/colors/classes/violet.scss
  packages/foundations/scss/colors/classes/yellow.scss
  packages/foundations/scss/default-theme.scss
  showcases/patternhub/pages/foundations/colors/overview.tsx
Labels: 📕documentation, 🏗foundations, 📺showcases

#2687 chore: changed dependency `cpr` to use `cpy-cli`
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
  showcases/patternhub/styles/globals.scss
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
Labels: 🏗foundations, 🏘components, 📺showcases

#2758 fix: wrong property for notification
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  showcases/shared/notification.json
Labels: 📺showcases

#2767 fix: issue with patternhub copy
  .github/workflows/03-deploy-gh-pages.yml
Labels: 🚢📀cicd

#2768 chore: added further logging
  .github/scripts/build-gh-page.sh
Labels: 🍄🆙improvement, 🚢📀cicd

#2769 fix: issue with tailwind tokens causing esbuild warning
  packages/foundations/tailwind/tailwind-tokens.json
Labels: 🏗foundations

#2770 refactor(codeowners): added bruno
  CODEOWNERS
Labels: 🍄🆙improvement

#2775 fix: issue with tooltip colors changed by parent component like tag
  packages/components/src/components/tooltip/tooltip.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  showcases/react-showcase/src/components/form/index.tsx
Labels: 🏗foundations, 🏘components, 📺showcases

#2778 fix: pin sass dependency, 'build' was too slow with version > 1.77.4
  .github/dependabot.yml
  output/react/package.json
  output/vue/package.json
  package-lock.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
Labels: 🚢📀cicd, 🏗foundations, 🏘components, 📺showcases

#2762 refactor(tooltip & badge): resilience & simplification
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  scripts/dev.js
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#2777 refactor: optimizing scss code
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/init/default-fonts.scss
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations

#2785 fix: revert github ci deploy
  .github/workflows/03-deploy-gh-pages.yml
Labels: 🚢📀cicd

#2795 refactor: npx shouldn't install `tsx` independently from our version
  .github/workflows/01-build-showcases.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#2798 fix: issue with removable tag closing button height
  packages/components/src/components/tag/tag.scss
Labels: 🏘components
