Repository db-ux-design-system/core-web, pull requests merged in 2024-10, with the labels that each got.

#3229 chore: update hygen templates for new component generation
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/db-ui-components-angular.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/readmes/readme-angular.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-components.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes-imports.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-component.ejs.t
Labels: 🏘components

#3186 feat: generating provenance statements
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🪩 🔥 🕺 cool topic

#3277 fix: docs incorrect headline
  showcases/patternhub/pages/foundations/icons/overview.tsx
Labels: 📺showcases

#3283 chore: import declaration optimization
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/checkbox/checkbox.spec.tsx
  packages/components/src/components/divider/divider.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/input/input.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/notification/notification.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/radio/radio.spec.tsx
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/switch/switch.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tag/tag.spec.tsx
  packages/components/src/components/textarea/textarea.spec.tsx
  packages/components/src/components/tooltip/tooltip.spec.tsx
Labels: 🍄🆙improvement, 🏘components

#3291 refactor: embed our page into an iframe instead of doing a redirect
  .github/scripts/build-gh-page.sh
Labels: 🍄🆙improvement, 🚢📀cicd, 👩‍👧‍👦community feedback

#3292 refactor(dependabot): added new dependency that needs grouping
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#3226 docs: add research for stack component
  docs/research/stack.md
Labels: 📕documentation

#3305 docs: updated accessibility test status
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/shared/_accessibility-review.json
Labels: 📺showcases, 👂accessibility

#3304 refactor: removing Duncan
  CODEOWNERS
Labels: 🍄🆙improvement

#3306 refactor: corrected styling
  packages/components/src/styles/_form-components.scss
Labels: 🍄🆙improvement, 🏘components

#3333 chore: corrected attribute
  showcases/angular-showcase/src/app/components/section/section.component.html
Labels: 🍄🆙improvement, 📺showcases

#3336 chore: optimize imports
  packages/components/src/components/drawer/drawer.spec.tsx
Labels: 🍄🆙improvement, 🏘components

#3334 refactor: slight optimizations
  showcases/angular-showcase/README.md
Labels: 📕documentation, 🍄🆙improvement, 📺showcases

#3300 docs(README): added v3 header image
  README.md
Labels: 📕documentation

#3338 fix: correct dimensions
  README.md
Labels: 🐛bug, 📕documentation

#3345 docs: adding new migration documentation
  README.md
Labels: 📕documentation, 🍄🆙improvement

#3346 fix(docs): corrected URLs
  packages/foundations/README.md
Labels: 🐛bug, 📕documentation, 🏗foundations

#3352 fix(docs): corrected URL
  packages/components/README.md
Labels: 📕documentation, 🍄🆙improvement, 🏘components, 👩‍👧‍👦community feedback

#3269 refactor(icon): replaced non-existing `x_placeholder` by `db` for the moment
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/index.html
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/tab-item.json
Labels: 🐛bug, 🏘components, 📺showcases

#3337 refactor(ally): changing elements order
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Labels: 📕documentation, 🍄🆙improvement, 🏘components, 📺showcases, 👂accessibility

#3267 fix: issue with color contrast for tag
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  packages/components/src/components/tag/tag.scss
Labels: 🐛bug, 🏘components, 👂accessibility

#3349 refactor: using `latest` version as a redirect target from root
  .github/scripts/build-gh-page.sh
Labels: 🍄🆙improvement, 🚢📀cicd

#3318 refactor: making vue a devDependency
  output/vue/package.json
  package-lock.json
Labels: 🐛bug, 👩‍👧‍👦community feedback, 🪩 🔥 🕺 cool topic, 🚀 release

#3390 fix: issue with gh-pages latest site
  .github/scripts/build-gh-page.sh
Labels: 🚢📀cicd

#3392 fix: popover no animation
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  packages/components/src/styles/_popover-component.scss
Labels: 🏘components
