Repository db-ux-design-system/core-web, pull requests merged in 2024-03, with the labels that each got.

#2283 fix: broken accordion
  packages/components/scripts/post-build/components.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.html
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.ts
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
Labels: 🏘components, 📺showcases

#2028 feat: add foundations app to test colors, icons and fonts
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .gitignore
  .jscpd.json
  __snapshots__/foundations/chromium/Colors-should-match-screenshot-1/Colors-should-match-screenshot.png
  __snapshots__/foundations/chromium/Fonts-should-match-screenshot-1/Fonts-should-match-screenshot.png
  __snapshots__/foundations/chromium/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  __snapshots__/foundations/firefox/Colors-should-match-screenshot-1/Colors-should-match-screenshot.png
  __snapshots__/foundations/firefox/Fonts-should-match-screenshot-1/Fonts-should-match-screenshot.png
  __snapshots__/foundations/firefox/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  __snapshots__/foundations/webkit/Colors-should-match-screenshot-1/Colors-should-match-screenshot.png
  __snapshots__/foundations/webkit/Fonts-should-match-screenshot-1/Fonts-should-match-screenshot.png
  __snapshots__/foundations/webkit/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  e2e/docker-compose.foundations.yml
  e2e/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/icons.html
  packages/components/src/styles/db-ui-42-absolute.scss
  packages/foundations/index.html
  packages/foundations/package.json
  packages/foundations/scss/_absolute.assets-paths.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/db-ui-foundations-absolute.scss
  packages/foundations/scss/db-ui-foundations-rollup.scss
  packages/foundations/scss/db-ui-foundations-webpack.scss
  packages/foundations/scss/icons/include-absolute.scss
  packages/foundations/scss/icons/include-rollup.scss
  packages/foundations/scss/icons/include-webpack.scss
  packages/foundations/scss/icons/include.scss
  packages/foundations/src/colors.html
  packages/foundations/src/fonts.html
  packages/foundations/src/icons.html
  packages/foundations/test/colors.spec.mjs
  packages/foundations/test/fonts.spec.mjs
  packages/foundations/test/icons.spec.mjs
  packages/foundations/test/playwright.config.mjs
  packages/foundations/vite.config.js
Labels: 🚢📀cicd, 🏗foundations, 🏘components

#2278 docs(other design systems): added new entry
  docs/research-other-design-systems.md
  docs/scripts/component-research/design-systems.js
Labels: 📕documentation

#2284 fix: typo for pipeline
  .github/workflows/release.yml
Labels: 🚢📀cicd

#2289 refactor: pin `dependencies`
  package-lock.json
  packages/foundations/package.json
Labels: 🍄🆙improvement, 🏗foundations, 🤫dependencies

#2024 chore: tidy-up scripts
  .github/workflows/01-build-showcases.yml
  .github/workflows/02-e2e-showcases.yml
  .husky/pre-commit
  e2e/README.md
  e2e/package.json
  package.json
  scripts/package.json
  scripts/start.js
  showcases/patternhub/package.json
Labels: 📕documentation, 🚢📀cicd, 📺showcases

#2338 fix: issue with defaultValue for input floating label
  showcases/react-showcase/src/components/input/index.tsx
Labels: 📺showcases

#2341 fix: minor issue with playwright version
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  package.json
  packages/components/_templates/mitosis/new/showcases/angular-showcase-component.ejs.t
  scripts/package.json
Labels: 🚢📀cicd, 🏘components

#2343 docs: removed component list to reduce maintenance
  README.md
Labels: 📕documentation

#1693 refactor: `pattern hub` is not able to process a whitespace in a variants `name`
  showcases/shared/card.json
Labels: 🍄🆙improvement, 📺showcases

#2351 fix: issue with generating uuid for every fragment
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
Labels: 🏘components, 📺showcases

#2340 docs: adjust naming
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-chrome/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-safari/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  e2e/package-lock.json
  packages/foundations/assets/icons/illustrative/travel/db_ic_il_bear.svg
  showcases/shared/accordion-item.json
  showcases/shared/badge.json
  showcases/shared/checkbox.json
  showcases/shared/infotext.json
  showcases/shared/link.json
  showcases/shared/navigation-item.json
Labels: 🏗foundations, 📺showcases

#764 docs: ✏️ added general getting started files
  output/angular/README.md
  output/vue/vue3/README.md
  packages/components/README.md
  packages/components/docs/getting-started.md
Labels: 📕documentation, 🏘components

#2331 fix: minor issues with sub-navigation
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/foundations/scss/_screen-sizes.scss
Labels: 🏗foundations, 🏘components

#1625 docs: adding further inspirational content
  docs/research/README.md
  docs/scripts/component-research/design-systems.js
Labels: 📕documentation, 🍄🆙improvement

#2360 chore(docs): removed obsolete part
  packages/components/docs/getting-started.md
Labels: 📕documentation, 🍄🆙improvement, 🏘components

#1963 docs(tag): separate radio groups contain the same `name` for inputs
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: 🐛bug, 📺showcases

#2361 fix: issue with accordion with single behaviour
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
Labels: 🏘components

#2362 fix: wrong focus outline offset
  packages/foundations/scss/colors/_variants.scss
Labels: 🏗foundations

#2363 docs: hide icon and page from patternhub
  showcases/patternhub/data/routes.ts
Labels: 📺showcases

#2372 refactor: added missing title
  showcases/patternhub/pages/_document.tsx
Labels: 🐛bug, 📺showcases

#2374 chore: update cache action for workflows
  .github/actions/npm-cache/action.yml
Labels: 🚢📀cicd

#2373 chore: add new workflow to regenerate snapshots on failure
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/default.yml
Labels: 🚢📀cicd

#2259 fix: issue with aria-current for navigation-items and sub-navigation
  packages/components/src/components/main-navigation/docs/Angular.md
  packages/components/src/components/main-navigation/docs/Vue.md
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/nav-item/nav-item.component.html
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/vue-showcase/src/NavItemComponent.vue
Labels: 📕documentation, 🏘components, 📺showcases

#2390 refactor: change badge default size
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/firefox/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  showcases/shared/badge.json
Labels: 🏘components, 📺showcases
