Repository db-ux-design-system/core-web, pull requests merged in 2024-07, with the labels that each got.

#2812 fix: some components do not have a default font size
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/styles/_form-components.scss
Labels: 🐛bug, 🏘components, 🎨(s)css

#2713 docs: improve font sizes
  .eslintignore
  .xo-config.cjs
  package-lock.json
  packages/foundations/docs/FontsSizes.md
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Labels: 📕documentation, 🏗foundations, 📺showcases

#2828 fix: issue with popover visibility, replaced with display:none
  packages/components/src/styles/_popover-component.scss
Labels: 🏘components

#2837 refactor: update actions/github-script to the latest version
  .github/actions/extract-branch/action.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#2838 fix: dev script after inquirer update
  package-lock.json
  package.json
  scripts/dev.js
  scripts/dev.ts
  scripts/package.json
Labels: 🐛bug

#2839 fix: issue with patternhub test not using first headline
  showcases/patternhub/tests/default.spec.ts
Labels: 📺showcases

#2662 feat: enable link for notification variant=overlay
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.scss
  showcases/shared/notification.json
Labels: 🏘components, 📺showcases

#2827 fix: issue with open popover and focus-within
  packages/components/src/components/popover/popover.scss
Labels: 🏘components

#2842 fix(ci/cd): missing declarations
  .github/workflows/release.yml
Labels: 🐛bug, 🚢📀cicd

#2847 fix: issue with patternhub release build
  .github/workflows/release.yml
Labels: 🚢📀cicd

#2840 chore: remove current-color and current-bg-color for color update
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/dialog-init.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/helpers/_divider.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/helpers/_index.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/init/default-root.scss
  packages/foundations/tailwind/tailwind-tokens.json
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/highlight.scss
Labels: 🏗foundations, 🏘components, 📺showcases

#2848 chore: removed leftovers
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
Labels: 🍄🆙improvement, 🏘components

#2849 chore: code simplifications
  packages/components/src/components/tabs/tabs.lite.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vanilla-showcase/src/app-shell.js
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#2599 Fix a11y form component ids
  .xo-config.cjs
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/react.ts
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.html
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.html
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.html
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.html
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/react-showcase/src/components/form/checkbox.tsx
  showcases/react-showcase/src/components/form/form-wrapper.tsx
  showcases/react-showcase/src/components/form/input.tsx
  showcases/react-showcase/src/components/form/select.tsx
  showcases/react-showcase/src/components/form/textarea.tsx
  showcases/react-showcase/src/components/home/index.tsx
  showcases/react-showcase/src/components/select/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/select.json
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
  showcases/vue-showcase/src/components/form/Checkboxes.vue
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/FormWrapper.vue
  showcases/vue-showcase/src/components/form/Inputs.vue
  showcases/vue-showcase/src/components/form/Selects.vue
  showcases/vue-showcase/src/components/form/Textareas.vue
  showcases/vue-showcase/src/components/home/Home.vue
  showcases/vue-showcase/src/components/select/Select.vue
  showcases/vue-showcase/src/components/textarea/Textarea.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: 🏘components, 📺showcases, 👂accessibility

#2652 test: add accessibility-checker for additional tests
  .github/workflows/02-e2e-showcases.yml
  .gitignore
  .jscpd.json
  package-lock.json
  package.json
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/e2e/default.ts
  showcases/e2e/input/showcase-input.spec.ts
  showcases/e2e/link/showcase-link.spec.ts
  showcases/e2e/select/showcase-select.spec.ts
  showcases/e2e/switch/showcase-switch.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
  showcases/e2e/tabs/showcase-tabs.spec.ts
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/radio.json
  showcases/shared/tag.json
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Labels: 🚢📀cicd, 🏘components, 📺showcases, 👂accessibility

#2663 fix: option "key" for datalist option inside input
  __snapshots__/input/showcase/chromium/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Labels: 🏘components, 📺showcases

#2686 fix: tag wasn't able to use default html-tags like `button`, `a`, `input`
  __snapshots__/tag/showcase/chromium/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.ts
  showcases/patternhub/scripts/utils.js
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/header.json
  showcases/shared/notification.json
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Labels: 🏘components, 📺showcases

#2875 fix: remove global link style from DBCard
  packages/components/src/components/card/card.scss
Labels: 🏘components

#2878 fix: issue with hidden label for input datalist icon
  packages/components/src/components/input/input.scss
Labels: 🏘components

#2647 feat: enable color contrast and fix issues with components
  .xo-config.cjs
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-properties-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/button/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBButton-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/card/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCard-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  __snapshots__/divider/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDivider-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBPopover-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/section/patternhub/section-properties-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSection-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-overview-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabs-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/scss/helpers/_divider.scss
  showcases/e2e/default.ts
  showcases/playwright.config.ts
Labels: 🏗foundations, 🏘components, 📺showcases, 👂accessibility

#2894 fix: static tag color to align with design
  packages/components/src/styles/_tag-components.scss
Labels: 🏘components

#2895 fix: pipeline speed by skipping firefox test
  showcases/e2e/default.ts
Labels: 📺showcases

#2877 refactor: optimized selectors
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_scrollbar.scss
  packages/components/src/styles/_tag-components.scss
Labels: 🍄🆙improvement, 🏘components

#2556 test: add guidepup as screen-reader automation
  .github/actions/npm-cache/action.yml
  .github/actions/playwright-cache/action.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .gitignore
  .jscpd.json
  .prettierignore
  output/react/package.json
  package-lock.json
  package.json
  packages/foundations/scss/helpers/_divider.scss
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
  showcases/playwright.screen-reader.macos.ts
  showcases/playwright.screen-reader.ts
  showcases/playwright.screen-reader.windows.ts
  showcases/playwright.showcase.ts
  showcases/react-showcase/package.json
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
  showcases/screen-reader/tsconfig.json
Labels: 📕documentation, 🚢📀cicd, 🏗foundations, 📺showcases, 👂accessibility

#2555 fix: issue with autofocus for drawer
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBDrawer-should-autofocus.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-should-autofocus.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Labels: 🏘components, 📺showcases, 👂accessibility

#2922 fix: issue with wrong snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-should-autofocus.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/drawer.spec.ts
Labels: 🐛bug, 📺showcases

#2910 chore: config `.lintstagedrc.js` optimization
  .lintstagedrc.js
Labels: 🍄🆙improvement

#2911 refactor: Update `CODE-OF-CONDUCT.md`
  CODE-OF-CONDUCT.md
Labels: 📕documentation, 🍄🆙improvement

#2914 refactor: moved some config files
  .config/.commitlintrc.json
  .config/.jscpd.json
  .config/.lintstagedrc.js
  .config/.markdown-lint.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
Labels: 🍄🆙improvement

#2936 fix: adds optional codeFileName field to components example data
  showcases/react-showcase/src/components/data.ts
  showcases/shared/default-component-data.ts
  showcases/shared/notification.json
Labels: 🐛bug, 📺showcases
