Repository db-ux-design-system/core-web, pull requests merged in 2024-01, with the labels that each got.

#2013 refactor: upgrade angular version
  output/angular/package.json
  output/angular/tsconfig.json
  package-lock.json
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/tsconfig.json
Labels: 🍄🆙improvement, 🤫dependencies

#1826 refactor: update to Node 20
  .github/actions/npm-cache/action.yml
  .nvmrc
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  e2e/package-lock.json
  package-lock.json
  showcases/patternhub/.gitignore
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/package.json
  showcases/patternhub/scripts/esbuild-generate.mjs
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/tsconfig.json
  showcases/shared/tag.json
Labels: 🍄🆙improvement

#2044 refactor: `playwright` update
  .github/dependabot.yml
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-update-playwright.yml
  .github/workflows/pull-request.yml
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  scripts/update-playwright.js
Labels: 🤫dependencies

#2046 refactor: upgraded typescript version
  e2e/package-lock.json
  e2e/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
Labels: 🍄🆙improvement, 🤫dependencies

#2070 fix: issue with same name upload artifact for gh action
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: 🐛bug

#2073 fix: issue with new labeler version
  .github/labeler.yml
Labels: 🚢📀cicd

#2077 docs: update inspirational websites
  docs/research-other-design-systems.md
  docs/scripts/component-research/design-systems.js
Labels: 📕documentation

#2110 fix(docs): corrected URL
  docs/research/tabs.md
Labels: 🐛bug, 📕documentation

#2114 docs(@db-ui/ngx-components): change term to content projection instead of slot
  packages/components/src/components/accordion-item/docs/Angular.md
  showcases/angular-showcase/src/app/components/default.component.html
Labels: 📕documentation, 🍄🆙improvement

#1719 docs: updated design systems research
  docs/research-other-design-systems.md
Labels: 📕documentation

#2122 fix:
  .github/workflows/02-e2e-showcases.yml
Labels: 🐛bug, 🚢📀cicd

#2101 docs: added further inspirational websites
  docs/research-other-design-systems.md
  docs/scripts/component-research/design-systems.js
Labels: 📕documentation

#2125 fix(rollup): corrected selector nesting
  packages/components/src/components/header/header.scss
Labels: 🐛bug, 🏘components, feedback

#2135 feat(components): ensure that the assets are packaged as well
  packages/components/package.json
Labels: 🍄🆙improvement, 🏘components

#2100 refactor: added another entry to angular group
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🤫dependencies

#2151 fix: issue with update-playwright.js
  .github/scripts/update-playwright.js
Labels: 🚢📀cicd

#2111 refactor: added further dependabot groups
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🤫dependencies

#2150 fix: actions/upload-artifact naming convention
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Labels: 🐛bug, 🚢📀cicd

#2156 refactor: updated playwright
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
Labels: 🍄🆙improvement, 🚢📀cicd, 🤫dependencies

#2086 refactor: removed one of the colors
  packages/foundations/scss/_init.scss
Labels: 🍄🆙improvement, 🏗foundations
