Repository db-ux-design-system/core-web, pull requests merged in 2024-04, with the labels that each got.

#2404 fix: issue with exporting angular directives
  packages/components/scripts/post-build/angular.js
  packages/components/src/index.ts
Labels: 🏘components

#2407 fix: adds types to exports in package.json
  output/vue/vue3/package.json
Labels: 🐛bug, 👾SSR

#2414 docs: add information for angular output hash issue
  output/angular/README.md
  packages/components/src/components/header/docs/Angular.md
Labels: 📕documentation, 🏘components

#2379 feat: new popover
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/chromium/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-should-match-screenshot.png
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/copy-files.js
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/popover/docs/HTML.md
  packages/components/src/components/popover/docs/React.md
  packages/components/src/components/popover/docs/Vue.md
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/db-ui-components.scss
  packages/components/src/utils/index.ts
  packages/components/test/playwright/boilerplate/index.html
  packages/foundations/scss/_init.scss
  packages/foundations/scss/animation/_animations.scss
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/shared/popover.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/popover/Popover.vue
Labels: 📕documentation, 🏗foundations, 🏘components, 📺showcases

#2394 Feat accordion design changes
  __snapshots__/accordion-item/component/chromium/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/component/firefox/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/component/mobile-chrome/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-chrome/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-safari/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/component/chromium/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/component/firefox/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/component/mobile-chrome/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/model.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/shared/accordion.json
  showcases/vue-showcase/src/components/accordion/Accordion.vue
Labels: 🏘components, 📺showcases

#2416 fix(docs): height calculation for embedded documentation within Marketingportal
  showcases/patternhub/styles/globals.scss
Labels: 🐛bug, 📺showcases

#2466 chore: next feedback
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/_document.tsx
Labels: 🐛bug, 📺showcases

#2473 fix: issue with wrong popover distance
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  packages/components/src/styles/_popover-component.scss
Labels: 🏘components

#2432 Feat tabs design changes
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/tab-list/model.ts
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/tab/tab.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tab/index.tsx
  showcases/vue-showcase/src/components/tab/Tab.vue
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#2487 fix: links with foundation readme
  packages/foundations/README.md
Labels: 📕documentation, 🏗foundations

#2486 fix: issue with properties page for patternhub
  showcases/patternhub/components/default-page.tsx
Labels: 📺showcases

#2485 fix: issue with wrong tooltip distance
  packages/components/src/styles/_popover-component.scss
Labels: 🏘components

#2482 Docs merge accordion and accordion item docs
  packages/components/src/components/accordion/docs/Angular.md
  packages/components/src/components/accordion/docs/React.md
  packages/components/src/components/accordion/docs/Vue.md
  showcases/patternhub/components/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/shared/default-component-data.ts
Labels: 📕documentation, 🏘components, 📺showcases

#2490 fix(logo): corrected duplicated files contents
  showcases/angular-showcase/src/assets/images/db_logo.svg
  showcases/patternhub/public/images/db_logo.svg
  showcases/react-showcase/public/assets/images/db_logo.svg
  showcases/vue-showcase/public/assets/images/db_logo.svg
Labels: 🐛bug, 📺showcases

#2342 chore: prepare patternhub to use static assets provided by react sc
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/package.json
  showcases/patternhub/public/assets/images/db_logo.svg
  showcases/patternhub/public/site.webmanifest
  showcases/patternhub/scripts/fix-base-path.js
Labels: 📺showcases

#2483 docs: update `properties.mdx` for icons
  packages/components/src/shared/model.ts
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
Labels: 🏘components, 📺showcases

#2337 fix: wrong/missing react attributes
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.html
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
  showcases/vue-showcase/src/components/accordion/Accordion.vue
Labels: 🏘components, 📺showcases

#2484 docs: update overview for checkbox and radio
  showcases/shared/checkbox.json
  showcases/shared/radio.json
Labels: 📺showcases

#2344 feat: add auto close to nav-item inside header and main-navigation
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/navigation.ts
Labels: 🏘components

#2496 fix: issue with `user-valid` for form-components
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/styles/_form-components.scss
Labels: 🏘components

#2498 docs: removed custom events from Readmes
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
Labels: 📕documentation, 🏘components

#2517 docs: missing value to set openDrawer ref
  packages/components/src/components/drawer/docs/Vue.md
Labels: 📕documentation, 🏘components, vue

#2519 docs: vue navigation-item wraps each router-link
  packages/components/src/components/navigation/docs/Vue.md
Labels: 📕documentation, 🏘components, vue

#2500 docs: merges navigation and navigation item overview within patternhub
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
Labels: 📺showcases

#2501 fix: changes border radius to sm
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.scss
Labels: 🐛bug, 🏘components

#2518 feat: add typescript support for vue
  output/vue/package.json
  output/vue/scripts/fix-any-types.js
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/utils/index.js
  packages/components/src/index.ts
Labels: 🏘components

#2520 fix: issue with copy-button in patternhub
  showcases/patternhub/styles/globals.scss
Labels: 📺showcases

#2528 refactor(dependabot): optimized mitosis selector
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#2531 fix: removes local sources for font faces
  packages/foundations/scss/_font-faces.scss
Labels: 🐛bug, 🏗foundations

#2533 fix: adds show pulse to navigation item on root level
  packages/components/src/components/navigation/navigation.scss
Labels: 🐛bug, 🏘components

#2538 fix: issue with copy button using wrong icon
  showcases/patternhub/scripts/get-code-files.js
Labels: 📺showcases

#283 docs: add ADRs for technical decisions
  docs/adr-04-icons.md
  docs/adr-xx-Template.md
  docs/adr/adr-01-framework.md
  docs/adr/adr-02-monorepo.md
  docs/adr/adr-03-dependency-automation.md
  docs/adr/adr-xx-Template.md
Labels: 📕documentation

#2541 docs: add `onClose` change to beta migration file
  docs/migration/alpha-beta.md
Labels: 📕documentation

#2543 chore: remove obsolete `update-prs.yml` workflow
  .github/scripts/update-prs.js
  .github/workflows/update-prs.yml
Labels: 🚢📀cicd

#2539 chore: align playwright version via `package.json`
  .github/scripts/get-playwright-version.js
  .github/scripts/update-playwright.js
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/99-update-playwright.yml
  .github/workflows/default.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  e2e/Dockerfile
  e2e/README.md
  e2e/package-lock.json
  package-lock.json
  package.json
  scripts/rebuild-e2e.js
  showcases/patternhub/package.json
Labels: 📕documentation, 🚢📀cicd, 📺showcases

#2025 chore: optimize `normalize` dependencies usage
  .gitignore
  .stylelintignore
  package-lock.json
  packages/foundations/package.json
  packages/foundations/scss/db-ui-foundations.scss
Labels: 🏗foundations

#2566 refactor: optimized for meaningful description
  showcases/patternhub/scripts/get-code-files.js
Labels: 🍄🆙improvement, 📺showcases

#2569 fix: local `dev` script is constantly going round in circles
  packages/foundations/nodemon.json
  packages/foundations/package.json
Labels: 🐛bug, 🏗foundations

#2550 feat: add invisible variant for drawer
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/patternhub/styles/globals.scss
  showcases/shared/drawer.json
Labels: 🏘components, 📺showcases

#2559 fix: issue with message ids for react
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: 🏘components

#2586 chore(docs): alpha to beta leftover
  README.md
Labels: 📕documentation, 🍄🆙improvement

#2596 fix: issue with drawer closing on every key
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/shared/model.ts
Labels: 🏘components

#2598 fix: issue with drawer closing on every key
  packages/components/src/components/drawer/drawer.lite.tsx
Labels: 🏘components

#2597 docs: change wrong icon for night/day
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Labels: 📺showcases

#2560 Feat navigation add save triangle pattern
  docs/migration/alpha-beta.md
  packages/components/package.json
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/navigation-item/docs/Angular.md
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/utils/index.ts
  packages/components/src/utils/navigation.ts
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
Labels: 📕documentation, 🍄🆙improvement, 🏘components, 📺showcases

#2296 feat: add switch component
  __snapshots__/switch/component/chromium/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/firefox/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/mobile-chrome/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium/regular/neutral/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/regular/neutral/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-safari/regular/neutral/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/webkit/regular/neutral/DBSwitch-should-match-screenshot.png
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/index.html
  packages/components/scripts/post-build/components.js
  packages/components/src/README.md
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/header/header-web-component.scss
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/switch/docs/Angular.md
  packages/components/src/components/switch/docs/HTML.md
  packages/components/src/components/switch/docs/Migration.md
  packages/components/src/components/switch/docs/React.md
  packages/components/src/components/switch/docs/Vue.md
  packages/components/src/components/switch/index.html
  packages/components/src/components/switch/index.ts
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch-web-component.scss
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/switch/switch.spec.tsx
  packages/components/src/index.ts
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_scrollbar.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/_focus.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_screen-sizes.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/classes/_get-class.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  showcases/angular-showcase/src/app/components/switch/switch.component.html
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/switch/showcase-switch.spec.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/switch.json
  showcases/vue-showcase/src/components/switch/Switch.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Labels: 📕documentation, 🏗foundations, 🏘components, 📺showcases
