Repository db-ux-design-system/core-web, pull requests merged in 2024-08, with the labels that each got.

#2949 fix: multiple styling issues with DBHeader
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/styles/_component.scss
  packages/foundations/scss/default-theme.scss
Labels: 🏗foundations, 🏘components

#2955 fix: issue with GitHub release workflow
  .github/workflows/release.yml
Labels: 🚢📀cicd

#2966 fix: docs URL
  showcases/patternhub/scripts/get-code-files.js
Labels: 🐛bug, 📕documentation, 📺showcases

#2965 refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#2977 fix: issue with wrong height for tag
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox.png
  packages/components/src/components/tag/tag.scss
Labels: 🏘components

#2971 fix: `plain html` doesn't start any more
  scripts/dev.ts
Labels: 🐛bug

#2979 docs: change size of show code to increase readability
  showcases/patternhub/styles/globals.scss
Labels: 📺showcases

#2983 docs: add testing table for patternhub
  package-lock.json
  showcases/e2e/tooltip/showcase-tooltip.spec.ts
  showcases/patternhub/.gitignore
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
Labels: 📺showcases

#2998 docs: align color docs to color update
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/classes/_get-class.scss
  showcases/patternhub/components/foundations/colors/data.ts
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/colors/color-classes.tsx
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
Labels: 📕documentation, 🏗foundations, 📺showcases

#3002 fix: issue with nested tailwind tokens not working for fontsize
  packages/foundations/tailwind/tailwind-tokens.json
Labels: 🏗foundations

#2995 chore(docs): added brackets
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Labels: 🍄🆙improvement, 📺showcases

#3003 feat: adds text-wrap balance to headlines h1 - h6
  packages/foundations/scss/init/default-fonts.scss
Labels: 🍄🆙improvement, 🏗foundations, 🎨(s)css

#3019 refactor(jscpd config): sorting ignore entries
  .config/.jscpd.json
Labels: 🍄🆙improvement

#3009 refactor(guidepup): simplification
  showcases/screen-reader/default.ts
Labels: 🍄🆙improvement, 📺showcases, 🧪test

#3020 chore: update testing table for patternhub with accessibility review
  docs/how-to-develop-a-component.md
  showcases/patternhub/components/accessibility-review-info/accessibility-review-info.tsx
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
  showcases/shared/_accessibility-review.json
Labels: 📕documentation, 📺showcases

#3024 fix: issue with select option for windows
  packages/components/src/components/select/select.scss
Labels: 🏘components

#3006 test(guidepup): badge
  showcases/screen-reader/__snapshots__/macos/webkit/DBBadge-should-have-texts-inline-or-as-data-label-attributes-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBadge-should-have-texts-inline-or-as-data-label-attributes-next-.txt
  showcases/screen-reader/tests/badge.spec.ts
Labels: 📺showcases, 🧪test

#3025 refactor(docs): wording
  docs/how-to-develop-a-component.md
  showcases/patternhub/pages/foundations/test-table/index.tsx
Labels: 📕documentation, 🍄🆙improvement, 📺showcases

#3028 fix: wrong variables for radio, checkbox and switch
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_form-components.scss
Labels: 🏘components

#3030 fix: issue with long snapshot names for screenreader tests
  showcases/playwright.screen-reader.macos.ts
  showcases/playwright.screen-reader.windows.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBBadge-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBDrawer-autofocus-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-next-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBadge-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-next-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-tab-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-autofocus-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-tab-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-next-1.txt
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/badge.spec.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Labels: 📺showcases

#3029 chore(docs): clarification
  packages/components/README.md
  packages/foundations/README.md
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations, 🏘components

#3036 fix(showcases): ensure a minimum of words in alternative texts
  showcases/angular-showcase/src/app/components/brand/brand.component.html
  showcases/angular-showcase/src/app/components/notification/notification.component.html
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/vue-showcase/src/components/brand/Brand.vue
  showcases/vue-showcase/src/components/notification/Notification.vue
Labels: 🍄🆙improvement, 📺showcases

#3031 docs: add correct show code for navigation
  showcases/shared/navigation-item.json
  showcases/shared/navigation.json
Labels: 📺showcases

#3007 test(guidepup): brand
  showcases/screen-reader/__snapshots__/.editorconfig
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/brand.spec.ts
Labels: 📺showcases, 🧪test

#3032 fix: issue with divider not visible in flex layout
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/divider/model.ts
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
Labels: 🏘components, 📺showcases

#3017 docs: add research for multiselect
  docs/research/multi-select.md
  docs/scripts/component-research/design-systems.js
Labels: 📕documentation

#3034 feat: enable styling for simple input type=file
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  showcases/shared/input.json
Labels: 🏘components, 📺showcases

#3040 docs: add migration guide
  README.md
Labels: 📕documentation

#2906 test: write test for required inputs to read messages
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/visually-hidden.scss
  packages/components/src/utils/index.ts
  packages/foundations/scss/helpers/_a11y.scss
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/translations.ts
Labels: 🏗foundations, 🏘components, 📺showcases

#3010 test(guidepup): popover
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBPopover-opened-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBPopover-opened-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/popover.spec.ts
Labels: 🍄🆙improvement, 🏘components, 📺showcases, 🧪test

#3052 fix: issue with version switcher with pathname resolved as slug
  showcases/patternhub/.env
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Labels: 📺showcases

#3050 fix: align prop "spacing" via scss mixin
  __snapshots__/card/showcase/chromium-highContrast/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/chromium/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/firefox/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/mobile-chrome/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/mobile-safari/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/webkit/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  packages/components/src/components/card/card.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/section/section.scss
  packages/components/src/styles/_component.scss
  showcases/shared/card.json
  showcases/shared/popover.json
  showcases/shared/section.json
Labels: 🏘components, 📺showcases

#3064 refactor: simplification
  packages/foundations/scss/icons/_icon-helpers.scss
Labels: 🍄🆙improvement, 🏗foundations

#3065 refactor: overwrite star for screenreader output
  packages/components/src/styles/_form-components.scss
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
Labels: 🍄🆙improvement, 🏘components, 📺showcases

#3047 test: adds guidepup test for icon
  showcases/screen-reader/__snapshots__/macos/webkit/DBIcon-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBIcon-default-1.txt
  showcases/screen-reader/tests/icon.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3051 test(playwright): update & only regenerate snapshots in pipeline
  packages/components/_templates/mitosis/new/showcases/e2e-a11y-test.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-snapshot-test.ejs.t
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion-item/accordion-item-snapshot.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
  showcases/e2e/accordion/accordion-snapshot.spec.ts
  showcases/e2e/badge/badge-a11y.spec.ts
  showcases/e2e/badge/badge-snapshot.spec.ts
  showcases/e2e/brand/brand-a11y.spec.ts
  showcases/e2e/brand/brand-snapshot.spec.ts
  showcases/e2e/button/button-a11y.spec.ts
  showcases/e2e/button/button-snapshot.spec.ts
  showcases/e2e/card/card-a11y.spec.ts
  showcases/e2e/card/card-snapshot.spec.ts
  showcases/e2e/checkbox/checkbox-a11y.spec.ts
  showcases/e2e/checkbox/checkbox-snapshot.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/divider/divider-a11y.spec.ts
  showcases/e2e/divider/divider-snapshots.spec.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/drawer/drawer-snapshot.spec.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/header/header-snapshot.spec.ts
  showcases/e2e/icon/icon-a11y.spec.ts
  showcases/e2e/icon/icon-snapshot.spec.ts
  showcases/e2e/infotext/infotext-a11y.spec.ts
  showcases/e2e/infotext/infotext-snapshot.spec.ts
  showcases/e2e/input/input-a11y.spec.ts
  showcases/e2e/input/input-snapshot.spec.ts
  showcases/e2e/link/link-a11y.spec.ts
  showcases/e2e/link/link-snapshot.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation-item/navigation-item-snapshot.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/navigation/navigation-snapshot.spec.ts
  showcases/e2e/notification/notification-a11y.spec.ts
  showcases/e2e/notification/notification-snapshot.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/popover/popover-snapshot.spec.ts
  showcases/e2e/radio/radio-a11y.spec.ts
  showcases/e2e/radio/radio-snapshot.spec.ts
  showcases/e2e/section/section-a11y.spec.ts
  showcases/e2e/section/section-snapshot.spec.ts
  showcases/e2e/select/select-a11y.spec.ts
  showcases/e2e/select/select-snapshot.spec.ts
  showcases/e2e/switch/switch-a11y.spec.ts
  showcases/e2e/switch/switch-snapshot.spec.ts
  showcases/e2e/tab-item/tab-item-a11y.spec.ts
  showcases/e2e/tab-item/tab-item-snapshot.spec.ts
  showcases/e2e/tabs/tabs-a11y.spec.ts
  showcases/e2e/tabs/tabs-snapshot.spec.ts
  showcases/e2e/tag/tag-a11y.spec.ts
  showcases/e2e/tag/tag-snapshot.spec.ts
  showcases/e2e/textarea/textarea-a11y.spec.ts
  showcases/e2e/textarea/textarea-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-snapshot.spec.ts
  showcases/playwright.showcase-snapshots.ts
  showcases/react-showcase/package.json
Labels: 🏘components, 📺showcases

#3045 test: adds guidepup test for header
  showcases/screen-reader/__snapshots__/macos/webkit/DBHeader-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBHeader-default-1.txt
  showcases/screen-reader/tests/header.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3054 test: adds guidepup test for notification
  showcases/screen-reader/__snapshots__/macos/webkit/DBNotification-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBNotification-default-1.txt
  showcases/screen-reader/tests/notification.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3043 test: adds guidepup test for card
  showcases/screen-reader/__snapshots__/macos/webkit/DBCard-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCard-default-1.txt
  showcases/screen-reader/tests/card.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3077 docs: update drawer spacing "no spacing" to "none"
  __snapshots__/drawer/showcase/chromium-highContrast/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/firefox/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-safari/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  showcases/shared/drawer.json
Labels: 📺showcases

#3078 fix: patternhub testing table not resolving e2e test files
  showcases/patternhub/scripts/generate-test-table.js
Labels: 📺showcases

#3080 fix(safari): restored list-style type for VoiceOver screenreader
  packages/components/src/components/tab-item/tab-item.scss
  packages/foundations/scss/init/required.scss
  showcases/showcase-styles.css
Labels: 🐛bug, 🏗foundations, 🏘components, 📺showcases

#3082 test: adds guidepup test for section
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3103 test: adds guidepup tests for tag
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-behaviour-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behaviour-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-default-1.txt
  showcases/screen-reader/tests/tag.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test

#3094 docs: switch from classes to `data-density="*"`-attributes
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  packages/foundations/README.md
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/next-showcase/pages/_app.tsx
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/default-component.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/shared/badge.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/navigation-item.json
  showcases/shared/navigation.json
  showcases/shared/notification.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/select.json
  showcases/shared/switch.json
  showcases/shared/tab-item.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/textarea.json
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/DefaultComponent.vue
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations, 🏘components, 📺showcases

#3100 Test guidepup select
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSelect-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/select.spec.ts
Labels: 📺showcases, 👂accessibility, 🧪test
