Repository db-ux-design-system/core-web, pull requests merged in 2024-02, with the labels that each got.

#2168 fix: issue with react forward ref
  packages/components/scripts/post-build/react.js
Labels: 🏘components

#2175 chore: removed examples from patternhub
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-example-file.js
Labels: 📺showcases

#2176 fix: issues with playwright update
  .github/workflows/99-update-playwright.yml
Labels: 🚢📀cicd

#2181 chore: update playwright
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
Labels: 🚢📀cicd

#2183 docs(ngx-components): describe how to use with standalone components
  packages/components/_templates/mitosis/new/readmes/readme-angular.ejs.t
  packages/components/_templates/update-docs/new/readme-angular.ejs.t
  packages/components/src/components/accordion-item/docs/Angular.md
  packages/components/src/components/accordion/docs/Angular.md
  packages/components/src/components/alert/docs/Angular.md
  packages/components/src/components/badge/docs/Angular.md
  packages/components/src/components/brand/docs/Angular.md
  packages/components/src/components/button/docs/Angular.md
  packages/components/src/components/checkbox/docs/Angular.md
  packages/components/src/components/divider/docs/Angular.md
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/icon/docs/Angular.md
  packages/components/src/components/infotext/docs/Angular.md
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/main-navigation/docs/Angular.md
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/section/docs/Angular.md
  packages/components/src/components/select/docs/Angular.md
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/tooltip/docs/Angular.md
Labels: 📕documentation, 🍄🆙improvement

#1880 refactor(tag): enabled keyboard focusability again
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_icon-passing.scss
Labels: 🐛bug, 🏘components

#2113 refactor: fix nav item spacing
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/navigation-item/navigation-item.scss
Labels: 🏘components

#2205 fix: remove text-decoration for db-button to use <a> tag
  packages/components/src/components/button/button.scss
Labels: 🏘components

#2216 fix: issue for db-button hover and active states for other tags like <a>
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/firefox/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-outlined.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-text.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-outlined.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-text.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/component/firefox/DBTooltip-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/foundations/scss/colors/_variants.scss
Labels: 🏗foundations, 🏘components

#2224 refactor: added relevant VS Code setting for default linter
  .vscode/settings.json
Labels: 🍄🆙improvement

#2222 refactor(husky): replaced older solution
  package.json
Labels: 🍄🆙improvement

#2249 fix: missing disabled state for tab
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/angular-showcase/src/app/components/tab/tab.component.html
  showcases/react-showcase/src/components/tab/index.tsx
  showcases/shared/tab.json
  showcases/vue-showcase/src/components/tab/Tab.vue
Labels: 🏘components, 📺showcases

#2198 docs(react-components): add missing showcases for DBBrand, DBHeader and DBPage
  showcases/patternhub/components/data.ts
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/shared/brand.json
  showcases/shared/header.json
  showcases/shared/page.json
Labels: 📕documentation

#2189 fix: uuid for option keys
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Labels: 🏘components

#2011 feat: add anchor headings for patternhub
  package-lock.json
  packages/components/src/components/page/page.scss
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/link-header/index.tsx
  showcases/patternhub/components/static-content.tsx
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/styles/globals.scss
  showcases/showcase-styles.css
Labels: 🏘components, 📺showcases

#2271 fix: icon alignment for all [data-icon]
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/icon/icon.scss
  packages/foundations/scss/icons/include.scss
Labels: 🏗foundations, 🏘components

#2279 chore: update tabs overview
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  showcases/shared/tabs.json
Labels: 📺showcases
