Repository db-ux-design-system/core-web, pull requests merged in 2025-06, with the labels that each got.

#2912 fix(docs): contributions contents
  .gitattributes
  docs/conventions.md
Labels: 📕documentation, 🍄🆙improvement

#4321 refactor(test): auto-commit regenerated snapshots
  .github/workflows/00-init.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
  .github/workflows/default.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🪩🔥🕺coolTopic

#4378 fix(test): feature detection for IntersectionObserver
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
Labels: 🐛bug, 👩‍👧‍👦communityFeedback

#4386 fix(): add guard to ensure that elements are not null to prevent null…
  packages/components/src/utils/floating-components.spec.tsx
  packages/components/src/utils/floating-components.ts
Labels: 🐛bug, 🏝vue

#4406 feat: updated DB UX Theme
  package-lock.json
  package.json
Labels: 🍄🆙improvement

#4349 chore: converted declarations to dataset JS API
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/utils/floating-components.ts
Labels: 🍄🆙improvement

#4292 feat: self healing dependabot updates
  .github/actions/auto-commit/action.yml
  .github/actions/npm-cache/action.yml
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
  .github/workflows/99-self-healing-dependabot-updates.yml
  .github/workflows/pull-request.yml
  docs/research/table.md
  package.json
  packages/foundations/dev/icons.html
  packages/foundations/docs/BrowserSupport.md
Labels: 🍄🆙improvement, 🚢📀cicd, 🪩🔥🕺coolTopic

#4398 refactor: aligned figma and dev docs
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/firefox/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  showcases/shared/select.json
Labels: 🍄🆙improvement, 📺showcases

#3923 refactor: updating node to version 24
  .github/actions/npm-cache/action.yml
  .nvmrc
  showcases/e2e/default.ts
  showcases/playwright.config.ts
Labels: 🍄🆙improvement, 🚢📀cicd, 📺showcases
