Repository db-ux-design-system/core-web, pull requests merged in 2025-04, with the labels that each got.

#3976 refactor(popover): quick optimization regarding transition timings
  packages/components/src/styles/internal/_popover-component.scss
Labels: 🍄🆙improvement, 🏘components

#3940 fix: issues with boolean & numbers as strings for web-component frameworks (Stencil, Angular)
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-overview-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-overview-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-overview-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/model.ts
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/page/model.ts
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/stack/model.ts
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
Labels: 🏘components, 📺showcases, 🪩 🔥 🕺 cool topic

#3939 fix: issues with form controls not showing proper valid state
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_form-components.scss
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Labels: 🏘components, 📺showcases, 🪩 🔥 🕺 cool topic

#4021 docs: enhanced description for snapshot updates
  docs/development.md
Labels: 📕documentation

#4027 refactor: corrected attributes
  showcases/angular-showcase/src/app/components/form/form.component.html
Labels: 🍄🆙improvement, 📺showcases

#4026 refactor: removed obsolete attribute
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
Labels: 🍄🆙improvement, 📺showcases

#3977 chore: update angular
  output/angular/angular.json
  output/angular/ng-package.json
  output/angular/package.json
  package-lock.json
  package.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/angular-ssr-showcase/angular.json
  showcases/angular-ssr-showcase/package.json
  showcases/angular-ssr-showcase/server.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
  showcases/stencil-showcase/angular.json
  showcases/stencil-showcase/package.json
Labels: 🏘components, 📺showcases

#4012 feat: adapt placeholder for input, textarea and select
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium-highContrast/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/styles/internal/_component.scss
  packages/components/src/styles/internal/_form-components.scss
  showcases/react-showcase/src/components/select/index.tsx
Labels: 🏘components, 📺showcases

#3981 chore: add config comment for mitosis.configs
  .eslintrc.mjs
  packages/components/.eslintrc.cjs
  packages/components/.eslintrc.js
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/prompt.cjs
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/update-docs/new/prompt.cjs
  packages/components/configs/angular/mitosis.config.cjs
  packages/components/configs/mitosis.config.cjs
  packages/components/configs/react/index.cjs
  packages/components/configs/react/mitosis.config.cjs
  packages/components/configs/stencil/mitosis.config.cjs
  packages/components/configs/vue/index.cjs
  packages/components/configs/vue/mitosis.config.cjs
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.ts
  showcases/angular-showcase/src/app/components/brand/brand.component.ts
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/components/card/card.component.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/divider/divider.component.ts
  showcases/angular-showcase/src/app/components/drawer/drawer.component.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.html
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/radios/radios.component.html
  showcases/angular-showcase/src/app/components/form/radios/radios.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.html
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/components/icon/icon.component.ts
  showcases/angular-showcase/src/app/components/infotext/infotext.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/link/link.component.ts
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.ts
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/angular-showcase/src/app/components/notification/notification.component.ts
  showcases/angular-showcase/src/app/components/popover/popover.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/tab-item/tab-item.component.ts
  showcases/angular-showcase/src/app/components/tabs/tabs.component.ts
  showcases/angular-showcase/src/app/components/tag/tag.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.ts
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
Labels: 🏘components, 📺showcases

#3999 refactor(package.json): added packageManager field
  package.json
Labels: 🍄🆙improvement

#4011 feat: add min-inline-size to input, select and textarea
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/internal/_form-components.scss
Labels: 📕documentation, 🏗foundations, 🏘components, 📺showcases

#4025 feat: angular signals
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/input/patternhub/input-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-properties-should-match-screenshot.png
  docs/migration/v1.x.x-to-v2.0.0.md
  package-lock.json
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/configs/angular/index.cjs
  packages/components/package.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/migration/src/migration/v1.0.0-v2.0.0.ts
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
  showcases/patternhub/scripts/get-properties-file.js
Labels: 🅰angular, 🪩 🔥 🕺 cool topic

#4041 Feat: badge and tag color adaption
  __snapshots__/badge/patternhub/badge-overview-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/mobile-safari/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/webkit/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/patternhub/tag-overview-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  docs/migration/v1.x.x-to-v2.0.0.md
  packages/components/src/components/badge/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_tag-components.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/speaking-colors/additional/_blue.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_cyan.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_orange.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_pink.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_red.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_turquoise.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_violet.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_yellow.speaking-colors.scss
  packages/migration/src/migration/v1.0.0-v2.0.0.ts
  showcases/shared/badge.json
  showcases/shared/tag.json
Labels: 🏘components

#4030 fix: issue with tabs and accordion for react 19
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  package-lock.json
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/shared/model.ts
Labels: 🏘components

#4059 feat: enable text of navigation-item to break into multiple lines
  __snapshots__/navigation-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/firefox/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/webkit/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Labels: 🏘components, 📺showcases

#4063 fix: issues with font properties applying wrong font-weights
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-properties-should-match-screenshot.png
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-properties-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/input/patternhub/input-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/navigation/patternhub/navigation-properties-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/section/patternhub/section-properties-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  package-lock.json
  package.json
  packages/foundations/scss/defaults/_default-properties.scss
  packages/foundations/scss/defaults/default-fonts.scss
  packages/foundations/scss/defaults/default-required.scss
Labels: 🏗foundations

#4074 fix: markdown file URL references
  README.md
  showcases/patternhub/scripts/remark-transform-links.js
Labels: 📕documentation, 📺showcases

#4078 fix(DB Neo): removed local font references
  package-lock.json
  package.json
Labels: 🐛bug

#4079 refactor: prettier
  docs/migration/alpha-beta.md
  packages/components/src/components/tab-item/docs/Vue.md
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tab-list/docs/Vue.md
  packages/components/src/components/tab-panel/docs/Vue.md
  packages/components/src/components/tabs/docs/Vue.md
  packages/foundations/dev/icons.html
  packages/foundations/scss/colors/_variables.additional.scss
  packages/foundations/src/all-icons.ts
  packages/foundations/src/base-icon-types.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/vue-showcase/src/components/section/Section.vue
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations, 🏘components, 📺showcases

#4092 chore(docs): naming
  README.md
Labels: 📕documentation

#4094 refactor(icons): enabled Firefox lower version 128 support again
  packages/foundations/scss/icons/_icon-helpers.scss
Labels: 🍄🆙improvement, 🏗foundations

#4073 fix(migration): target syntax for Angular events
  packages/migration/src/migration/v1.0.0-v2.0.0.ts
Labels: 🐛bug, 👩‍👧‍👦community feedback

#4099 fix: also use wrap for navigation-items that are no buttons
  __snapshots__/navigation/component/chromium/DBNavigation-should-match-screenshot-for-device-mobile.png
  __snapshots__/navigation/component/chromium/DBNavigation-should-match-screenshot-for-device-tablet.png
  __snapshots__/navigation/component/firefox/DBNavigation-should-match-screenshot-for-device-mobile.png
  __snapshots__/navigation/component/firefox/DBNavigation-should-match-screenshot-for-device-tablet.png
  __snapshots__/navigation/component/mobile-chrome/DBNavigation-should-match-screenshot-for-device-mobile.png
  __snapshots__/navigation/component/mobile-chrome/DBNavigation-should-match-screenshot-for-device-tablet.png
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Labels: 🏘components, 📺showcases

#4107 fix: text-sizes in tailwind config
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/index.css
Labels: 🏗foundations, 👩‍👧‍👦community feedback

#4098 fix: sass mixed-decls deprecation
  packages/components/package.json
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/package.json
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Labels: 🏗foundations, 🏘components

#4126 chore: enable variables for Shadow DOM host as well
  packages/foundations/scss/colors/_default-color-mappings.scss
  packages/foundations/scss/defaults/_default-variables.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/default-root.scss
Labels: 📦 foundations

#4136 fix: issue with select for angular not using initial value
  packages/components/scripts/post-build/components.ts
Labels: 🐛 bug

#4137 chore: update foundation licence to Apache-2.0
  packages/foundations/package.json
Labels: 🍄🆙 improvement

#4146 refactor: necessary changes to package lock file
  package-lock.json
Labels: 🍄🆙 improvement
