Repository db-ux-design-system/core-web, pull requests merged in 2025-08, with the labels that each got.

#4661 refactor: npm audit fix
  package-lock.json
Labels: 🍄🆙improvement

#4674 fix: trufflehog
  .github/workflows/00-scan-secrets.yml
Labels: 🐛bug, 🚢📀cicd, 🍒 cherryPick

#4670 docs: added further aspects to browser support list
  packages/foundations/docs/BrowserSupport.md
Labels: 📕documentation

#4678 docs: added another browsersupports feature
  packages/foundations/docs/BrowserSupport.md
Labels: 📕documentation

#4679 docs: further browsersupport changes
  packages/foundations/docs/BrowserSupport.md
Labels: 📕documentation

#4683 docs: another browser version support update
  packages/foundations/docs/BrowserSupport.md
Labels: 📕documentation, 🍄🆙improvement

#4686 refactor(button): enabled the disabled styling
  packages/components/src/components/button/button.scss
Labels: 🍄🆙improvement

#4701 test: checking for false file references in our docs
  package.json
  scripts/check-docs.js
Labels: 🍄🆙improvement, 🧪test

#4713 refactor: we'd have to run build previous to checking the docs path
  scripts/package.json
Labels: 🐛bug

#4710 refactor(`pre-commit`): not running `jscpd` anymore
  .husky/pre-commit
Labels: 🍄🆙improvement

#4702 fix(docs): filenames
  docs/how-to-develop-a-component.md
  package.json
  packages/components/README.md
  packages/components/test/import-styles/simple-button/main.js
  packages/components/test/import-styles/simple-button/test.css
  packages/foundations/README.md
  packages/foundations/docs/Colors.md
  scripts/check-docs.js
  scripts/package.json
Labels: 🐛bug, 📕documentation, postReview

#4715 style(badge): added a `min-inline-size`
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
Labels: 🍄🆙improvement, 👩‍👧‍👦communityFeedback

#4740 refactor: regenerated screen- and snapshots
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
Labels: 🍄🆙improvement, 🧪test

#4741 fix(badge): dot styling
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
Labels: 🍄🆙improvement

#4747 chore: removed a leftover
  packages/components/src/components/select/select.lite.tsx
Labels: 🍄🆙improvement

#4751 refactor: we shouldn't output the name into the innerContent in general
  showcases/patternhub/scripts/utils.js
Labels: 🐛bug, 📺showcases, postReview

#4757 refactor: optimized `pre-push` script
  .husky/pre-push
Labels: 🍄🆙improvement, 🍒 cherryPick

#4761 fix(docs): not setting innercontent for composition components
  showcases/patternhub/scripts/utils.js
Labels: 🐛bug, 📺showcases

#4784 refactor: updated package-lock file
  package-lock.json
Labels: 🍄🆙improvement

#4792 fix: Keep burger menu visible when drawer has content
  packages/components/src/components/header/header.scss
Labels: 🐛bug, 👩‍👧‍👦communityFeedback

#4781 refactor: update eslint and configs
  .github/copilot-instructions.md
  .github/dependabot.yml
  package-lock.json
  package.json
  showcases/patternhub/package.json
Labels: 📕documentation, 🍄🆙improvement, 🚢📀cicd, 📺showcases, dependencies
