Repository db-ux-design-system/core-web, pull requests merged in 2025-07, with the labels that each got.

#4483 refactor: clarity
  e2e/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package.json
  packages/components/package.json
  scripts/dev.ts
  scripts/package.json
  showcases/stencil-showcase/package.json
Labels: 🍄🆙improvement, 📺showcases

#4497 chore: add guidepup setup retry
  .github/workflows/02-e2e-screen-reader.yml
Labels: 🚢📀cicd

#4500 chore: update lint-staged config
  .config/lint-staged-prettier.config.ts
  .config/lint-staged.config.ts
  .husky/pre-commit
Labels: 🍄🆙improvement, 🛠️configuration

#4501 chore: remove button state
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  showcases/react-showcase/src/components/button/index.tsx
Labels: 🍄🆙improvement, 👩‍👧‍👦communityFeedback, 🔥breakingChange

#4513 feat: add `multiple` property for `input[type=file]`
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Labels: 🍄🆙improvement, 👩‍👧‍👦communityFeedback

#4560 docs(`lint-staged`): added JSDoc config file
  .config/.lintstagedrc-prettier.js
  .config/.lintstagedrc.js
Labels: 🍄🆙improvement, 🛠️configuration

#4572 refactor: prettier added folders to ignore
  .prettierignore
Labels: 🍄🆙improvement

#4571 refactor(codestyle): pin some dev dependencies to ensure consistency
  package-lock.json
  package.json
Labels: 🍄🆙improvement

#4581 refactor: aligned lint fixing
  .config/.lintstagedrc.js
Labels: 🍄🆙improvement, 🛠️configuration

#4565 refactor: variables for transparent-hovered/-pressed
  README.md
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/README.md
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_scrollbar.scss
  packages/foundations/scss/colors/_default-color-mappings.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/speaking-colors/additional/_blue.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_burgundy.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_cyan.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_light-green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_orange.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_pink.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_red.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_turquoise.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_violet.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_yellow.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_brand.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_critical.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_informational.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_neutral.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_successful.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_warning.speaking-colors.scss
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/colors.css
  packages/migration/src/migration/v2.0.0-v3.0.0.ts
Labels: 🍄🆙improvement

#4568 refactor: renamed `data-hide-icon` to `data-show-icon` to match property
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium-highContrast/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/link/showcase/chromium-highContrast/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/firefox/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  docs/migration/v2.x.x-to-v3.0.0.md
  package-lock.json
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/custom-select/docs/HTML.md
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/components/src/styles/internal/_select-components.scss
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Labels: 🍄🆙improvement

#4587 refactor: pin all dependencies
  e2e/package.json
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  packages/stylelint/package.json
  scripts/package.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
Labels: 🍄🆙improvement

#4583 refactor: using long form of parameters for clarity
  .config/.lintstagedrc.js
  .github/actions/auto-commit/action.yml
  .github/actions/cancel-workflow/action.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/cleanup.yml
  CONTRIBUTING.md
  docs/development.md
  e2e/README.md
  output/react/package.json
  output/vue/package.json
  package.json
  packages/components/package.json
  packages/components/test/README.md
  packages/foundations/package.json
  scripts/package.json
  scripts/rebuild-e2e.js
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
Labels: 🍄🆙improvement

#4600 refactor(dependabot): only run one concurrent pipeline
  .github/workflows/default.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🍒 cherryPick

#4310 fix: mitosis update
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  package-lock.json
  packages/components/configs/angular/index.cjs
  packages/components/package.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Labels: 🍄🆙improvement

#4606 docs: generalized config set
  showcases/patternhub/scripts/generate-test-table.js
Labels: 🍄🆙improvement, 📺showcases

#4611 fix(DBCustomSelect): placeholder colliding with selected value
  packages/components/src/components/custom-select/custom-select.scss
Labels: 🐛bug, 👩‍👧‍👦communityFeedback

#4616 refactor: font generation to use execFile for security
  packages/foundations/assets/fonts/generate-eu-fonts.ts
Labels: 🍄🆙improvement

#4627 refactor: regenerated screenshots
  __snapshots__/accordion-item/showcase/webkit/DBAccordionItem-should-match-screenshot-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/DBAccordion-should-match-screenshot-1/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/DBAccordion-should-match-screenshot-1/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/webkit/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/DBButton-should-match-screenshot-1/DBButton-should-match-screenshot.png
  __snapshots__/card/showcase/webkit/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/icon/showcase/firefox/DBIcon-should-match-screenshot-1/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/webkit/DBIcon-should-match-screenshot-1/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/navigation/showcase/firefox/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/radio/showcase/webkit/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/switch/showcase/webkit/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-safari/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/webkit/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
Labels: 🍄🆙improvement, 🧪test

#4637 fix: annoying unformatted document on localhost
  packages/foundations/package.json
  packages/foundations/scripts/local/generate-icon-overview.ts
Labels: 🐛bug

#4632 chore: mark docs "package" as private
  docs/package.json
Labels: 🍄🆙improvement

#4630 feat: provide SASS sourcemaps
  packages/components/package.json
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Labels: 🍄🆙improvement

#4658 refactor(action): auto-commit resilience
  .github/actions/auto-commit/action.yml
Labels: 🍄🆙improvement, 🚢📀cicd
