Repository db-ux-design-system/core-web, pull requests merged in 2025-02, with the labels that each got.

#3769 docs: clarity
  docs/research/README.md
Labels: 📕documentation, 🍄🆙improvement

#3671 chore: replace mitosis generated vue output (options-api) with composition-api
  output/vue/package.json
  output/vue/scripts/fix-any-types.ts
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/configs/vue/index.js
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/react.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/docs/Vue.md
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation/navigation.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/docs/Vue.md
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/stack/stack.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tabs/index.html
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/docs/Vue.md
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/utils/form-components.ts
  packages/components/src/utils/navigation.ts
  showcases/vue-showcase/src/components/stack/Stack.vue
Labels: 📕documentation, 🏘components, 📺showcases

#3759 feat: changed import/exports of foundations and components to allow "exports" in `package.json`
  .config/.jscpd.json
  e2e/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/configs/angular/index.cjs
  packages/components/configs/angular/mitosis.config.cjs
  packages/components/configs/mitosis.config.cjs
  packages/components/configs/mitosis.config.js
  packages/components/configs/react/index.cjs
  packages/components/configs/react/mitosis.config.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/configs/stencil/mitosis.config.cjs
  packages/components/configs/vue/index.cjs
  packages/components/configs/vue/mitosis.config.cjs
  packages/components/package.json
  packages/components/postcss.config.cjs
  packages/components/scripts/post-build/copy-files.ts
  packages/components/src/shared/model.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/foundations/dev/colors.html
  packages/foundations/dev/fonts.html
  packages/foundations/dev/icons.html
  packages/foundations/index.html
  packages/foundations/package.json
  packages/foundations/scripts/local/generate-icon-font.ts
  packages/foundations/scripts/local/generate-icon-overview.ts
  packages/foundations/scripts/local/generate-icon-types.ts
  packages/foundations/scripts/public/all-icons.ts
  packages/foundations/scripts/public/icon-types.ts
  packages/foundations/scripts/public/index.ts
  packages/foundations/src/all-icons.ts
  packages/foundations/src/base-icon-types.ts
  packages/foundations/src/icon-types.ts
  packages/foundations/src/index.ts
  packages/foundations/test/colors.spec.js
  packages/foundations/test/fonts.spec.js
  packages/foundations/test/icons.spec.js
  packages/foundations/tsconfig.json
  scripts/tests/github/build-gh-page.spec.ts
Labels: 🏗foundations, 🏘components

#3775 refactor: prettification
  packages/components/src/components/tabs/index.html
Labels: 🍄🆙improvement, 🏘components

#3727 feat: add custom stylelint plugin
  .eslintignore
  .eslintrc.js
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-lint.yml
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/section/section.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/internal/_component.scss
  packages/components/src/styles/internal/_db-puls.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/components/src/styles/internal/_scrollbar.scss
  packages/components/src/styles/internal/_stack-components.scss
  packages/components/src/styles/internal/_tag-components.scss
  packages/foundations/scss/helpers/_divider.scss
  packages/stylelint/README.md
  packages/stylelint/package.json
  packages/stylelint/src/index.ts
  packages/stylelint/src/rules/use-border-color.ts
  packages/stylelint/src/rules/use-border-height.ts
  packages/stylelint/src/rules/use-border-radius.ts
  packages/stylelint/src/rules/use-spacings.ts
  packages/stylelint/src/shared/create-rule.ts
  packages/stylelint/src/shared/index.ts
  packages/stylelint/test/defaults.ts
  packages/stylelint/test/fixtures/ignore.css
  packages/stylelint/test/fixtures/test.scss
  packages/stylelint/test/fixtures/test.vue
  packages/stylelint/test/rules/use-border-color.spec.ts
  packages/stylelint/test/rules/use-border-height.spec.ts
  packages/stylelint/test/rules/use-border-radius.spec.ts
  packages/stylelint/test/rules/use-spacings.spec.ts
  packages/stylelint/tsconfig.json
  packages/stylelint/vitest.config.ts
  scripts/github/publish-npm.js
  scripts/package.json
  scripts/tests/github/build-gh-page.spec.ts
  showcases/patternhub/package.json
  showcases/patternhub/styles/globals.scss
Labels: 📕documentation, 🚢📀cicd, 🏗foundations, 🏘components, 📺showcases

#3751 chore: use mitosis attribute passing for angular and stencil
  packages/components/configs/angular/index.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/utils/index.ts
Labels: 🏘components

#3783 fix: issue with typescript props for vue
  package-lock.json
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Labels: 🏘components, 📺showcases

#3784 docs: update docs for icon autocomplete
  packages/foundations/docs/CustomIcons.md
  packages/foundations/docs/Icons.md
Labels: 📕documentation, 🏗foundations

#3770 refactor: align color scheme and container
  __snapshots__/accordion-item/showcase/mobile-chrome/DBAccordionItem-should-match-screenshot-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/DBAccordion-should-match-screenshot-1/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/DBButton-should-match-screenshot-1/DBButton-should-match-screenshot.png
  __snapshots__/card/showcase/mobile-chrome/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/DBInfotext-should-match-screenshot-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-chrome/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  docs/migration/v0.7.x-to-v1.0.0.md
  packages/foundations/docs/Colors.md
  packages/foundations/docs/IDESupport.md
  packages/foundations/ide/db.ide.css
  packages/foundations/scss/colors/classes/_get-class.scss
  packages/foundations/scss/colors/classes/all.scss
  packages/foundations/scss/colors/classes/blue.scss
  packages/foundations/scss/colors/classes/brand.scss
  packages/foundations/scss/colors/classes/critical.scss
  packages/foundations/scss/colors/classes/cyan.scss
  packages/foundations/scss/colors/classes/green.scss
  packages/foundations/scss/colors/classes/informational.scss
  packages/foundations/scss/colors/classes/neutral.scss
  packages/foundations/scss/colors/classes/orange.scss
  packages/foundations/scss/colors/classes/pink.scss
  packages/foundations/scss/colors/classes/red.scss
  packages/foundations/scss/colors/classes/successful.scss
  packages/foundations/scss/colors/classes/turquoise.scss
  packages/foundations/scss/colors/classes/violet.scss
  packages/foundations/scss/colors/classes/warning.scss
  packages/foundations/scss/colors/classes/yellow.scss
  packages/foundations/scss/defaults/default-theme.scss
  packages/migration/src/data.ts
  packages/migration/src/migration/index.ts
  packages/migration/src/migration/v0.0.7-v1.0.0.ts
  packages/migration/test/v0.0.7-v1.0.0/has-changes.txt
  packages/migration/test/v0.0.7-v1.0.0/no-change.txt
  packages/migration/test/v0.0.7-v1.0.0/v007_v100.spec.ts
  showcases/e2e/default.ts
  showcases/patternhub/components/foundations/colors/colors-grid/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/colors/color-classes.tsx
  showcases/patternhub/pages/foundations/colors/color-modes.tsx
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
  showcases/patternhub/styles/globals.scss
Labels: 📕documentation, 🏗foundations, 📺showcases

#3819 fix: issues for new sass versions
  .stylelintrc.json
  package-lock.json
  packages/components/package.json
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/package.json
  packages/foundations/scss/helpers/_functions.scss
  showcases/patternhub/package.json
Labels: 🏗foundations, 🏘components, 📺showcases

#3825 fix: z-index for popover and tooltip to appear above other elements
  packages/components/src/styles/internal/_popover-component.scss
  scripts/package.json
  showcases/react-showcase/src/components/form/index.tsx
Labels: 🏘components, 📺showcases

#3829 fix: icon overview for patternhub
  showcases/patternhub/pages/foundations/icons/overview.tsx
Labels: 📺showcases

#3830 fix: issue with angular input type=date resetting by using "0"
  packages/components/scripts/post-build/components.ts
Labels: 🏘components

#3835 docs: update README.md with migration links
  README.md
Labels: 📕documentation

#3834 docs: include aria snapshots in testing table
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
Labels: 📺showcases

#3831 fix: issues with switch and checked state
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  packages/components/scripts/post-build/angular.ts
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
Labels: 🏘components

#3832 fix: issues with tab-item not triggering on every change with "onChange"
  packages/components/src/components/tab-item/tab-item.lite.tsx
Labels: 🏘components

#3833 feat: add new event for tabs
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Labels: 🏘components

#3836 fix: improve react typescript support by using correct HTMLAttributes
  .config/.jscpd.json
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/react.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  packages/components/src/utils/react.ts
Labels: 🏘components

#3849 fix: issue with custom events for react
  packages/components/scripts/post-build/components.ts
Labels: 🏘components

#3848 fix: issue with checkbox and radio not reacting in every framework
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
Labels: 🏘components

#3864 docs: optimizations regarding consumption and integration
  README.md
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
  packages/foundations/README.md
  packages/migration/README.md
Labels: 📕documentation, 🏗foundations, 🏘components

#3861 fix: issue with navigation item not auto closing desktop sub-navigation menu
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
Labels: 🏘components, 📺showcases

#3866 docs: mentioning DB Theme
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
Labels: 📕documentation, 🏘components

#3802 refactor: generic configuration for typescript eslint rule
  .xo-config.cjs
  showcases/e2e/default.ts
Labels: 📺showcases

#3875 docs: added development documentation
  README.md
  docs/development.md
Labels: 📕documentation
