Repository db-ux-design-system/core-web, pull requests merged in 2025-09, with the labels that each got.

#4879 refactor: force recreation of snapshots
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
Labels: 🍄🆙improvement

#4903 fix(select): Angular tests
  .changeset/cyan-scissors-burn.md
  packages/components/src/components/select/select.lite.tsx
  showcases/angular-showcase/src/app/components/select/select.component.html
Labels: 📕documentation, 📺showcases, 🧪test, 🅰angular, 🏘components

#4908 fix(tests): preventing test failure slip-througs to main
  .github/workflows/02-e2e-showcases.yml
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/select/select.lite.tsx
  showcases/angular-showcase/src/app/components/select/select.component.html
Labels: 🍄🆙improvement, 🚢📀cicd, 📺showcases, 🧪test, postReview, 🏘components

#4931 refactor: remove CodeQL advanced analysis config files from PRs workflow
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/pull-request.yml
Labels: 🍄🆙improvement, 🍒 cherryPick

#4922 docs(copilot instructions): mention writing tests at the start
  .github/copilot-instructions.md
Labels: 📕documentation, 🚢📀cicd

#5022 fix: old implementation for writeValue for select
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/select/select.lite.tsx
Labels: 🏘components

#5026 chore: update dependencies
  __snapshots__/accordion-item/patternhub/accordion-item-docs-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-docs-should-match-screenshot.png
  __snapshots__/card/patternhub/card-docs-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-docs-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-docs-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  __snapshots__/header/patternhub/header-docs-should-match-screenshot.png
  __snapshots__/input/patternhub/input-docs-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-docs-should-match-screenshot.png
  __snapshots__/navigation/patternhub/navigation-docs-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-docs-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-docs-should-match-screenshot.png
  __snapshots__/select/patternhub/select-docs-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-docs-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-docs-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-docs-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-docs-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-docs-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-docs-should-match-screenshot.png
  e2e/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
Labels: 📺showcases, 🏗foundations, 🏘components

#5029 fix(docs): framework-switcher doesn't update after users selection
  showcases/patternhub/scripts/get-code-files.js
Labels: 🐛bug, 📺showcases

#5051 docs: added a11y review entry for "switch" component
  showcases/shared/_accessibility-review.json
Labels: 📺showcases, 🧪test

#5075 refactor: removed older changesets
  .changeset/eleven-balloons-whisper.md
  .changeset/modern-doors-give.md
  .changeset/old-wings-appear.md
  .changeset/plenty-adults-unite.md
Labels: 📕documentation, 🍄🆙improvement

#5081 docs(checkbox): add formatted infotext examples for Angular, React & Vue
  packages/components/src/components/checkbox/docs/Angular.md
  packages/components/src/components/checkbox/docs/HTML.md
  packages/components/src/components/checkbox/docs/React.md
  packages/components/src/components/checkbox/docs/Vue.md
Labels: 📕documentation, 🏘components

#5073 fix: changelog generation for GitHub release
  .github/workflows/changesets-release-pr.yml
  scripts/github/changesets-publish.ts
Labels: 🚢📀cicd

#5101 chore: add default `version bump` text
  .github/workflows/changesets-release-pr.yml
  package.json
  scripts/github/changesets/publish.ts
  scripts/github/changesets/utils.ts
  scripts/github/changesets/version-bump.ts
Labels: 🚢📀cicd
