Repository db-ux-design-system/core-web, pull requests merged in 2025-03, with the labels that each got.

#3874 fix: corrected the token references
  __snapshots__/notification/patternhub/notification-overview-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  packages/components/src/components/notification/notification.scss
Labels: 🐛bug, 🏘components, 👩‍👧‍👦community feedback

#3886 docs: update _accessibility-review.json
  showcases/shared/_accessibility-review.json
Labels: 📺showcases

#3876 docs: update definition-of-done-pr.md
  docs/definition-of-done-pr.md
Labels: 📕documentation

#3889 docs(develoment): added relevant aspect
  docs/development.md
Labels: 🐛bug, 📕documentation

#3880 fix: issue for angular and vue triggered "checked" instead of "value"
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/radio/radio.lite.tsx
  showcases/angular-showcase/src/app/components/form/radios/radios.component.html
  showcases/angular-showcase/src/app/components/form/radios/radios.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.html
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/react-showcase/src/components/form/checkbox.tsx
  showcases/react-showcase/src/components/form/radio.tsx
  showcases/react-showcase/src/components/home/index.tsx
  showcases/vue-showcase/src/components/form/Radios.vue
  showcases/vue-showcase/src/components/home/Home.vue
Labels: 🏘components, 📺showcases, 👩‍👧‍👦community feedback

#3885 docs: update removable tag for patternhub
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-behavior-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behavior-1.txt
  showcases/shared/tag.json
Labels: 📺showcases

#3873 refactor: removed unnecessary base-line-height
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  packages/components/src/components/select/select.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/foundations/scss/density/_densities.scss
  packages/foundations/scss/fonts/_font-sizes.scss
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/styles/globals.scss
Labels: 🏗foundations, 🏘components, 📺showcases

#3900 chore(docs): small optimization
  README.md
Labels: 📕documentation

#3901 docs(README): mentioning DB Theme at a prominent place
  README.md
Labels: 📕documentation

#3902 chore(docs): corrected copy
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
  packages/foundations/README.md
  packages/migration/README.md
Labels: 📕documentation, 🏗foundations, 🏘components

#3890 fix(ally): increased weak badge border color contrast
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/firefox/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-overview-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  package-lock.json
  package.json
  packages/components/src/components/badge/badge.scss
  packages/components/src/styles/internal/_tag-components.scss
Labels: 🐛bug, 🏘components, 👂accessibility

#3911 docs: corrected the definition for full page dark/light mode overwrites
  packages/foundations/docs/Colors.md
Labels: 🐛bug, 📕documentation, 🏗foundations, 👩‍👧‍👦community feedback

#3913 refactor: adding relevant prefix
  docs/package.json
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  packages/stylelint/package.json
Labels: 🍄🆙improvement, 🏗foundations, 🏘components

#3919 refactor: dependabot updates timing
  .github/dependabot.yml
Labels: 🍄🆙improvement

#3928 refactor(stylelint): resilience
  .config/.lintstagedrc.js
  .stylelintignore
Labels: 🍄🆙improvement

#3942 refactor: adapted the custom domain
  README.md
  output/angular/README.md
  output/react/README.md
  output/stencil/custom-elements-manifest.config.js
  output/vue/README.md
  package.json
  packages/components/docs/router-usage.md
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/shared/model.ts
  packages/foundations/README.md
  packages/foundations/docs/Densities.md
  showcases/patternhub/scripts/get-properties-file.js
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations, 🏘components, 📺showcases

#3941 feat: add mainClass to DBPage
  packages/components/src/components/page/model.ts
  packages/components/src/components/page/page.lite.tsx
Labels: 🏘components

#3945 fix(textarea): scope overflow declaration
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/internal/_scrollbar.scss
Labels: 🐛bug, 🏘components

#3962 fix(docs): corrected declaration
  packages/components/src/components/radio/docs/HTML.md
Labels: 🐛bug, 📕documentation, 🏘components, 👩‍👧‍👦community feedback

#3958 chore(vscode): added filetype definition
  .vscode/settings.json
Labels: 🍄🆙improvement
