Repository db-ux-design-system/core-web, pull requests merged in 2025-01, with the labels that each got.

#3617 fix: minor issue with checkbox layout
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.scss
  showcases/shared/checkbox.json
Labels: 🏘components, 📺showcases

#3638 fix: flaky e2e test in vue-showcase for webkit
  showcases/e2e/default.ts
  showcases/e2e/tabs/tabs-snapshot.spec.ts
Labels: 📺showcases

#3641 docs: updated to new syntax
  packages/components/docs/Validation.md
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
Labels: 📕documentation, 🏘components, 📺showcases

#3640 refactor: not disable ally test rule anymore
  packages/components/src/components/select/select.spec.tsx
  showcases/e2e/link/link-a11y.spec.ts
Labels: 🏘components, 📺showcases, 👂accessibility, 🧪test

#3644 feat: transform markdown links correctly
  package-lock.json
  packages/foundations/docs/Icons.md
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/scripts/remark-transform-links.js
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations, 📺showcases

#3648 docs: add performance documentation with purgecss and csso
  packages/foundations/docs/Performance.md
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/performance/index.mdx
  showcases/patternhub/styles/highlight.scss
Labels: 📕documentation, 🏗foundations, 📺showcases, 🪩 🔥 🕺 cool topic

#3647 feat: noto sans eu
  .xo-config.cjs
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  package-lock.json
  packages/foundations/assets/fonts/NotoSans-Black-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Black.ttf
  packages/foundations/assets/fonts/NotoSans-Black.woff2
  packages/foundations/assets/fonts/NotoSans-Bold-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Bold.ttf
  packages/foundations/assets/fonts/NotoSans-Bold.woff2
  packages/foundations/assets/fonts/NotoSans-Light-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Light.ttf
  packages/foundations/assets/fonts/NotoSans-Light.woff2
  packages/foundations/assets/fonts/NotoSans-Medium-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Medium.ttf
  packages/foundations/assets/fonts/NotoSans-Medium.woff2
  packages/foundations/assets/fonts/NotoSans-Regular-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Regular.ttf
  packages/foundations/assets/fonts/NotoSans-Regular.woff2
  packages/foundations/assets/fonts/NotoSans-SemiBold-EU.woff2
  packages/foundations/assets/fonts/NotoSans-SemiBold.ttf
  packages/foundations/assets/fonts/NotoSans-SemiBold.woff2
  packages/foundations/assets/fonts/NotoSans-Thin-EU.woff2
  packages/foundations/assets/fonts/NotoSans-Thin.ttf
  packages/foundations/assets/fonts/NotoSans-Thin.woff2
  packages/foundations/assets/fonts/README.md
  packages/foundations/assets/fonts/generate-eu-fonts.ts
  packages/foundations/assets/fonts/secondary/LICENSE
  packages/foundations/assets/fonts/unicode-eu.txt
  packages/foundations/package.json
  packages/foundations/scss/fonts/include.scss
Labels: 📕documentation, 🏗foundations, 🪩 🔥 🕺 cool topic

#3652 refactor: remove obsolete variable
  packages/foundations/scss/_absolute.assets-paths.scss
  packages/foundations/scss/_default.assets-paths.scss
  packages/foundations/scss/_rollup.assets-paths.scss
  packages/foundations/scss/_webpack.assets-paths.scss
Labels: 🍄🆙improvement, 🏗foundations

#3655 docs: update documentation for custom icons
  packages/foundations/docs/CustomIcons.md
Labels: 📕documentation, 🏗foundations

#3621 refactor: directly add new bug issues to GitHub Project
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: 🍄🆙improvement, 🚢📀cicd

#3674 refactor(css): semantic declarations
  showcases/patternhub/styles/globals.scss
Labels: 🍄🆙improvement, 📺showcases

#3681 docs: added DST version
  README.md
  docs/package.json
  packages/components/package.json
  packages/foundations/package.json
Labels: 📕documentation, 🏗foundations, 🏘components

#3686 refactor: prettier
  packages/components/src/components/header/docs/HTML.md
  packages/components/test/import-styles/simple-button/index.html
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/nuxt-showcase/layouts/default.vue
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/badge/Badge.vue
  showcases/vue-showcase/src/components/header/Header.vue
Labels: 📕documentation, 🍄🆙improvement, 🏘components, 📺showcases

#3680 feat: add new whitelabel color palette
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/firefox/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/button/component/chromium/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/chromium/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-only-have-icon-for-variant-brand.png
  packages/foundations/scss/colors/_default-palette.scss
Labels: 🏗foundations

#3699 fix: issue with icon overview not using DB core icons
  showcases/patternhub/pages/foundations/icons/overview.tsx
Labels: 🐛bug, 📺showcases

#3701 chore(deps-dev): bump @double-great/stylelint-a11y from 3.0.2 to 3.0.3
  package-lock.json
  package.json
Labels: 🤫dependencies

#3700 chore: update migration tool to run 006-007
  docs/migration/v0.6.x-to-v0.7.x.md
  packages/migration/src/data.ts
  packages/migration/src/migration/additional-information.ts
  packages/migration/src/migration/index.ts
  packages/migration/src/migration/v0.0.6-v0.0.7.ts
  packages/migration/src/types.ts
  packages/migration/test/v0.0.6-v0.0.7/has-changes.txt
  packages/migration/test/v0.0.6-v0.0.7/no-change.txt
  packages/migration/test/v0.0.6-v0.0.7/v006_v007.spec.ts
Labels: 📕documentation

#3711 fix(docs): escaping
  docs/migration/v0.6.x-to-v0.7.x.md
Labels: 🐛bug, 📕documentation

#3712 fix: migration commander error
  packages/migration/src/data.ts
Labels: 🐛bug

#3687 feat: added nested `.nvmrc`
  packages/foundations/assets/fonts/README.md
  packages/foundations/assets/fonts/generate-eu-fonts.ts
  packages/foundations/package.json
Labels: 📕documentation, 🍄🆙improvement, 🏗foundations

#3454 refactor(CI/CD): replace shell script by JavaScript
  .github/scripts/build-gh-page.sh
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .github/scripts/publish-npm.sh
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/cleanup.yml
  .gitignore
  .xo-config.cjs
  package-lock.json
  package.json
  scripts/dev.ts
  scripts/github/build-gh-page.ts
  scripts/github/cleanup-gh-pages.js
  scripts/github/get-playwright-version.ts
  scripts/github/get-release.ts
  scripts/github/package-version.ts
  scripts/github/publish-npm.js
  scripts/package.json
  scripts/prettier-stage.js
  scripts/tests/fixtures/out/test.txt
  scripts/tests/github/build-gh-page.spec.ts
  scripts/tests/github/get-playwright-version.spec.ts
  scripts/tests/github/get-release.spec.ts
  scripts/tests/github/package-version.spec.ts
  scripts/tsconfig.json
  scripts/vitest.config.ts
Labels: 🍄🆙improvement, 🚢📀cicd

#3741 fix: generate-icon-types.ts to use proper .js ending
  packages/foundations/scripts/local/generate-icon-types.ts
Labels: 🏗foundations

#3742 docs: added Web Components to the listing
  packages/components/README.md
Labels: 📕documentation, 🏘components

#3455 fix: some issues for mobile layouts
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/styles/globals.scss
Labels: 🏘components, 📺showcases

#3756 Test cicd sr playwright shard
  .github/workflows/02-e2e-screen-reader.yml
  showcases/react-showcase/package.json
Labels: 🚢📀cicd, 📺showcases
