Repository db-ux-design-system/core-web, pull requests merged in 2025-10, with the labels that each got.

#5109 fix: JS framework components packages are missing db-ux dependencies
  .changeset/shaggy-ligers-grow.md
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  packages/components/package.json
Labels: 🐛bug, 📕documentation, 🏘components

#4787 docs(select): aligned data
  .config/.jscpd.json
  __snapshots__/custom-select/showcase/chromium-highContrast/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/chromium/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-chrome/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/webkit/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/chromium/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/firefox/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/mobile-chrome/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/patternhub/select-docs-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/firefox/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/custom-select/docs/Angular.md
  packages/components/src/components/custom-select/docs/HTML.md
  packages/components/src/components/custom-select/docs/React.md
  packages/components/src/components/custom-select/docs/Vue.md
  packages/components/src/components/select/docs/Angular.md
  packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/select/docs/React.md
  packages/components/src/components/select/docs/Vue.md
  packages/components/src/components/select/index.html
  packages/components/src/components/select/select.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/screen-reader/__snapshots__/windows/chromium/DBSelect-default-1.txt
  showcases/shared/custom-select.json
  showcases/shared/select.json
  showcases/vue-showcase/src/components/form/Form.vue
Labels: 📕documentation, 🍄🆙improvement, 📺showcases, 🛠️configuration, 🏘components

#5130 Revert "chore(release): version packages (#5129)"
  .changeset/chatty-jobs-tell.md
  .changeset/refactor-enable-hidden.md
  output/angular/CHANGELOG.md
  output/angular/package.json
  output/react/CHANGELOG.md
  output/react/package.json
  output/stencil/CHANGELOG.md
  output/stencil/package.json
  output/vue/CHANGELOG.md
  output/vue/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
Labels: 🍄🆙improvement

#5134 fix(dependabot): added explicit update types for all dependencies
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#5135 fix(dependabot): added explicit `patterns` definition for patch group
  .github/dependabot.yml
Labels: 🍄🆙improvement, 🚢📀cicd

#5121 feat(ci/cd): Add GitHub Action for auto-assigning PRs
  .github/workflows/auto-assign.yml
Labels: 🍄🆙improvement, 🚢📀cicd, 🍒 cherryPick

#5138 chore: update cancel-on-failure jobs for `default.yml`
  .github/actions/cancel-workflow/action.yml
  .github/workflows/00-cancel-workflow.yml
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/default.yml
Labels: 🚢📀cicd

#5118 chore: 🤖 Add strict .npmrc file
  .npmrc
  package.json
Labels: 🍒 cherryPick

#5153 refactor: remove obsolete override
  package-lock.json
  package.json
Labels: 🍄🆙improvement

#5157 fix: cancel-workflow and ensure assets are encrypted for showcases
  .github/workflows/00-cancel-workflow.yml
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/default.yml
Labels: 🚢📀cicd

#5140 chore: preview branch output inside description instead of comment
  .github/workflows/03-preview-url-pr-description.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/default.yml
  .github/workflows/pull-request-opened.yml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  scripts/github/preview-url-pr-description.js
Labels: 🚢📀cicd

#5159 fix: select placeholder jumping with label above
  .changeset/heavy-days-call.md
  packages/components/src/styles/internal/_select-components.scss
Labels: 📕documentation, 🏘components

#5174 feat: custom changelog
  .changeset/config.json
  .changeset/fix-dbtabs-arrows-on-resize.md
  .changeset/sour-brooms-tie.md
  package-lock.json
  package.json
  packages/components/README.md
  scripts/github/changesets/create-changelog.js
  scripts/github/changesets/publish.ts
  scripts/github/changesets/utils.ts
Labels: 📕documentation, 🏘components

#5176 feat: Create GitHub Copilot instructions feedback template
  .github/ISSUE_TEMPLATE/github_copilot_instructions.yaml
Labels: 🚢📀cicd
