Repository db-ux-design-system/core-web, pull requests merged in 2025-05, with the labels that each got.

#4145 refactor(input): added `min` and `max` properties
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/package.json
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/components/input/Input.vue
Labels: 🍄🆙 improvement

#4144 refactor(input): differentiating expected type for min and max
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Labels: 🐛bug

#4151 fix: issues with tailwind v4
  packages/foundations/package.json
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/_variables.scss
  packages/foundations/tailwind/theme/dimensions.scss
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Labels: 👩‍👧‍👦communityFeedback

#4065 fix: enable multiline for navigation-items links but not buttons
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  __snapshots__/header/showcase/mobile-safari/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  packages/components/src/components/header/header.scss
  packages/foundations/docs/BrowserSupport.md
  packages/foundations/scss/defaults/_default-variables.scss
Labels: 🧱components, 📺showcases

#4188 fix: corrected focus outline color
  packages/foundations/scss/helpers/_focus.scss
Labels: 🐛bug

#4213 fix: missing ariaDescribedBy property for form-components
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-properties-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
Labels: 👩‍👧‍👦communityFeedback

#4182 feat: research table component
  docs/research/table.md
Labels: 📕documentation

#4255 docs: how to release
  docs/release-management.md
Labels: 📕documentation

#4262 docs: linting issues for release-management.md
  docs/release-management.md
Labels: 📕documentation

#4200 feat: add improvements for custom-select
  __snapshots__/custom-select/patternhub/custom-select-properties-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/chromium/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-chrome/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-safari/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/webkit/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.ts
  showcases/react-showcase/src/components/custom-select/index.tsx
  showcases/shared/custom-select.json
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Labels: 🪩🔥🕺coolTopic

#4218 refactor: replace `title`-attribute for removable tag with DBTooltip
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
Labels: 👩‍👧‍👦communityFeedback

#4202 fix: focus outline for input calendar
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  packages/components/src/components/input/input.scss
  packages/foundations/scss/helpers/_focus.scss
Labels: 🐛bug, 👩‍👧‍👦communityFeedback

#4270 fix(tabs): only set aria-controls attribute when tab panels exist
  packages/components/src/components/tabs/tabs.lite.tsx
Labels: 🐛bug, 👩‍👧‍👦communityFeedback

#4261 docs: add dark light switcher for patternhub
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/styles/globals.scss
Labels: 📺showcases
